// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.1.0.34.2
// Netlist written on Wed Dec  4 02:54:11 2024
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/kethollingsworth/desktop/repositories/microps/squat-hero/fpga/spi_fpga/source/spi/top.sv"
// file 1 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ice40up.v"
// file 2 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ice40up.vhd"
// file 3 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 4 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 5 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 6 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 7 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 8 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 9 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 10 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 11 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 12 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 13 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 14 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 15 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 16 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 17 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 18 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 19 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 20 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 21 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 22 "c:/lscc/radiant/2024.1/ip/common/adder/rtl/lscc_adder.v"
// file 23 "c:/lscc/radiant/2024.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 24 "c:/lscc/radiant/2024.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 25 "c:/lscc/radiant/2024.1/ip/common/counter/rtl/lscc_cntr.v"
// file 26 "c:/lscc/radiant/2024.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 27 "c:/lscc/radiant/2024.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 28 "c:/lscc/radiant/2024.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 29 "c:/lscc/radiant/2024.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 30 "c:/lscc/radiant/2024.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 31 "c:/lscc/radiant/2024.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 32 "c:/lscc/radiant/2024.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 33 "c:/lscc/radiant/2024.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 34 "c:/lscc/radiant/2024.1/ip/common/rom/rtl/lscc_rom.v"
// file 35 "c:/lscc/radiant/2024.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 36 "c:/lscc/radiant/2024.1/ip/pmi/pmi_add.v"
// file 37 "c:/lscc/radiant/2024.1/ip/pmi/pmi_addsub.v"
// file 38 "c:/lscc/radiant/2024.1/ip/pmi/pmi_complex_mult.v"
// file 39 "c:/lscc/radiant/2024.1/ip/pmi/pmi_counter.v"
// file 40 "c:/lscc/radiant/2024.1/ip/pmi/pmi_dsp.v"
// file 41 "c:/lscc/radiant/2024.1/ip/pmi/pmi_fifo.v"
// file 42 "c:/lscc/radiant/2024.1/ip/pmi/pmi_fifo_dc.v"
// file 43 "c:/lscc/radiant/2024.1/ip/pmi/pmi_mac.v"
// file 44 "c:/lscc/radiant/2024.1/ip/pmi/pmi_mult.v"
// file 45 "c:/lscc/radiant/2024.1/ip/pmi/pmi_multaddsub.v"
// file 46 "c:/lscc/radiant/2024.1/ip/pmi/pmi_multaddsubsum.v"
// file 47 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dp.v"
// file 48 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dp_be.v"
// file 49 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dq.v"
// file 50 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dq_be.v"
// file 51 "c:/lscc/radiant/2024.1/ip/pmi/pmi_rom.v"
// file 52 "c:/lscc/radiant/2024.1/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input clk, input sck, input sdi, output sdo, input load, 
            output done, output true);
    
    (* is_clock=1, lineinfo="@0(8[18],8[21])" *) wire sck_c;
    (* is_clock=1, lineinfo="@0(17[57],17[64])" *) wire int_osc;
    
    wire GND_net, VCC_net, sdi_c, load_c, done_c, true_c;
    (* lineinfo="@0(24[17],24[20])" *) wire [9:0]x_1;
    
    wire n17, n16;
    
    VHI i2 (.Z(VCC_net));
    (* syn_instantiated=1 *) LSOSC_CORE lf_osc (.CLKLFPU(VCC_net), .CLKLFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKLF(int_osc));
    defparam lf_osc.FABRIC_TRIME = "DISABLE";
    (* lineinfo="@0(10[18],10[21])" *) OB sdo_pad (.I(GND_net), .O(sdo));
    (* lut_function="(A+((C+(D))+!B))" *) LUT4 i6_4_lut (.A(x_1[4]), .B(x_1[7]), 
            .C(x_1[0]), .D(x_1[6]), .Z(n16));
    defparam i6_4_lut.INIT = "0xfffb";
    (* lineinfo="@0(12[18],12[22])" *) OB done_pad (.I(done_c), .O(done));
    (* lineinfo="@0(13[15],13[19])" *) OB true_pad (.I(true_c), .O(true));
    (* lineinfo="@0(8[18],8[21])" *) IB sck_pad (.I(sck), .O(sck_c));
    (* lineinfo="@0(9[18],9[21])" *) IB sdi_pad (.I(sdi), .O(sdi_c));
    (* lineinfo="@0(11[18],11[22])" *) IB load_pad (.I(load), .O(load_c));
    (* lut_function="(A+((C+!(D))+!B))" *) LUT4 i7_4_lut (.A(x_1[2]), .B(x_1[9]), 
            .C(x_1[8]), .D(x_1[3]), .Z(n17));
    defparam i7_4_lut.INIT = "0xfbff";
    (* lut_function="(!(A+((C+!(D))+!B)))", lineinfo="@0(28[13],28[34])" *) LUT4 i939_4_lut (.A(n17), 
            .B(x_1[5]), .C(n16), .D(x_1[1]), .Z(true_c));
    defparam i939_4_lut.INIT = "0x0400";
    (* lineinfo="@0(35[9],53[6])" *) spi spi_inst (done_c, {x_1}, int_osc, 
            sck_c, load_c, sdi_c);
    VLO i1 (.Z(GND_net));
    
endmodule

//
// Verilog Description of module spi
//

module spi (output done_c, output [9:0]x_1, input int_osc, input sck_c, 
            input load_c, input sdi_c);
    
    (* is_clock=1, lineinfo="@0(17[57],17[64])" *) wire int_osc;
    (* is_clock=1, lineinfo="@0(8[18],8[21])" *) wire sck_c;
    (* lineinfo="@0(70[19],70[31])" *) wire [127:0]datacaptured;
    
    wire n1342, GND_net;
    (* lineinfo="@0(71[13],71[22])" *) wire [31:0]bit_index;
    
    wire n727;
    wire [31:0]n167;
    
    wire n735, n1357, n737, n733, n1354, n731, n1351, n729, 
        n1348, n743, n1369, n745, n741, n1366, n882, n530, n739, 
        n1363, n1360, n747, n1375, n749, n1372, n526, n1079, 
        n1077, n518, n6, n5, n28, n38, n36, n42, n40, n41, 
        n39, n1378, n751, n1345, n757, n1390, n755, n1387, n753, 
        n1384, n1381, VCC_net;
    
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i2 (.D(datacaptured[0]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[1]));
    defparam datacaptured__i2.REGSET = "RESET";
    defparam datacaptured__i2.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(92[30],92[43])" *) FA2 add_5_add_5_1 (.A0(GND_net), .B0(GND_net), 
            .C0(GND_net), .A1(GND_net), .B1(bit_index[0]), .C1(VCC_net), 
            .D1(n1342), .CI1(n1342), .CO0(n1342), .CO1(n727), .S1(n167[0]));
    defparam add_5_add_5_1.INIT0 = "0xc33c";
    defparam add_5_add_5_1.INIT1 = "0xc33c";
    (* lineinfo="@0(92[30],92[43])" *) FA2 add_5_add_5_11 (.A0(GND_net), .B0(bit_index[9]), 
            .C0(GND_net), .D0(n735), .CI0(n735), .A1(GND_net), .B1(bit_index[10]), 
            .C1(GND_net), .D1(n1357), .CI1(n1357), .CO0(n1357), .CO1(n737), 
            .S0(n167[9]), .S1(n167[10]));
    defparam add_5_add_5_11.INIT0 = "0xc33c";
    defparam add_5_add_5_11.INIT1 = "0xc33c";
    (* lineinfo="@0(92[30],92[43])" *) FA2 add_5_add_5_9 (.A0(GND_net), .B0(bit_index[7]), 
            .C0(GND_net), .D0(n733), .CI0(n733), .A1(GND_net), .B1(bit_index[8]), 
            .C1(GND_net), .D1(n1354), .CI1(n1354), .CO0(n1354), .CO1(n735), 
            .S0(n167[7]), .S1(n167[8]));
    defparam add_5_add_5_9.INIT0 = "0xc33c";
    defparam add_5_add_5_9.INIT1 = "0xc33c";
    (* lineinfo="@0(92[30],92[43])" *) FA2 add_5_add_5_7 (.A0(GND_net), .B0(bit_index[5]), 
            .C0(GND_net), .D0(n731), .CI0(n731), .A1(GND_net), .B1(bit_index[6]), 
            .C1(GND_net), .D1(n1351), .CI1(n1351), .CO0(n1351), .CO1(n733), 
            .S0(n167[5]), .S1(n167[6]));
    defparam add_5_add_5_7.INIT0 = "0xc33c";
    defparam add_5_add_5_7.INIT1 = "0xc33c";
    (* lineinfo="@0(92[30],92[43])" *) FA2 add_5_add_5_5 (.A0(GND_net), .B0(bit_index[3]), 
            .C0(GND_net), .D0(n729), .CI0(n729), .A1(GND_net), .B1(bit_index[4]), 
            .C1(GND_net), .D1(n1348), .CI1(n1348), .CO0(n1348), .CO1(n731), 
            .S0(n167[3]), .S1(n167[4]));
    defparam add_5_add_5_5.INIT0 = "0xc33c";
    defparam add_5_add_5_5.INIT1 = "0xc33c";
    (* lineinfo="@0(92[30],92[43])" *) FA2 add_5_add_5_19 (.A0(GND_net), .B0(bit_index[17]), 
            .C0(GND_net), .D0(n743), .CI0(n743), .A1(GND_net), .B1(bit_index[18]), 
            .C1(GND_net), .D1(n1369), .CI1(n1369), .CO0(n1369), .CO1(n745), 
            .S0(n167[17]), .S1(n167[18]));
    defparam add_5_add_5_19.INIT0 = "0xc33c";
    defparam add_5_add_5_19.INIT1 = "0xc33c";
    (* lineinfo="@0(92[30],92[43])" *) FA2 add_5_add_5_17 (.A0(GND_net), .B0(bit_index[15]), 
            .C0(GND_net), .D0(n741), .CI0(n741), .A1(GND_net), .B1(bit_index[16]), 
            .C1(GND_net), .D1(n1366), .CI1(n1366), .CO0(n1366), .CO1(n743), 
            .S0(n167[15]), .S1(n167[16]));
    defparam add_5_add_5_17.INIT0 = "0xc33c";
    defparam add_5_add_5_17.INIT1 = "0xc33c";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ done (.D(n530), 
            .SP(VCC_net), .CK(sck_c), .SR(GND_net), .Q(done_c));
    defparam done.REGSET = "RESET";
    defparam done.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i3 (.D(datacaptured[1]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[2]));
    defparam datacaptured__i3.REGSET = "RESET";
    defparam datacaptured__i3.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(92[30],92[43])" *) FA2 add_5_add_5_15 (.A0(GND_net), .B0(bit_index[13]), 
            .C0(GND_net), .D0(n739), .CI0(n739), .A1(GND_net), .B1(bit_index[14]), 
            .C1(GND_net), .D1(n1363), .CI1(n1363), .CO0(n1363), .CO1(n741), 
            .S0(n167[13]), .S1(n167[14]));
    defparam add_5_add_5_15.INIT0 = "0xc33c";
    defparam add_5_add_5_15.INIT1 = "0xc33c";
    (* lineinfo="@0(92[30],92[43])" *) FA2 add_5_add_5_13 (.A0(GND_net), .B0(bit_index[11]), 
            .C0(GND_net), .D0(n737), .CI0(n737), .A1(GND_net), .B1(bit_index[12]), 
            .C1(GND_net), .D1(n1360), .CI1(n1360), .CO0(n1360), .CO1(n739), 
            .S0(n167[11]), .S1(n167[12]));
    defparam add_5_add_5_13.INIT0 = "0xc33c";
    defparam add_5_add_5_13.INIT1 = "0xc33c";
    (* lineinfo="@0(92[30],92[43])" *) FA2 add_5_add_5_23 (.A0(GND_net), .B0(bit_index[21]), 
            .C0(GND_net), .D0(n747), .CI0(n747), .A1(GND_net), .B1(bit_index[22]), 
            .C1(GND_net), .D1(n1375), .CI1(n1375), .CO0(n1375), .CO1(n749), 
            .S0(n167[21]), .S1(n167[22]));
    defparam add_5_add_5_23.INIT0 = "0xc33c";
    defparam add_5_add_5_23.INIT1 = "0xc33c";
    (* lineinfo="@0(92[30],92[43])" *) FA2 add_5_add_5_21 (.A0(GND_net), .B0(bit_index[19]), 
            .C0(GND_net), .D0(n745), .CI0(n745), .A1(GND_net), .B1(bit_index[20]), 
            .C1(GND_net), .D1(n1372), .CI1(n1372), .CO0(n1372), .CO1(n747), 
            .S0(n167[19]), .S1(n167[20]));
    defparam add_5_add_5_21.INIT0 = "0xc33c";
    defparam add_5_add_5_21.INIT1 = "0xc33c";
    (* lut_function="(A (B))", lineinfo="@0(83[19],99[12])" *) LUT4 i394_2_lut (.A(n882), 
            .B(n167[31]), .Z(n526));
    defparam i394_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C (D))))" *) LUT4 i865_4_lut (.A(bit_index[5]), 
            .B(bit_index[2]), .C(bit_index[6]), .D(bit_index[3]), .Z(n1079));
    defparam i865_4_lut.INIT = "0x8000";
    (* lut_function="(A (B (C (D))))" *) LUT4 i863_4_lut (.A(bit_index[0]), 
            .B(bit_index[4]), .C(bit_index[1]), .D(n882), .Z(n1077));
    defparam i863_4_lut.INIT = "0x8000";
    (* lut_function="(A+!(B (C)))" *) LUT4 i2_3_lut (.A(n518), .B(n1077), 
            .C(n1079), .Z(n6));
    defparam i2_3_lut.INIT = "0xbfbf";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut (.A(bit_index[7]), .B(bit_index[31]), 
            .Z(n5));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lut_function="(!(A+!(B+!(C+(D)))))", lineinfo="@0(83[19],99[12])" *) LUT4 i398_4_lut (.A(load_c), 
            .B(done_c), .C(n5), .D(n6), .Z(n530));
    defparam i398_4_lut.INIT = "0x4445";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i0 (.D(n167[0]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[0]));
    defparam bit_index__i0.REGSET = "RESET";
    defparam bit_index__i0.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i4 (.D(datacaptured[2]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[3]));
    defparam datacaptured__i4.REGSET = "RESET";
    defparam datacaptured__i4.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i5 (.D(datacaptured[3]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[4]));
    defparam datacaptured__i5.REGSET = "RESET";
    defparam datacaptured__i5.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i6 (.D(datacaptured[4]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[5]));
    defparam datacaptured__i6.REGSET = "RESET";
    defparam datacaptured__i6.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i7 (.D(datacaptured[5]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[6]));
    defparam datacaptured__i7.REGSET = "RESET";
    defparam datacaptured__i7.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i8 (.D(datacaptured[6]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[7]));
    defparam datacaptured__i8.REGSET = "RESET";
    defparam datacaptured__i8.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i9 (.D(datacaptured[7]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[8]));
    defparam datacaptured__i9.REGSET = "RESET";
    defparam datacaptured__i9.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i10 (.D(datacaptured[8]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[9]));
    defparam datacaptured__i10.REGSET = "RESET";
    defparam datacaptured__i10.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i11 (.D(datacaptured[9]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[10]));
    defparam datacaptured__i11.REGSET = "RESET";
    defparam datacaptured__i11.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i12 (.D(datacaptured[10]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[11]));
    defparam datacaptured__i12.REGSET = "RESET";
    defparam datacaptured__i12.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i13 (.D(datacaptured[11]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[12]));
    defparam datacaptured__i13.REGSET = "RESET";
    defparam datacaptured__i13.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i14 (.D(datacaptured[12]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[13]));
    defparam datacaptured__i14.REGSET = "RESET";
    defparam datacaptured__i14.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i15 (.D(datacaptured[13]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[14]));
    defparam datacaptured__i15.REGSET = "RESET";
    defparam datacaptured__i15.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i16 (.D(datacaptured[14]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[15]));
    defparam datacaptured__i16.REGSET = "RESET";
    defparam datacaptured__i16.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i17 (.D(datacaptured[15]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[16]));
    defparam datacaptured__i17.REGSET = "RESET";
    defparam datacaptured__i17.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i18 (.D(datacaptured[16]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[17]));
    defparam datacaptured__i18.REGSET = "RESET";
    defparam datacaptured__i18.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i19 (.D(datacaptured[17]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[18]));
    defparam datacaptured__i19.REGSET = "RESET";
    defparam datacaptured__i19.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i20 (.D(datacaptured[18]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[19]));
    defparam datacaptured__i20.REGSET = "RESET";
    defparam datacaptured__i20.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i21 (.D(datacaptured[19]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[20]));
    defparam datacaptured__i21.REGSET = "RESET";
    defparam datacaptured__i21.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i22 (.D(datacaptured[20]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[21]));
    defparam datacaptured__i22.REGSET = "RESET";
    defparam datacaptured__i22.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i23 (.D(datacaptured[21]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[22]));
    defparam datacaptured__i23.REGSET = "RESET";
    defparam datacaptured__i23.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i24 (.D(datacaptured[22]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[23]));
    defparam datacaptured__i24.REGSET = "RESET";
    defparam datacaptured__i24.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i25 (.D(datacaptured[23]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[24]));
    defparam datacaptured__i25.REGSET = "RESET";
    defparam datacaptured__i25.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i26 (.D(datacaptured[24]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[25]));
    defparam datacaptured__i26.REGSET = "RESET";
    defparam datacaptured__i26.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i27 (.D(datacaptured[25]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[26]));
    defparam datacaptured__i27.REGSET = "RESET";
    defparam datacaptured__i27.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i28 (.D(datacaptured[26]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[27]));
    defparam datacaptured__i28.REGSET = "RESET";
    defparam datacaptured__i28.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i29 (.D(datacaptured[27]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[28]));
    defparam datacaptured__i29.REGSET = "RESET";
    defparam datacaptured__i29.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i30 (.D(datacaptured[28]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[29]));
    defparam datacaptured__i30.REGSET = "RESET";
    defparam datacaptured__i30.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i31 (.D(datacaptured[29]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[30]));
    defparam datacaptured__i31.REGSET = "RESET";
    defparam datacaptured__i31.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i32 (.D(datacaptured[30]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[31]));
    defparam datacaptured__i32.REGSET = "RESET";
    defparam datacaptured__i32.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i33 (.D(datacaptured[31]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[32]));
    defparam datacaptured__i33.REGSET = "RESET";
    defparam datacaptured__i33.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i34 (.D(datacaptured[32]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[33]));
    defparam datacaptured__i34.REGSET = "RESET";
    defparam datacaptured__i34.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i35 (.D(datacaptured[33]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[34]));
    defparam datacaptured__i35.REGSET = "RESET";
    defparam datacaptured__i35.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i36 (.D(datacaptured[34]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[35]));
    defparam datacaptured__i36.REGSET = "RESET";
    defparam datacaptured__i36.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i37 (.D(datacaptured[35]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[36]));
    defparam datacaptured__i37.REGSET = "RESET";
    defparam datacaptured__i37.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i38 (.D(datacaptured[36]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[37]));
    defparam datacaptured__i38.REGSET = "RESET";
    defparam datacaptured__i38.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i39 (.D(datacaptured[37]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[38]));
    defparam datacaptured__i39.REGSET = "RESET";
    defparam datacaptured__i39.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i40 (.D(datacaptured[38]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[39]));
    defparam datacaptured__i40.REGSET = "RESET";
    defparam datacaptured__i40.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i41 (.D(datacaptured[39]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[40]));
    defparam datacaptured__i41.REGSET = "RESET";
    defparam datacaptured__i41.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i42 (.D(datacaptured[40]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[41]));
    defparam datacaptured__i42.REGSET = "RESET";
    defparam datacaptured__i42.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i43 (.D(datacaptured[41]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[42]));
    defparam datacaptured__i43.REGSET = "RESET";
    defparam datacaptured__i43.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i44 (.D(datacaptured[42]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[43]));
    defparam datacaptured__i44.REGSET = "RESET";
    defparam datacaptured__i44.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i45 (.D(datacaptured[43]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[44]));
    defparam datacaptured__i45.REGSET = "RESET";
    defparam datacaptured__i45.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i46 (.D(datacaptured[44]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[45]));
    defparam datacaptured__i46.REGSET = "RESET";
    defparam datacaptured__i46.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i47 (.D(datacaptured[45]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[46]));
    defparam datacaptured__i47.REGSET = "RESET";
    defparam datacaptured__i47.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i48 (.D(datacaptured[46]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[47]));
    defparam datacaptured__i48.REGSET = "RESET";
    defparam datacaptured__i48.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i49 (.D(datacaptured[47]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[48]));
    defparam datacaptured__i49.REGSET = "RESET";
    defparam datacaptured__i49.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i50 (.D(datacaptured[48]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[49]));
    defparam datacaptured__i50.REGSET = "RESET";
    defparam datacaptured__i50.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i51 (.D(datacaptured[49]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[50]));
    defparam datacaptured__i51.REGSET = "RESET";
    defparam datacaptured__i51.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i52 (.D(datacaptured[50]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[51]));
    defparam datacaptured__i52.REGSET = "RESET";
    defparam datacaptured__i52.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i53 (.D(datacaptured[51]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[52]));
    defparam datacaptured__i53.REGSET = "RESET";
    defparam datacaptured__i53.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i54 (.D(datacaptured[52]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[53]));
    defparam datacaptured__i54.REGSET = "RESET";
    defparam datacaptured__i54.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i55 (.D(datacaptured[53]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[54]));
    defparam datacaptured__i55.REGSET = "RESET";
    defparam datacaptured__i55.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i56 (.D(datacaptured[54]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[55]));
    defparam datacaptured__i56.REGSET = "RESET";
    defparam datacaptured__i56.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i57 (.D(datacaptured[55]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[56]));
    defparam datacaptured__i57.REGSET = "RESET";
    defparam datacaptured__i57.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i58 (.D(datacaptured[56]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[57]));
    defparam datacaptured__i58.REGSET = "RESET";
    defparam datacaptured__i58.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i59 (.D(datacaptured[57]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[58]));
    defparam datacaptured__i59.REGSET = "RESET";
    defparam datacaptured__i59.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i60 (.D(datacaptured[58]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[59]));
    defparam datacaptured__i60.REGSET = "RESET";
    defparam datacaptured__i60.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i61 (.D(datacaptured[59]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[60]));
    defparam datacaptured__i61.REGSET = "RESET";
    defparam datacaptured__i61.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i62 (.D(datacaptured[60]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[61]));
    defparam datacaptured__i62.REGSET = "RESET";
    defparam datacaptured__i62.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i63 (.D(datacaptured[61]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[62]));
    defparam datacaptured__i63.REGSET = "RESET";
    defparam datacaptured__i63.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i64 (.D(datacaptured[62]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[63]));
    defparam datacaptured__i64.REGSET = "RESET";
    defparam datacaptured__i64.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i65 (.D(datacaptured[63]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[64]));
    defparam datacaptured__i65.REGSET = "RESET";
    defparam datacaptured__i65.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i66 (.D(datacaptured[64]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[65]));
    defparam datacaptured__i66.REGSET = "RESET";
    defparam datacaptured__i66.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i67 (.D(datacaptured[65]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[66]));
    defparam datacaptured__i67.REGSET = "RESET";
    defparam datacaptured__i67.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i68 (.D(datacaptured[66]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[67]));
    defparam datacaptured__i68.REGSET = "RESET";
    defparam datacaptured__i68.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i69 (.D(datacaptured[67]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[68]));
    defparam datacaptured__i69.REGSET = "RESET";
    defparam datacaptured__i69.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i70 (.D(datacaptured[68]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[69]));
    defparam datacaptured__i70.REGSET = "RESET";
    defparam datacaptured__i70.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i71 (.D(datacaptured[69]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[70]));
    defparam datacaptured__i71.REGSET = "RESET";
    defparam datacaptured__i71.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i72 (.D(datacaptured[70]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[71]));
    defparam datacaptured__i72.REGSET = "RESET";
    defparam datacaptured__i72.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i73 (.D(datacaptured[71]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[72]));
    defparam datacaptured__i73.REGSET = "RESET";
    defparam datacaptured__i73.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i74 (.D(datacaptured[72]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[73]));
    defparam datacaptured__i74.REGSET = "RESET";
    defparam datacaptured__i74.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i75 (.D(datacaptured[73]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[74]));
    defparam datacaptured__i75.REGSET = "RESET";
    defparam datacaptured__i75.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i76 (.D(datacaptured[74]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[75]));
    defparam datacaptured__i76.REGSET = "RESET";
    defparam datacaptured__i76.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i77 (.D(datacaptured[75]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[76]));
    defparam datacaptured__i77.REGSET = "RESET";
    defparam datacaptured__i77.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i78 (.D(datacaptured[76]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[77]));
    defparam datacaptured__i78.REGSET = "RESET";
    defparam datacaptured__i78.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i79 (.D(datacaptured[77]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[78]));
    defparam datacaptured__i79.REGSET = "RESET";
    defparam datacaptured__i79.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i80 (.D(datacaptured[78]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[79]));
    defparam datacaptured__i80.REGSET = "RESET";
    defparam datacaptured__i80.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i81 (.D(datacaptured[79]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[80]));
    defparam datacaptured__i81.REGSET = "RESET";
    defparam datacaptured__i81.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i82 (.D(datacaptured[80]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[81]));
    defparam datacaptured__i82.REGSET = "RESET";
    defparam datacaptured__i82.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i83 (.D(datacaptured[81]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[82]));
    defparam datacaptured__i83.REGSET = "RESET";
    defparam datacaptured__i83.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i84 (.D(datacaptured[82]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[83]));
    defparam datacaptured__i84.REGSET = "RESET";
    defparam datacaptured__i84.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i85 (.D(datacaptured[83]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[84]));
    defparam datacaptured__i85.REGSET = "RESET";
    defparam datacaptured__i85.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i86 (.D(datacaptured[84]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[85]));
    defparam datacaptured__i86.REGSET = "RESET";
    defparam datacaptured__i86.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i87 (.D(datacaptured[85]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[86]));
    defparam datacaptured__i87.REGSET = "RESET";
    defparam datacaptured__i87.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i88 (.D(datacaptured[86]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[87]));
    defparam datacaptured__i88.REGSET = "RESET";
    defparam datacaptured__i88.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i89 (.D(datacaptured[87]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[88]));
    defparam datacaptured__i89.REGSET = "RESET";
    defparam datacaptured__i89.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i90 (.D(datacaptured[88]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[89]));
    defparam datacaptured__i90.REGSET = "RESET";
    defparam datacaptured__i90.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i91 (.D(datacaptured[89]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[90]));
    defparam datacaptured__i91.REGSET = "RESET";
    defparam datacaptured__i91.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i92 (.D(datacaptured[90]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[91]));
    defparam datacaptured__i92.REGSET = "RESET";
    defparam datacaptured__i92.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i1 (.D(n167[1]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[1]));
    defparam bit_index__i1.REGSET = "RESET";
    defparam bit_index__i1.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i2 (.D(n167[2]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[2]));
    defparam bit_index__i2.REGSET = "RESET";
    defparam bit_index__i2.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i3 (.D(n167[3]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[3]));
    defparam bit_index__i3.REGSET = "RESET";
    defparam bit_index__i3.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B))", lineinfo="@0(89[26],89[41])" *) LUT4 i5_2_lut (.A(bit_index[27]), 
            .B(bit_index[29]), .Z(n28));
    defparam i5_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(89[26],89[41])" *) LUT4 i15_4_lut (.A(bit_index[11]), 
            .B(bit_index[9]), .C(bit_index[26]), .D(bit_index[10]), .Z(n38));
    defparam i15_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(89[26],89[41])" *) LUT4 i13_4_lut (.A(bit_index[30]), 
            .B(bit_index[14]), .C(bit_index[13]), .D(bit_index[12]), .Z(n36));
    defparam i13_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(89[26],89[41])" *) LUT4 i19_4_lut (.A(bit_index[24]), 
            .B(n38), .C(n28), .D(bit_index[16]), .Z(n42));
    defparam i19_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(89[26],89[41])" *) LUT4 i17_4_lut (.A(bit_index[22]), 
            .B(bit_index[28]), .C(bit_index[25]), .D(bit_index[17]), .Z(n40));
    defparam i17_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(89[26],89[41])" *) LUT4 i18_4_lut (.A(bit_index[21]), 
            .B(n36), .C(bit_index[19]), .D(bit_index[15]), .Z(n41));
    defparam i18_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(89[26],89[41])" *) LUT4 i16_4_lut (.A(bit_index[18]), 
            .B(bit_index[8]), .C(bit_index[20]), .D(bit_index[23]), .Z(n39));
    defparam i16_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@0(89[26],89[41])" *) LUT4 i22_4_lut (.A(n39), 
            .B(n41), .C(n40), .D(n42), .Z(n518));
    defparam i22_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B+(D))+!A (B+((D)+!C)))", lineinfo="@0(83[19],99[12])" *) LUT4 i2_4_lut (.A(bit_index[7]), 
            .B(bit_index[31]), .C(n518), .D(load_c), .Z(n882));
    defparam i2_4_lut.INIT = "0xffcd";
    (* lineinfo="@0(92[30],92[43])" *) FA2 add_5_add_5_25 (.A0(GND_net), .B0(bit_index[23]), 
            .C0(GND_net), .D0(n749), .CI0(n749), .A1(GND_net), .B1(bit_index[24]), 
            .C1(GND_net), .D1(n1378), .CI1(n1378), .CO0(n1378), .CO1(n751), 
            .S0(n167[23]), .S1(n167[24]));
    defparam add_5_add_5_25.INIT0 = "0xc33c";
    defparam add_5_add_5_25.INIT1 = "0xc33c";
    (* lineinfo="@0(92[30],92[43])" *) FA2 add_5_add_5_3 (.A0(GND_net), .B0(bit_index[1]), 
            .C0(GND_net), .D0(n727), .CI0(n727), .A1(GND_net), .B1(bit_index[2]), 
            .C1(GND_net), .D1(n1345), .CI1(n1345), .CO0(n1345), .CO1(n729), 
            .S0(n167[1]), .S1(n167[2]));
    defparam add_5_add_5_3.INIT0 = "0xc33c";
    defparam add_5_add_5_3.INIT1 = "0xc33c";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i4 (.D(n167[4]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[4]));
    defparam bit_index__i4.REGSET = "RESET";
    defparam bit_index__i4.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i5 (.D(n167[5]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[5]));
    defparam bit_index__i5.REGSET = "RESET";
    defparam bit_index__i5.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i6 (.D(n167[6]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[6]));
    defparam bit_index__i6.REGSET = "RESET";
    defparam bit_index__i6.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i7 (.D(n167[7]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[7]));
    defparam bit_index__i7.REGSET = "RESET";
    defparam bit_index__i7.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i8 (.D(n167[8]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[8]));
    defparam bit_index__i8.REGSET = "RESET";
    defparam bit_index__i8.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i9 (.D(n167[9]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[9]));
    defparam bit_index__i9.REGSET = "RESET";
    defparam bit_index__i9.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i10 (.D(n167[10]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[10]));
    defparam bit_index__i10.REGSET = "RESET";
    defparam bit_index__i10.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i11 (.D(n167[11]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[11]));
    defparam bit_index__i11.REGSET = "RESET";
    defparam bit_index__i11.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i12 (.D(n167[12]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[12]));
    defparam bit_index__i12.REGSET = "RESET";
    defparam bit_index__i12.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i13 (.D(n167[13]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[13]));
    defparam bit_index__i13.REGSET = "RESET";
    defparam bit_index__i13.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i14 (.D(n167[14]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[14]));
    defparam bit_index__i14.REGSET = "RESET";
    defparam bit_index__i14.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i15 (.D(n167[15]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[15]));
    defparam bit_index__i15.REGSET = "RESET";
    defparam bit_index__i15.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i16 (.D(n167[16]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[16]));
    defparam bit_index__i16.REGSET = "RESET";
    defparam bit_index__i16.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i17 (.D(n167[17]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[17]));
    defparam bit_index__i17.REGSET = "RESET";
    defparam bit_index__i17.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i18 (.D(n167[18]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[18]));
    defparam bit_index__i18.REGSET = "RESET";
    defparam bit_index__i18.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i19 (.D(n167[19]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[19]));
    defparam bit_index__i19.REGSET = "RESET";
    defparam bit_index__i19.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i20 (.D(n167[20]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[20]));
    defparam bit_index__i20.REGSET = "RESET";
    defparam bit_index__i20.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i21 (.D(n167[21]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[21]));
    defparam bit_index__i21.REGSET = "RESET";
    defparam bit_index__i21.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i22 (.D(n167[22]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[22]));
    defparam bit_index__i22.REGSET = "RESET";
    defparam bit_index__i22.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i23 (.D(n167[23]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[23]));
    defparam bit_index__i23.REGSET = "RESET";
    defparam bit_index__i23.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i24 (.D(n167[24]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[24]));
    defparam bit_index__i24.REGSET = "RESET";
    defparam bit_index__i24.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i25 (.D(n167[25]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[25]));
    defparam bit_index__i25.REGSET = "RESET";
    defparam bit_index__i25.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i26 (.D(n167[26]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[26]));
    defparam bit_index__i26.REGSET = "RESET";
    defparam bit_index__i26.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i27 (.D(n167[27]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[27]));
    defparam bit_index__i27.REGSET = "RESET";
    defparam bit_index__i27.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i28 (.D(n167[28]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[28]));
    defparam bit_index__i28.REGSET = "RESET";
    defparam bit_index__i28.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i29 (.D(n167[29]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[29]));
    defparam bit_index__i29.REGSET = "RESET";
    defparam bit_index__i29.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i30 (.D(n167[30]), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(bit_index[30]));
    defparam bit_index__i30.REGSET = "RESET";
    defparam bit_index__i30.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ bit_index__i31 (.D(n526), 
            .SP(VCC_net), .CK(sck_c), .SR(load_c), .Q(bit_index[31]));
    defparam bit_index__i31.REGSET = "RESET";
    defparam bit_index__i31.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(103[15],107[8])" *) FD1P3XZ x_1_i0_i1 (.D(datacaptured[83]), 
            .SP(done_c), .CK(int_osc), .SR(GND_net), .Q(x_1[1]));
    defparam x_1_i0_i1.REGSET = "RESET";
    defparam x_1_i0_i1.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(103[15],107[8])" *) FD1P3XZ x_1_i0_i2 (.D(datacaptured[84]), 
            .SP(done_c), .CK(int_osc), .SR(GND_net), .Q(x_1[2]));
    defparam x_1_i0_i2.REGSET = "RESET";
    defparam x_1_i0_i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(103[15],107[8])" *) FD1P3XZ x_1_i0_i3 (.D(datacaptured[85]), 
            .SP(done_c), .CK(int_osc), .SR(GND_net), .Q(x_1[3]));
    defparam x_1_i0_i3.REGSET = "RESET";
    defparam x_1_i0_i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(103[15],107[8])" *) FD1P3XZ x_1_i0_i4 (.D(datacaptured[86]), 
            .SP(done_c), .CK(int_osc), .SR(GND_net), .Q(x_1[4]));
    defparam x_1_i0_i4.REGSET = "RESET";
    defparam x_1_i0_i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(103[15],107[8])" *) FD1P3XZ x_1_i0_i5 (.D(datacaptured[87]), 
            .SP(done_c), .CK(int_osc), .SR(GND_net), .Q(x_1[5]));
    defparam x_1_i0_i5.REGSET = "RESET";
    defparam x_1_i0_i5.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(103[15],107[8])" *) FD1P3XZ x_1_i0_i6 (.D(datacaptured[88]), 
            .SP(done_c), .CK(int_osc), .SR(GND_net), .Q(x_1[6]));
    defparam x_1_i0_i6.REGSET = "RESET";
    defparam x_1_i0_i6.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(103[15],107[8])" *) FD1P3XZ x_1_i0_i7 (.D(datacaptured[89]), 
            .SP(done_c), .CK(int_osc), .SR(GND_net), .Q(x_1[7]));
    defparam x_1_i0_i7.REGSET = "RESET";
    defparam x_1_i0_i7.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(103[15],107[8])" *) FD1P3XZ x_1_i0_i8 (.D(datacaptured[90]), 
            .SP(done_c), .CK(int_osc), .SR(GND_net), .Q(x_1[8]));
    defparam x_1_i0_i8.REGSET = "RESET";
    defparam x_1_i0_i8.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(103[15],107[8])" *) FD1P3XZ x_1_i0_i9 (.D(datacaptured[91]), 
            .SP(done_c), .CK(int_osc), .SR(GND_net), .Q(x_1[9]));
    defparam x_1_i0_i9.REGSET = "RESET";
    defparam x_1_i0_i9.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(83[19],99[12])" *) FD1P3XZ datacaptured__i1 (.D(sdi_c), 
            .SP(n882), .CK(sck_c), .SR(load_c), .Q(datacaptured[0]));
    defparam datacaptured__i1.REGSET = "RESET";
    defparam datacaptured__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(92[30],92[43])" *) FA2 add_5_add_5_33 (.A0(GND_net), .B0(bit_index[31]), 
            .C0(GND_net), .D0(n757), .CI0(n757), .A1(GND_net), .B1(GND_net), 
            .C1(GND_net), .D1(n1390), .CI1(n1390), .CO0(n1390), .S0(n167[31]));
    defparam add_5_add_5_33.INIT0 = "0xc33c";
    defparam add_5_add_5_33.INIT1 = "0xc33c";
    (* lineinfo="@0(92[30],92[43])" *) FA2 add_5_add_5_31 (.A0(GND_net), .B0(bit_index[29]), 
            .C0(GND_net), .D0(n755), .CI0(n755), .A1(GND_net), .B1(bit_index[30]), 
            .C1(GND_net), .D1(n1387), .CI1(n1387), .CO0(n1387), .CO1(n757), 
            .S0(n167[29]), .S1(n167[30]));
    defparam add_5_add_5_31.INIT0 = "0xc33c";
    defparam add_5_add_5_31.INIT1 = "0xc33c";
    (* lineinfo="@0(92[30],92[43])" *) FA2 add_5_add_5_29 (.A0(GND_net), .B0(bit_index[27]), 
            .C0(GND_net), .D0(n753), .CI0(n753), .A1(GND_net), .B1(bit_index[28]), 
            .C1(GND_net), .D1(n1384), .CI1(n1384), .CO0(n1384), .CO1(n755), 
            .S0(n167[27]), .S1(n167[28]));
    defparam add_5_add_5_29.INIT0 = "0xc33c";
    defparam add_5_add_5_29.INIT1 = "0xc33c";
    (* lineinfo="@0(92[30],92[43])" *) FA2 add_5_add_5_27 (.A0(GND_net), .B0(bit_index[25]), 
            .C0(GND_net), .D0(n751), .CI0(n751), .A1(GND_net), .B1(bit_index[26]), 
            .C1(GND_net), .D1(n1381), .CI1(n1381), .CO0(n1381), .CO1(n753), 
            .S0(n167[25]), .S1(n167[26]));
    defparam add_5_add_5_27.INIT0 = "0xc33c";
    defparam add_5_add_5_27.INIT1 = "0xc33c";
    VHI i2 (.Z(VCC_net));
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=9, LSE_RCOL=6, LSE_LLINE=35, LSE_RLINE=53, lineinfo="@0(103[15],107[8])" *) FD1P3XZ x_1_i0_i0 (.D(datacaptured[82]), 
            .SP(done_c), .CK(int_osc), .SR(GND_net), .Q(x_1[0]));
    defparam x_1_i0_i0.REGSET = "RESET";
    defparam x_1_i0_i0.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    
endmodule
