// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.1.0.34.2
// Netlist written on Tue Nov 19 00:17:21 2024
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/kethollingsworth/desktop/repositories/microps/squat-hero/fpga/squat_hero/my_pll/rtl/my_pll.v"
// file 1 "c:/users/kethollingsworth/desktop/repositories/microps/squat-hero/fpga/squat_hero/source/test_1/vga.sv"
// file 2 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ice40up.v"
// file 3 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ice40up.vhd"
// file 4 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 5 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 6 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 7 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 8 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 9 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 10 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 11 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 12 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 13 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 14 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 15 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 16 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 17 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 18 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 19 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 20 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 21 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 22 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 23 "c:/lscc/radiant/2024.1/ip/common/adder/rtl/lscc_adder.v"
// file 24 "c:/lscc/radiant/2024.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 25 "c:/lscc/radiant/2024.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 26 "c:/lscc/radiant/2024.1/ip/common/counter/rtl/lscc_cntr.v"
// file 27 "c:/lscc/radiant/2024.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 28 "c:/lscc/radiant/2024.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 29 "c:/lscc/radiant/2024.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 30 "c:/lscc/radiant/2024.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 31 "c:/lscc/radiant/2024.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 32 "c:/lscc/radiant/2024.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 33 "c:/lscc/radiant/2024.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 34 "c:/lscc/radiant/2024.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 35 "c:/lscc/radiant/2024.1/ip/common/rom/rtl/lscc_rom.v"
// file 36 "c:/lscc/radiant/2024.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 37 "c:/lscc/radiant/2024.1/ip/pmi/pmi_add.v"
// file 38 "c:/lscc/radiant/2024.1/ip/pmi/pmi_addsub.v"
// file 39 "c:/lscc/radiant/2024.1/ip/pmi/pmi_complex_mult.v"
// file 40 "c:/lscc/radiant/2024.1/ip/pmi/pmi_counter.v"
// file 41 "c:/lscc/radiant/2024.1/ip/pmi/pmi_dsp.v"
// file 42 "c:/lscc/radiant/2024.1/ip/pmi/pmi_fifo.v"
// file 43 "c:/lscc/radiant/2024.1/ip/pmi/pmi_fifo_dc.v"
// file 44 "c:/lscc/radiant/2024.1/ip/pmi/pmi_mac.v"
// file 45 "c:/lscc/radiant/2024.1/ip/pmi/pmi_mult.v"
// file 46 "c:/lscc/radiant/2024.1/ip/pmi/pmi_multaddsub.v"
// file 47 "c:/lscc/radiant/2024.1/ip/pmi/pmi_multaddsubsum.v"
// file 48 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dp.v"
// file 49 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dp_be.v"
// file 50 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dq.v"
// file 51 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dq_be.v"
// file 52 "c:/lscc/radiant/2024.1/ip/pmi/pmi_rom.v"
// file 53 "c:/lscc/radiant/2024.1/ip/pmi/pmi_sub.v"

//
// Verilog Description of module vga
//

module vga (input clk, input reset, output vgaclk, output hsync, output vsync, 
            output sync_b, output blank_b, output [3:0]r, output [3:0]g, 
            output [3:0]b);
    
    (* is_clock=1, lineinfo="@1(2[19],2[25])" *) wire vgaclk_c;
    (* is_clock=1, lineinfo="@1(9[8],9[15])" *) wire int_osc;
    
    wire VCC_net, reset_c, hsync_c, vsync_c, blank_b_c, reset_c_N_25, 
        GND_net;
    
    VLO i1 (.Z(GND_net));
    (* syn_instantiated=1 *) HSOSC_CORE hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b00";
    defparam hf_osc.FABRIC_TRIME = "DISABLE";
    (* lineinfo="@1(4[27],4[34])" *) OB blank_b_pad (.I(blank_b_c), .O(blank_b));
    (* lineinfo="@1(5[25],5[26])" *) OB \r_pad[3]  (.I(GND_net), .O(r[3]));
    (* lineinfo="@1(27[16],27[75])" *) vgaController vgaCont (vgaclk_c, reset_c, 
            blank_b_c, hsync_c, vsync_c);
    (* lut_function="(!(A))", lineinfo="@1(20[18],20[24])" *) LUT4 reset_c_I_0_1_lut (.A(reset_c), 
            .Z(reset_c_N_25));
    defparam reset_c_I_0_1_lut.INIT = "0x5555";
    (* lineinfo="@1(4[19],4[25])" *) OB sync_b_pad (.I(GND_net), .O(sync_b));
    (* lineinfo="@1(3[26],3[31])" *) OB vsync_pad (.I(vsync_c), .O(vsync));
    VHI i2 (.Z(VCC_net));
    (* lineinfo="@1(3[19],3[24])" *) OB hsync_pad (.I(hsync_c), .O(hsync));
    (* lineinfo="@1(2[19],2[25])" *) OB vgaclk_pad (.I(vgaclk_c), .O(vgaclk));
    (* lineinfo="@1(5[25],5[26])" *) OB \r_pad[2]  (.I(GND_net), .O(r[2]));
    (* lineinfo="@1(5[25],5[26])" *) OB \r_pad[1]  (.I(GND_net), .O(r[1]));
    (* lineinfo="@1(5[25],5[26])" *) OB \r_pad[0]  (.I(GND_net), .O(r[0]));
    (* lineinfo="@1(5[28],5[29])" *) OB \g_pad[3]  (.I(GND_net), .O(g[3]));
    (* lineinfo="@1(5[28],5[29])" *) OB \g_pad[2]  (.I(GND_net), .O(g[2]));
    (* lineinfo="@1(5[28],5[29])" *) OB \g_pad[1]  (.I(GND_net), .O(g[1]));
    (* lineinfo="@1(5[28],5[29])" *) OB \g_pad[0]  (.I(VCC_net), .O(g[0]));
    (* lineinfo="@1(5[31],5[32])" *) OB \b_pad[3]  (.I(GND_net), .O(b[3]));
    (* lineinfo="@1(5[31],5[32])" *) OB \b_pad[2]  (.I(GND_net), .O(b[2]));
    (* lineinfo="@1(5[31],5[32])" *) OB \b_pad[1]  (.I(GND_net), .O(b[1]));
    (* lineinfo="@1(5[31],5[32])" *) OB \b_pad[0]  (.I(GND_net), .O(b[0]));
    (* lineinfo="@1(1[29],1[34])" *) IB reset_pad (.I(reset), .O(reset_c));
    (* ORIG_MODULE_NAME="my_pll", LATTICE_IP_GENERATED="1", lineinfo="@1(18[12],24[6])" *) my_pll pll_inst (int_osc, 
            reset_c_N_25, vgaclk_c);
    
endmodule

//
// Verilog Description of module vgaController
//

module vgaController (input vgaclk_c, input reset_c, output blank_b_c, 
            output hsync_c, output vsync_c);
    
    (* is_clock=1, lineinfo="@1(2[19],2[25])" *) wire vgaclk_c;
    
    wire n574, n979, GND_net;
    (* lineinfo="@1(7[17],7[18])" *) wire [9:0]y;
    
    wire n576;
    wire [9:0]n35;
    
    wire n115;
    wire [9:0]n46;
    
    wire n19, n19_adj_26, n14, n570, n973, n572, n9, n988;
    (* lineinfo="@1(7[14],7[15])" *) wire [9:0]x;
    
    wire n579;
    wire [9:0]n45;
    
    wire n15, n14_adj_27, n967, n568, n970;
    wire [9:0]x_9__N_1;
    
    wire n583, n997, n585, n5, n3, n246, n85, n8, n7, n581, 
        n994, n982, n587, n1003, n1000, n991, n976, VCC_net;
    
    (* lineinfo="@1(62[17],62[25])" *) FA2 vcnt_18_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(y[7]), .D0(n574), .CI0(n574), .A1(GND_net), 
            .B1(GND_net), .C1(y[8]), .D1(n979), .CI1(n979), .CO0(n979), 
            .CO1(n576), .S0(n35[7]), .S1(n35[8]));
    defparam vcnt_18_add_4_9.INIT0 = "0xc33c";
    defparam vcnt_18_add_4_9.INIT1 = "0xc33c";
    (* lut_function="((B)+!A)", lineinfo="@1(62[17],62[25])" *) LUT4 i1_2_lut (.A(y[3]), 
            .B(y[4]), .Z(n115));
    defparam i1_2_lut.INIT = "0xdddd";
    (* syn_use_carry_chain=1, lineinfo="@1(62[17],62[25])" *) FD1P3XZ vcnt_18__i8 (.D(n46[8]), 
            .SP(n19), .CK(vgaclk_c), .SR(reset_c), .Q(y[8]));
    defparam vcnt_18__i8.REGSET = "RESET";
    defparam vcnt_18__i8.SRMODE = "ASYNC";
    (* lut_function="(A (B))", lineinfo="@1(7[17],7[18])" *) LUT4 i1_2_lut_adj_1 (.A(n19_adj_26), 
            .B(n35[8]), .Z(n46[8]));
    defparam i1_2_lut_adj_1.INIT = "0x8888";
    (* lut_function="(A+(B+(C+!(D))))" *) LUT4 i6_4_lut (.A(y[5]), .B(n115), 
            .C(y[6]), .D(y[9]), .Z(n14));
    defparam i6_4_lut.INIT = "0xfeff";
    (* lineinfo="@1(62[17],62[25])" *) FA2 vcnt_18_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(y[3]), .D0(n570), .CI0(n570), .A1(GND_net), 
            .B1(GND_net), .C1(y[4]), .D1(n973), .CI1(n973), .CO0(n973), 
            .CO1(n572), .S0(n35[3]), .S1(n35[4]));
    defparam vcnt_18_add_4_5.INIT0 = "0xc33c";
    defparam vcnt_18_add_4_5.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+!(D))))" *) LUT4 i7_4_lut (.A(n9), .B(n14), 
            .C(y[8]), .D(y[0]), .Z(n19_adj_26));
    defparam i7_4_lut.INIT = "0xfeff";
    (* lineinfo="@1(59[15],59[23])" *) FA2 hcnt_19_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(x[0]), .D1(n988), .CI1(n988), .CO0(n988), .CO1(n579), 
            .S1(n45[0]));
    defparam hcnt_19_add_4_1.INIT0 = "0xc33c";
    defparam hcnt_19_add_4_1.INIT1 = "0xc33c";
    (* lut_function="(A+((C+!(D))+!B))" *) LUT4 i6_4_lut_adj_2 (.A(x[1]), 
            .B(x[8]), .C(x[3]), .D(x[9]), .Z(n15));
    defparam i6_4_lut_adj_2.INIT = "0xfbff";
    (* lut_function="(!(A+(B+(C+!(D)))))", lineinfo="@1(59[15],59[23])" *) LUT4 i704_4_lut (.A(n15), 
            .B(x[0]), .C(n14_adj_27), .D(x[2]), .Z(n19));
    defparam i704_4_lut.INIT = "0x0100";
    (* syn_use_carry_chain=1, lineinfo="@1(62[17],62[25])" *) FD1P3XZ vcnt_18__i7 (.D(n46[7]), 
            .SP(n19), .CK(vgaclk_c), .SR(reset_c), .Q(y[7]));
    defparam vcnt_18__i7.REGSET = "RESET";
    defparam vcnt_18__i7.SRMODE = "ASYNC";
    (* lut_function="(A (B))", lineinfo="@1(62[17],62[25])" *) LUT4 i310_2_lut (.A(n35[9]), 
            .B(n19_adj_26), .Z(n46[9]));
    defparam i310_2_lut.INIT = "0x8888";
    (* lineinfo="@1(62[17],62[25])" *) FA2 vcnt_18_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(y[0]), .D1(n967), .CI1(n967), .CO0(n967), .CO1(n568), 
            .S1(n35[0]));
    defparam vcnt_18_add_4_1.INIT0 = "0xc33c";
    defparam vcnt_18_add_4_1.INIT1 = "0xc33c";
    (* lineinfo="@1(62[17],62[25])" *) FA2 vcnt_18_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(y[1]), .D0(n568), .CI0(n568), .A1(GND_net), 
            .B1(GND_net), .C1(y[2]), .D1(n970), .CI1(n970), .CO0(n970), 
            .CO1(n570), .S0(n35[1]), .S1(n35[2]));
    defparam vcnt_18_add_4_3.INIT0 = "0xc33c";
    defparam vcnt_18_add_4_3.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@1(59[15],59[23])" *) FD1P3XZ hcnt_19__i0 (.D(x_9__N_1[0]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[0]));
    defparam hcnt_19__i0.REGSET = "RESET";
    defparam hcnt_19__i0.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@1(62[17],62[25])" *) FD1P3XZ vcnt_18__i6 (.D(n46[6]), 
            .SP(n19), .CK(vgaclk_c), .SR(reset_c), .Q(y[6]));
    defparam vcnt_18__i6.REGSET = "RESET";
    defparam vcnt_18__i6.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@1(62[17],62[25])" *) FD1P3XZ vcnt_18__i5 (.D(n46[5]), 
            .SP(n19), .CK(vgaclk_c), .SR(reset_c), .Q(y[5]));
    defparam vcnt_18__i5.REGSET = "RESET";
    defparam vcnt_18__i5.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@1(62[17],62[25])" *) FD1P3XZ vcnt_18__i4 (.D(n46[4]), 
            .SP(n19), .CK(vgaclk_c), .SR(reset_c), .Q(y[4]));
    defparam vcnt_18__i4.REGSET = "RESET";
    defparam vcnt_18__i4.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@1(62[17],62[25])" *) FD1P3XZ vcnt_18__i3 (.D(n46[3]), 
            .SP(n19), .CK(vgaclk_c), .SR(reset_c), .Q(y[3]));
    defparam vcnt_18__i3.REGSET = "RESET";
    defparam vcnt_18__i3.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@1(62[17],62[25])" *) FD1P3XZ vcnt_18__i2 (.D(n46[2]), 
            .SP(n19), .CK(vgaclk_c), .SR(reset_c), .Q(y[2]));
    defparam vcnt_18__i2.REGSET = "RESET";
    defparam vcnt_18__i2.SRMODE = "ASYNC";
    (* lineinfo="@1(59[15],59[23])" *) FA2 hcnt_19_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(x[5]), .D0(n583), .CI0(n583), .A1(GND_net), 
            .B1(GND_net), .C1(x[6]), .D1(n997), .CI1(n997), .CO0(n997), 
            .CO1(n585), .S0(n45[5]), .S1(n45[6]));
    defparam hcnt_19_add_4_7.INIT0 = "0xc33c";
    defparam hcnt_19_add_4_7.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@1(62[17],62[25])" *) FD1P3XZ vcnt_18__i1 (.D(n46[1]), 
            .SP(n19), .CK(vgaclk_c), .SR(reset_c), .Q(y[1]));
    defparam vcnt_18__i1.REGSET = "RESET";
    defparam vcnt_18__i1.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@1(59[15],59[23])" *) FD1P3XZ hcnt_19__i9 (.D(x_9__N_1[9]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[9]));
    defparam hcnt_19__i9.REGSET = "RESET";
    defparam hcnt_19__i9.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@1(59[15],59[23])" *) FD1P3XZ hcnt_19__i8 (.D(x_9__N_1[8]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[8]));
    defparam hcnt_19__i8.REGSET = "RESET";
    defparam hcnt_19__i8.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@1(59[15],59[23])" *) FD1P3XZ hcnt_19__i7 (.D(x_9__N_1[7]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[7]));
    defparam hcnt_19__i7.REGSET = "RESET";
    defparam hcnt_19__i7.SRMODE = "ASYNC";
    (* lut_function="(A+(B))", lineinfo="@1(7[14],7[15])" *) LUT4 i1_2_lut_adj_3 (.A(x[8]), 
            .B(x[7]), .Z(n5));
    defparam i1_2_lut_adj_3.INIT = "0xeeee";
    (* lut_function="(A (B (C (D))))", lineinfo="@1(7[14],7[15])" *) LUT4 i1_4_lut (.A(y[7]), 
            .B(y[8]), .C(y[5]), .D(y[6]), .Z(n3));
    defparam i1_4_lut.INIT = "0x8000";
    (* lut_function="(!(A+(B+(C (D)))))" *) LUT4 i707_4_lut (.A(y[9]), .B(n3), 
            .C(x[9]), .D(n5), .Z(blank_b_c));
    defparam i707_4_lut.INIT = "0x0111";
    (* syn_use_carry_chain=1, lineinfo="@1(59[15],59[23])" *) FD1P3XZ hcnt_19__i6 (.D(x_9__N_1[6]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[6]));
    defparam hcnt_19__i6.REGSET = "RESET";
    defparam hcnt_19__i6.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@1(59[15],59[23])" *) FD1P3XZ hcnt_19__i5 (.D(x_9__N_1[5]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[5]));
    defparam hcnt_19__i5.REGSET = "RESET";
    defparam hcnt_19__i5.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@1(59[15],59[23])" *) FD1P3XZ hcnt_19__i4 (.D(x_9__N_1[4]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[4]));
    defparam hcnt_19__i4.REGSET = "RESET";
    defparam hcnt_19__i4.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@1(59[15],59[23])" *) FD1P3XZ hcnt_19__i3 (.D(x_9__N_1[3]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[3]));
    defparam hcnt_19__i3.REGSET = "RESET";
    defparam hcnt_19__i3.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@1(59[15],59[23])" *) FD1P3XZ hcnt_19__i2 (.D(x_9__N_1[2]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[2]));
    defparam hcnt_19__i2.REGSET = "RESET";
    defparam hcnt_19__i2.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@1(62[17],62[25])" *) FD1P3XZ vcnt_18__i0 (.D(n46[0]), 
            .SP(n19), .CK(vgaclk_c), .SR(reset_c), .Q(y[0]));
    defparam vcnt_18__i0.REGSET = "RESET";
    defparam vcnt_18__i0.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@1(59[15],59[23])" *) FD1P3XZ hcnt_19__i1 (.D(x_9__N_1[1]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[1]));
    defparam hcnt_19__i1.REGSET = "RESET";
    defparam hcnt_19__i1.SRMODE = "ASYNC";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_4 (.A(n19), .B(n45[1]), 
            .Z(x_9__N_1[1]));
    defparam i1_2_lut_adj_4.INIT = "0x4444";
    (* lut_function="(A (B))", lineinfo="@1(62[17],62[25])" *) LUT4 i1_2_lut_adj_5 (.A(n19_adj_26), 
            .B(n35[0]), .Z(n46[0]));
    defparam i1_2_lut_adj_5.INIT = "0x8888";
    (* lut_function="(A (B (C))+!A !(B+(C)))" *) LUT4 i192_4_lut_3_lut (.A(x[4]), 
            .B(x[5]), .C(x[6]), .Z(n246));
    defparam i192_4_lut_3_lut.INIT = "0x8181";
    (* lut_function="(A+(B+(C+!(D))))" *) LUT4 i5_3_lut_4_lut (.A(x[4]), .B(x[5]), 
            .C(x[6]), .D(x[7]), .Z(n14_adj_27));
    defparam i5_3_lut_4_lut.INIT = "0xfeff";
    (* lut_function="(A (B+(C))+!A !(B (C)))", lineinfo="@1(62[17],62[25])" *) LUT4 i398_4_lut_3_lut (.A(y[2]), 
            .B(y[1]), .C(y[0]), .Z(n85));
    defparam i398_4_lut_3_lut.INIT = "0xbdbd";
    (* lut_function="((B+(C))+!A)", lineinfo="@1(62[17],62[25])" *) LUT4 i1_2_lut_3_lut (.A(y[2]), 
            .B(y[1]), .C(y[7]), .Z(n9));
    defparam i1_2_lut_3_lut.INIT = "0xfdfd";
    (* lut_function="(A+(B+!(C (D))))" *) LUT4 i1_4_lut_adj_6 (.A(x[8]), .B(n246), 
            .C(x[7]), .D(x[9]), .Z(hsync_c));
    defparam i1_4_lut_adj_6.INIT = "0xefff";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_7 (.A(n19), .B(n45[2]), 
            .Z(x_9__N_1[2]));
    defparam i1_2_lut_adj_7.INIT = "0x4444";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_8 (.A(n19), .B(n45[3]), 
            .Z(x_9__N_1[3]));
    defparam i1_2_lut_adj_8.INIT = "0x4444";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_9 (.A(n19), .B(n45[4]), 
            .Z(x_9__N_1[4]));
    defparam i1_2_lut_adj_9.INIT = "0x4444";
    (* lut_function="(!(A+!(B)))", lineinfo="@1(7[14],7[15])" *) LUT4 i1_2_lut_adj_10 (.A(n19), 
            .B(n45[5]), .Z(x_9__N_1[5]));
    defparam i1_2_lut_adj_10.INIT = "0x4444";
    (* lut_function="(!((B)+!A))", lineinfo="@1(59[15],59[23])" *) LUT4 i319_2_lut (.A(n45[6]), 
            .B(n19), .Z(x_9__N_1[6]));
    defparam i319_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))", lineinfo="@1(59[15],59[23])" *) LUT4 i318_2_lut (.A(n45[7]), 
            .B(n19), .Z(x_9__N_1[7]));
    defparam i318_2_lut.INIT = "0x2222";
    (* lut_function="((B)+!A)" *) LUT4 i2_2_lut (.A(y[6]), .B(y[9]), .Z(n8));
    defparam i2_2_lut.INIT = "0xdddd";
    (* lut_function="((B+(C+(D)))+!A)" *) LUT4 i5_4_lut (.A(y[7]), .B(n7), 
            .C(n85), .D(n8), .Z(vsync_c));
    defparam i5_4_lut.INIT = "0xfffd";
    (* lut_function="(!((B)+!A))", lineinfo="@1(59[15],59[23])" *) LUT4 i317_2_lut (.A(n45[8]), 
            .B(n19), .Z(x_9__N_1[8]));
    defparam i317_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))", lineinfo="@1(59[15],59[23])" *) LUT4 i316_2_lut (.A(n45[9]), 
            .B(n19), .Z(x_9__N_1[9]));
    defparam i316_2_lut.INIT = "0x2222";
    (* lut_function="(A (B))", lineinfo="@1(62[17],62[25])" *) LUT4 i1_2_lut_adj_11 (.A(n19_adj_26), 
            .B(n35[1]), .Z(n46[1]));
    defparam i1_2_lut_adj_11.INIT = "0x8888";
    (* lut_function="(A (B))", lineinfo="@1(62[17],62[25])" *) LUT4 i1_2_lut_adj_12 (.A(n19_adj_26), 
            .B(n35[2]), .Z(n46[2]));
    defparam i1_2_lut_adj_12.INIT = "0x8888";
    (* lut_function="(A (B))", lineinfo="@1(62[17],62[25])" *) LUT4 i1_2_lut_adj_13 (.A(n19_adj_26), 
            .B(n35[3]), .Z(n46[3]));
    defparam i1_2_lut_adj_13.INIT = "0x8888";
    (* lineinfo="@1(59[15],59[23])" *) FA2 hcnt_19_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(x[3]), .D0(n581), .CI0(n581), .A1(GND_net), 
            .B1(GND_net), .C1(x[4]), .D1(n994), .CI1(n994), .CO0(n994), 
            .CO1(n583), .S0(n45[3]), .S1(n45[4]));
    defparam hcnt_19_add_4_5.INIT0 = "0xc33c";
    defparam hcnt_19_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@1(62[17],62[25])" *) FA2 vcnt_18_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(y[9]), .D0(n576), .CI0(n576), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n982), .CI1(n982), .CO0(n982), 
            .S0(n35[9]));
    defparam vcnt_18_add_4_11.INIT0 = "0xc33c";
    defparam vcnt_18_add_4_11.INIT1 = "0xc33c";
    (* lut_function="(A (B))", lineinfo="@1(62[17],62[25])" *) LUT4 i1_2_lut_adj_14 (.A(n19_adj_26), 
            .B(n35[4]), .Z(n46[4]));
    defparam i1_2_lut_adj_14.INIT = "0x8888";
    (* lut_function="(A (B))", lineinfo="@1(62[17],62[25])" *) LUT4 i1_2_lut_adj_15 (.A(n19_adj_26), 
            .B(n35[5]), .Z(n46[5]));
    defparam i1_2_lut_adj_15.INIT = "0x8888";
    (* lut_function="(A (B))", lineinfo="@1(62[17],62[25])" *) LUT4 i1_2_lut_adj_16 (.A(n19_adj_26), 
            .B(n35[6]), .Z(n46[6]));
    defparam i1_2_lut_adj_16.INIT = "0x8888";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_17 (.A(n19), .B(n45[0]), 
            .Z(x_9__N_1[0]));
    defparam i1_2_lut_adj_17.INIT = "0x4444";
    (* lineinfo="@1(59[15],59[23])" *) FA2 hcnt_19_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(x[9]), .D0(n587), .CI0(n587), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n1003), .CI1(n1003), .CO0(n1003), 
            .S0(n45[9]));
    defparam hcnt_19_add_4_11.INIT0 = "0xc33c";
    defparam hcnt_19_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@1(59[15],59[23])" *) FA2 hcnt_19_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(x[7]), .D0(n585), .CI0(n585), .A1(GND_net), 
            .B1(GND_net), .C1(x[8]), .D1(n1000), .CI1(n1000), .CO0(n1000), 
            .CO1(n587), .S0(n45[7]), .S1(n45[8]));
    defparam hcnt_19_add_4_9.INIT0 = "0xc33c";
    defparam hcnt_19_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@1(59[15],59[23])" *) FA2 hcnt_19_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(x[1]), .D0(n579), .CI0(n579), .A1(GND_net), 
            .B1(GND_net), .C1(x[2]), .D1(n991), .CI1(n991), .CO0(n991), 
            .CO1(n581), .S0(n45[1]), .S1(n45[2]));
    defparam hcnt_19_add_4_3.INIT0 = "0xc33c";
    defparam hcnt_19_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(A (B))", lineinfo="@1(62[17],62[25])" *) LUT4 i1_2_lut_adj_18 (.A(n19_adj_26), 
            .B(n35[7]), .Z(n46[7]));
    defparam i1_2_lut_adj_18.INIT = "0x8888";
    (* lineinfo="@1(62[17],62[25])" *) FA2 vcnt_18_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(y[5]), .D0(n572), .CI0(n572), .A1(GND_net), 
            .B1(GND_net), .C1(y[6]), .D1(n976), .CI1(n976), .CO0(n976), 
            .CO1(n574), .S0(n35[5]), .S1(n35[6]));
    defparam vcnt_18_add_4_7.INIT0 = "0xc33c";
    defparam vcnt_18_add_4_7.INIT1 = "0xc33c";
    (* lut_function="(((C+!(D))+!B)+!A)" *) LUT4 i1_3_lut_4_lut (.A(y[8]), 
            .B(y[3]), .C(y[4]), .D(y[5]), .Z(n7));
    defparam i1_3_lut_4_lut.INIT = "0xf7ff";
    VHI i2 (.Z(VCC_net));
    (* syn_use_carry_chain=1, lineinfo="@1(62[17],62[25])" *) FD1P3XZ vcnt_18__i9 (.D(n46[9]), 
            .SP(n19), .CK(vgaclk_c), .SR(reset_c), .Q(y[9]));
    defparam vcnt_18__i9.REGSET = "RESET";
    defparam vcnt_18__i9.SRMODE = "ASYNC";
    VLO i1 (.Z(GND_net));
    
endmodule

//
// Verilog Description of module my_pll
//

(* ORIG_MODULE_NAME="my_pll", LATTICE_IP_GENERATED="1" *) module my_pll (input int_osc, 
            input reset_c_N_25, output vgaclk_c);
    
    (* is_clock=1, lineinfo="@1(9[8],9[15])" *) wire int_osc;
    (* is_clock=1, lineinfo="@1(2[19],2[25])" *) wire vgaclk_c;
    
    (* lineinfo="@0(37[41],50[26])" *) \my_pll_ipgen_lscc_pll(DIVR="2",DIVF="49",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="48.000000") lscc_pll_inst (int_osc, 
            reset_c_N_25, vgaclk_c);
    
endmodule

//
// Verilog Description of module \my_pll_ipgen_lscc_pll(DIVR="2",DIVF="49",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="48.000000") 
//

module \my_pll_ipgen_lscc_pll(DIVR="2",DIVF="49",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="48.000000") (input int_osc, 
            input reset_c_N_25, output vgaclk_c);
    
    (* is_clock=1, lineinfo="@1(9[8],9[15])" *) wire int_osc;
    (* is_clock=1, lineinfo="@1(2[19],2[25])" *) wire vgaclk_c;
    
    wire GND_net, feedback_w;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=72, LSE_LCOL=41, LSE_RCOL=26, LSE_LLINE=37, LSE_RLINE=50, lineinfo="@0(37[41],50[26])" *) PLL_B u_PLL_B (.REFERENCECLK(int_osc), 
            .FEEDBACK(feedback_w), .DYNAMICDELAY7(GND_net), .DYNAMICDELAY6(GND_net), 
            .DYNAMICDELAY5(GND_net), .DYNAMICDELAY4(GND_net), .DYNAMICDELAY3(GND_net), 
            .DYNAMICDELAY2(GND_net), .DYNAMICDELAY1(GND_net), .DYNAMICDELAY0(GND_net), 
            .BYPASS(GND_net), .RESET_N(reset_c_N_25), .SCLK(GND_net), 
            .SDI(GND_net), .LATCH(GND_net), .INTFBOUT(feedback_w), .OUTCORE(vgaclk_c));
    defparam u_PLL_B.FEEDBACK_PATH = "SIMPLE";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_FEEDBACK = "FIXED";
    defparam u_PLL_B.FDA_FEEDBACK = "0";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_RELATIVE = "FIXED";
    defparam u_PLL_B.FDA_RELATIVE = "0";
    defparam u_PLL_B.SHIFTREG_DIV_MODE = "0";
    defparam u_PLL_B.PLLOUT_SELECT_PORTA = "GENCLK";
    defparam u_PLL_B.PLLOUT_SELECT_PORTB = "GENCLK";
    defparam u_PLL_B.DIVR = "2";
    defparam u_PLL_B.DIVF = "49";
    defparam u_PLL_B.DIVQ = "5";
    defparam u_PLL_B.FILTER_RANGE = "1";
    defparam u_PLL_B.EXTERNAL_DIVIDE_FACTOR = "NONE";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTA = "0";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTB = "0";
    defparam u_PLL_B.TEST_MODE = "0";
    defparam u_PLL_B.FREQUENCY_PIN_REFERENCECLK = "48.000000";
    VLO i1 (.Z(GND_net));
    
endmodule
