// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.1.0.34.2
// Netlist written on Sat Nov 30 21:15:44 2024
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/kethollingsworth/desktop/repositories/microps/squat-hero/fpga/squat_hero/actual_pll/rtl/actual_pll.v"
// file 1 "c:/users/kethollingsworth/desktop/repositories/microps/squat-hero/fpga/squat_hero/my_pll/rtl/my_pll.v"
// file 2 "c:/users/kethollingsworth/desktop/repositories/microps/squat-hero/fpga/squat_hero/no_lock_pll/rtl/no_lock_pll.v"
// file 3 "c:/users/kethollingsworth/desktop/repositories/microps/squat-hero/fpga/squat_hero/source/test_1/vga.sv"
// file 4 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ice40up.v"
// file 5 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ice40up.vhd"
// file 6 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 7 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 8 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 9 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 10 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 11 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 12 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 13 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 14 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 15 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 16 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 17 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 18 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 19 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 20 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 21 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 22 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 23 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 24 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 25 "c:/lscc/radiant/2024.1/ip/common/adder/rtl/lscc_adder.v"
// file 26 "c:/lscc/radiant/2024.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 27 "c:/lscc/radiant/2024.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 28 "c:/lscc/radiant/2024.1/ip/common/counter/rtl/lscc_cntr.v"
// file 29 "c:/lscc/radiant/2024.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 30 "c:/lscc/radiant/2024.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 31 "c:/lscc/radiant/2024.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 32 "c:/lscc/radiant/2024.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 33 "c:/lscc/radiant/2024.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 34 "c:/lscc/radiant/2024.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 35 "c:/lscc/radiant/2024.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 36 "c:/lscc/radiant/2024.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 37 "c:/lscc/radiant/2024.1/ip/common/rom/rtl/lscc_rom.v"
// file 38 "c:/lscc/radiant/2024.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 39 "c:/lscc/radiant/2024.1/ip/pmi/pmi_add.v"
// file 40 "c:/lscc/radiant/2024.1/ip/pmi/pmi_addsub.v"
// file 41 "c:/lscc/radiant/2024.1/ip/pmi/pmi_complex_mult.v"
// file 42 "c:/lscc/radiant/2024.1/ip/pmi/pmi_counter.v"
// file 43 "c:/lscc/radiant/2024.1/ip/pmi/pmi_dsp.v"
// file 44 "c:/lscc/radiant/2024.1/ip/pmi/pmi_fifo.v"
// file 45 "c:/lscc/radiant/2024.1/ip/pmi/pmi_fifo_dc.v"
// file 46 "c:/lscc/radiant/2024.1/ip/pmi/pmi_mac.v"
// file 47 "c:/lscc/radiant/2024.1/ip/pmi/pmi_mult.v"
// file 48 "c:/lscc/radiant/2024.1/ip/pmi/pmi_multaddsub.v"
// file 49 "c:/lscc/radiant/2024.1/ip/pmi/pmi_multaddsubsum.v"
// file 50 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dp.v"
// file 51 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dp_be.v"
// file 52 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dq.v"
// file 53 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dq_be.v"
// file 54 "c:/lscc/radiant/2024.1/ip/pmi/pmi_rom.v"
// file 55 "c:/lscc/radiant/2024.1/ip/pmi/pmi_sub.v"

//
// Verilog Description of module vga
//

module vga (input reset, input frame_switch, output vgaclk, output hsync, 
            output vsync, output sync_b, output blank_b, output [3:0]r, 
            output [3:0]g, output [3:0]b);
    
    (* is_clock=1, lineinfo="@3(3[19],3[25])" *) wire vgaclk_c;
    (* is_clock=1, lineinfo="@3(10[8],10[15])" *) wire int_osc;
    
    wire VCC_net, reset_c, hsync_c, vsync_c, blank_b_c, b_0;
    (* lineinfo="@3(8[14],8[15])" *) wire [9:0]x;
    (* lineinfo="@3(8[17],8[18])" *) wire [9:0]y;
    
    wire reset_c_N_767, GND_net;
    
    VLO i1 (.Z(GND_net));
    (* syn_instantiated=1 *) HSOSC_CORE hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b00";
    defparam hf_osc.FABRIC_TRIME = "DISABLE";
    (* lineinfo="@3(34[11],44[3])" *) videoGen videoGen (b_0, {x}, {y});
    (* lineinfo="@3(6[25],6[26])" *) OB \r_pad[3]  (.I(GND_net), .O(r[3]));
    (* lineinfo="@3(5[27],5[34])" *) OB blank_b_pad (.I(blank_b_c), .O(blank_b));
    (* lineinfo="@3(6[25],6[26])" *) OB \r_pad[2]  (.I(GND_net), .O(r[2]));
    (* lineinfo="@3(5[19],5[25])" *) OB sync_b_pad (.I(GND_net), .O(sync_b));
    (* lineinfo="@3(1[24],1[29])" *) IB reset_pad (.I(reset), .O(reset_c));
    (* lineinfo="@3(6[31],6[32])" *) OB \b_pad[0]  (.I(b_0), .O(b[0]));
    (* lineinfo="@3(6[31],6[32])" *) OB \b_pad[1]  (.I(b_0), .O(b[1]));
    (* lineinfo="@3(6[31],6[32])" *) OB \b_pad[2]  (.I(b_0), .O(b[2]));
    (* lut_function="(!(A))", lineinfo="@3(21[18],21[24])" *) LUT4 reset_c_I_0_1_lut (.A(reset_c), 
            .Z(reset_c_N_767));
    defparam reset_c_I_0_1_lut.INIT = "0x5555";
    (* lineinfo="@3(6[31],6[32])" *) OB \b_pad[3]  (.I(b_0), .O(b[3]));
    (* lineinfo="@3(6[28],6[29])" *) OB \g_pad[0]  (.I(GND_net), .O(g[0]));
    (* lineinfo="@3(6[28],6[29])" *) OB \g_pad[1]  (.I(GND_net), .O(g[1]));
    (* lineinfo="@3(6[28],6[29])" *) OB \g_pad[2]  (.I(GND_net), .O(g[2]));
    (* lineinfo="@3(6[28],6[29])" *) OB \g_pad[3]  (.I(GND_net), .O(g[3]));
    (* lineinfo="@3(6[25],6[26])" *) OB \r_pad[0]  (.I(GND_net), .O(r[0]));
    (* lineinfo="@3(6[25],6[26])" *) OB \r_pad[1]  (.I(GND_net), .O(r[1]));
    (* lineinfo="@3(4[26],4[31])" *) OB vsync_pad (.I(vsync_c), .O(vsync));
    (* lineinfo="@3(4[19],4[24])" *) OB hsync_pad (.I(hsync_c), .O(hsync));
    (* lineinfo="@3(3[19],3[25])" *) OB vgaclk_pad (.I(vgaclk_c), .O(vgaclk));
    (* lineinfo="@3(28[16],28[75])" *) vgaController vgaCont ({y}, {x}, 
            vgaclk_c, reset_c, blank_b_c, hsync_c, vsync_c);
    (* ORIG_MODULE_NAME="no_lock_pll", LATTICE_IP_GENERATED="1", lineinfo="@3(19[17],25[6])" *) no_lock_pll pll_inst (int_osc, 
            reset_c_N_767, vgaclk_c);
    VHI i2 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module videoGen
//

module videoGen (output b_0, input [9:0]x, input [9:0]y);
    
    
    (* lineinfo="@3(191[14],199[6])" *) line_gen line_gen_inst (b_0, {x}, 
            {y});
    
endmodule

//
// Verilog Description of module line_gen
//

module line_gen (output b_0, input [9:0]x, input [9:0]y);
    
    (* lineinfo="@3(245[25],245[38])" *) wire [21:0]cross_product;
    
    wire n4;
    wire [21:0]abs_cross_product_21__N_743;
    
    wire n4_adj_779, n1107, n1151, n944, n1149, n1133, n1153;
    wire [21:0]n73;
    wire [18:0]cross_product_21__N_40;
    
    wire n945;
    wire [21:0]n1;
    
    wire n721, n1723, GND_net;
    wire [21:0]cross_product_21__N_21;
    
    wire n723, n1141, n1123, n1145, n1263, n1266, n2_adj_781, 
        n700, n1765, n702, VCC_net, n352, n353, n1720, n692, 
        n1753, n403, n694, n737, n1777, n706, n1774, n704, n1771, 
        n735, n1744, n690, n1750, n733, n1741, n698, n1762, 
        n1747, n1768, n1756, n696, n1759, n731, n1738, n729, 
        n1735, n727, n1732, n725, n1729, n1726;
    
    (* lut_function="(A (B+(C)))" *) LUT4 i1_3_lut (.A(cross_product[6]), 
            .B(cross_product[3]), .C(cross_product[4]), .Z(n4));
    defparam i1_3_lut.INIT = "0xa8a8";
    (* lut_function="(A (B+(C)))", lineinfo="@3(246[18],246[35])" *) LUT4 i1_3_lut_adj_16 (.A(abs_cross_product_21__N_743[6]), 
            .B(abs_cross_product_21__N_743[3]), .C(abs_cross_product_21__N_743[4]), 
            .Z(n4_adj_779));
    defparam i1_3_lut_adj_16.INIT = "0xa8a8";
    (* lut_function="(A+(B))" *) LUT4 i796_2_lut (.A(abs_cross_product_21__N_743[15]), 
            .B(abs_cross_product_21__N_743[14]), .Z(n1107));
    defparam i796_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i840_4_lut (.A(abs_cross_product_21__N_743[11]), 
            .B(abs_cross_product_21__N_743[19]), .C(abs_cross_product_21__N_743[18]), 
            .D(abs_cross_product_21__N_743[13]), .Z(n1151));
    defparam i840_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B (C+(D))+!B (C)))" *) LUT4 i2_4_lut (.A(abs_cross_product_21__N_743[9]), 
            .B(abs_cross_product_21__N_743[5]), .C(abs_cross_product_21__N_743[10]), 
            .D(n4_adj_779), .Z(n944));
    defparam i2_4_lut.INIT = "0xfefa";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i838_4_lut (.A(n944), .B(abs_cross_product_21__N_743[8]), 
            .C(abs_cross_product_21__N_743[21]), .D(abs_cross_product_21__N_743[16]), 
            .Z(n1149));
    defparam i838_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B))" *) LUT4 i822_2_lut (.A(cross_product[8]), .B(cross_product[20]), 
            .Z(n1133));
    defparam i822_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i842_4_lut (.A(abs_cross_product_21__N_743[7]), 
            .B(n1151), .C(n1107), .D(abs_cross_product_21__N_743[12]), 
            .Z(n1153));
    defparam i842_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A))" *) LUT4 sub_75_inv_0_i17_1_lut (.A(n73[19]), 
            .Z(cross_product_21__N_40[16]));
    defparam sub_75_inv_0_i17_1_lut.INIT = "0x5555";
    (* lut_function="(A+(B (C+(D))+!B (C)))" *) LUT4 i2_4_lut_adj_17 (.A(cross_product[10]), 
            .B(cross_product[5]), .C(cross_product[9]), .D(n4), .Z(n945));
    defparam i2_4_lut_adj_17.INIT = "0xfefa";
    (* lut_function="(!(A))", lineinfo="@3(261[51],261[65])" *) LUT4 unary_minus_11_inv_0_i20_1_lut (.A(cross_product[19]), 
            .Z(n1[19]));
    defparam unary_minus_11_inv_0_i20_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@3(261[51],261[65])" *) LUT4 unary_minus_11_inv_0_i19_1_lut (.A(cross_product[18]), 
            .Z(n1[18]));
    defparam unary_minus_11_inv_0_i19_1_lut.INIT = "0x5555";
    FA2 cross_product_21__I_0_2_4 (.A0(GND_net), .B0(cross_product_21__N_21[5]), 
        .C0(cross_product_21__N_40[2]), .D0(n721), .CI0(n721), .A1(GND_net), 
        .B1(cross_product_21__N_21[6]), .C1(cross_product_21__N_40[3]), 
        .D1(n1723), .CI1(n1723), .CO0(n1723), .CO1(n723), .S0(cross_product[5]), 
        .S1(cross_product[6]));
    defparam cross_product_21__I_0_2_4.INIT0 = "0xc33c";
    defparam cross_product_21__I_0_2_4.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i834_4_lut (.A(cross_product[16]), 
            .B(n1141), .C(n1123), .D(cross_product[7]), .Z(n1145));
    defparam i834_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i927_4_lut (.A(abs_cross_product_21__N_743[17]), 
            .B(n1153), .C(n1149), .D(abs_cross_product_21__N_743[20]), 
            .Z(n1263));
    defparam i927_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i929_4_lut (.A(cross_product[13]), 
            .B(n945), .C(cross_product[17]), .D(n1133), .Z(n1266));
    defparam i929_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A))", lineinfo="@3(261[51],261[65])" *) LUT4 unary_minus_11_inv_0_i22_1_lut (.A(cross_product[21]), 
            .Z(n1[21]));
    defparam unary_minus_11_inv_0_i22_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 i2_1_lut (.A(cross_product[20]), .Z(n2_adj_781));
    defparam i2_1_lut.INIT = "0x5555";
    (* lut_function="(!(A (B+!(C))+!A (B (C+(D))+!B !(C+!(D)))))" *) LUT4 i39_4_lut (.A(n1266), 
            .B(n1263), .C(cross_product[21]), .D(n1145), .Z(b_0));
    defparam i39_4_lut.INIT = "0x3035";
    (* lut_function="(!(A))", lineinfo="@3(261[51],261[65])" *) LUT4 unary_minus_11_inv_0_i5_1_lut (.A(cross_product[4]), 
            .Z(n1[4]));
    defparam unary_minus_11_inv_0_i5_1_lut.INIT = "0x5555";
    (* lineinfo="@3(261[51],261[65])" *) FA2 unary_minus_11_add_3_add_5_13 (.A0(GND_net), 
            .B0(GND_net), .C0(n1[14]), .D0(n700), .CI0(n700), .A1(GND_net), 
            .B1(GND_net), .C1(n1[15]), .D1(n1765), .CI1(n1765), .CO0(n1765), 
            .CO1(n702), .S0(abs_cross_product_21__N_743[14]), .S1(abs_cross_product_21__N_743[15]));
    defparam unary_minus_11_add_3_add_5_13.INIT0 = "0xc33c";
    defparam unary_minus_11_add_3_add_5_13.INIT1 = "0xc33c";
    (* lut_function="(!(A))", lineinfo="@3(261[51],261[65])" *) LUT4 unary_minus_11_inv_0_i6_1_lut (.A(cross_product[5]), 
            .Z(n1[5]));
    defparam unary_minus_11_inv_0_i6_1_lut.INIT = "0x5555";
    (* lineinfo="@3(258[25],258[41])" *) MAC16 mult_71 (.CLK(GND_net), .CE(GND_net), 
            .C15(GND_net), .C14(GND_net), .C13(GND_net), .C12(GND_net), 
            .C11(GND_net), .C10(GND_net), .C9(GND_net), .C8(GND_net), 
            .C7(GND_net), .C6(GND_net), .C5(GND_net), .C4(GND_net), 
            .C3(GND_net), .C2(GND_net), .C1(GND_net), .C0(GND_net), 
            .A15(x[9]), .A14(x[9]), .A13(x[9]), .A12(x[9]), .A11(x[9]), 
            .A10(x[9]), .A9(x[9]), .A8(x[8]), .A7(x[7]), .A6(x[6]), 
            .A5(x[5]), .A4(x[4]), .A3(x[3]), .A2(x[2]), .A1(x[1]), 
            .A0(x[0]), .B15(GND_net), .B14(GND_net), .B13(GND_net), 
            .B12(GND_net), .B11(GND_net), .B10(GND_net), .B9(GND_net), 
            .B8(GND_net), .B7(GND_net), .B6(GND_net), .B5(GND_net), 
            .B4(VCC_net), .B3(VCC_net), .B2(GND_net), .B1(GND_net), 
            .B0(VCC_net), .D15(GND_net), .D14(GND_net), .D13(GND_net), 
            .D12(GND_net), .D11(GND_net), .D10(GND_net), .D9(GND_net), 
            .D8(GND_net), .D7(GND_net), .D6(GND_net), .D5(GND_net), 
            .D4(GND_net), .D3(GND_net), .D2(GND_net), .D1(GND_net), 
            .D0(GND_net), .AHOLD(GND_net), .BHOLD(GND_net), .CHOLD(GND_net), 
            .DHOLD(GND_net), .IRSTTOP(GND_net), .IRSTBOT(GND_net), .ORSTTOP(GND_net), 
            .ORSTBOT(GND_net), .OLOADTOP(GND_net), .OLOADBOT(GND_net), 
            .ADDSUBTOP(GND_net), .ADDSUBBOT(GND_net), .OHOLDTOP(GND_net), 
            .OHOLDBOT(GND_net), .CI(GND_net), .ACCUMCI(GND_net), .SIGNEXTIN(GND_net), 
            .O18(cross_product_21__N_21[21]), .O17(cross_product_21__N_21[20]), 
            .O16(cross_product_21__N_21[19]), .O15(cross_product_21__N_21[18]), 
            .O14(cross_product_21__N_21[17]), .O13(cross_product_21__N_21[16]), 
            .O12(cross_product_21__N_21[15]), .O11(cross_product_21__N_21[14]), 
            .O10(cross_product_21__N_21[13]), .O9(cross_product_21__N_21[12]), 
            .O8(cross_product_21__N_21[11]), .O7(cross_product_21__N_21[10]), 
            .O6(cross_product_21__N_21[9]), .O5(cross_product_21__N_21[8]), 
            .O4(cross_product_21__N_21[7]), .O3(cross_product_21__N_21[6]), 
            .O2(cross_product_21__N_21[5]), .O1(cross_product_21__N_21[4]), 
            .O0(cross_product_21__N_21[3]));
    defparam mult_71.NEG_TRIGGER = "0b0";
    defparam mult_71.A_REG = "0b0";
    defparam mult_71.B_REG = "0b0";
    defparam mult_71.C_REG = "0b0";
    defparam mult_71.D_REG = "0b0";
    defparam mult_71.TOP_8x8_MULT_REG = "0b0";
    defparam mult_71.BOT_8x8_MULT_REG = "0b0";
    defparam mult_71.PIPELINE_16x16_MULT_REG1 = "0b0";
    defparam mult_71.PIPELINE_16x16_MULT_REG2 = "0b0";
    defparam mult_71.TOPOUTPUT_SELECT = "0b11";
    defparam mult_71.TOPADDSUB_LOWERINPUT = "0b00";
    defparam mult_71.TOPADDSUB_UPPERINPUT = "0b0";
    defparam mult_71.TOPADDSUB_CARRYSELECT = "0b00";
    defparam mult_71.BOTOUTPUT_SELECT = "0b11";
    defparam mult_71.BOTADDSUB_LOWERINPUT = "0b00";
    defparam mult_71.BOTADDSUB_UPPERINPUT = "0b0";
    defparam mult_71.BOTADDSUB_CARRYSELECT = "0b00";
    defparam mult_71.MODE_8x8 = "0b0";
    defparam mult_71.A_SIGNED = "0b1";
    defparam mult_71.B_SIGNED = "0b1";
    (* lut_function="(!(A))" *) LUT4 sub_75_inv_0_i15_1_lut (.A(n73[17]), 
            .Z(cross_product_21__N_40[14]));
    defparam sub_75_inv_0_i15_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 sub_75_inv_0_i16_1_lut (.A(n73[18]), 
            .Z(cross_product_21__N_40[15]));
    defparam sub_75_inv_0_i16_1_lut.INIT = "0x5555";
    (* lineinfo="@3(258[44],258[60])" *) MAC16 mult_72 (.CLK(GND_net), .CE(GND_net), 
            .C15(GND_net), .C14(GND_net), .C13(GND_net), .C12(GND_net), 
            .C11(GND_net), .C10(GND_net), .C9(GND_net), .C8(GND_net), 
            .C7(GND_net), .C6(GND_net), .C5(GND_net), .C4(GND_net), 
            .C3(GND_net), .C2(GND_net), .C1(GND_net), .C0(GND_net), 
            .A15(y[9]), .A14(y[9]), .A13(y[9]), .A12(y[9]), .A11(y[9]), 
            .A10(y[9]), .A9(y[9]), .A8(y[8]), .A7(y[7]), .A6(y[6]), 
            .A5(y[5]), .A4(y[4]), .A3(y[3]), .A2(y[2]), .A1(y[1]), 
            .A0(y[0]), .B15(GND_net), .B14(GND_net), .B13(GND_net), 
            .B12(GND_net), .B11(GND_net), .B10(GND_net), .B9(GND_net), 
            .B8(GND_net), .B7(GND_net), .B6(GND_net), .B5(GND_net), 
            .B4(VCC_net), .B3(VCC_net), .B2(GND_net), .B1(GND_net), 
            .B0(VCC_net), .D15(GND_net), .D14(GND_net), .D13(GND_net), 
            .D12(GND_net), .D11(GND_net), .D10(GND_net), .D9(GND_net), 
            .D8(GND_net), .D7(GND_net), .D6(GND_net), .D5(GND_net), 
            .D4(GND_net), .D3(GND_net), .D2(GND_net), .D1(GND_net), 
            .D0(GND_net), .AHOLD(GND_net), .BHOLD(GND_net), .CHOLD(GND_net), 
            .DHOLD(GND_net), .IRSTTOP(GND_net), .IRSTBOT(GND_net), .ORSTTOP(GND_net), 
            .ORSTBOT(GND_net), .OLOADTOP(GND_net), .OLOADBOT(GND_net), 
            .ADDSUBTOP(GND_net), .ADDSUBBOT(GND_net), .OHOLDTOP(GND_net), 
            .OHOLDBOT(GND_net), .CI(GND_net), .ACCUMCI(GND_net), .SIGNEXTIN(GND_net), 
            .O18(n73[21]), .O17(n73[20]), .O16(n73[19]), .O15(n73[18]), 
            .O14(n73[17]), .O13(n73[16]), .O12(n73[15]), .O11(n73[14]), 
            .O10(n73[13]), .O9(n73[12]), .O8(n73[11]), .O7(n73[10]), 
            .O6(n73[9]), .O5(n73[8]), .O4(n73[7]), .O3(n73[6]), .O2(n73[5]), 
            .O1(n73[4]), .O0(n73[3]));
    defparam mult_72.NEG_TRIGGER = "0b0";
    defparam mult_72.A_REG = "0b0";
    defparam mult_72.B_REG = "0b0";
    defparam mult_72.C_REG = "0b0";
    defparam mult_72.D_REG = "0b0";
    defparam mult_72.TOP_8x8_MULT_REG = "0b0";
    defparam mult_72.BOT_8x8_MULT_REG = "0b0";
    defparam mult_72.PIPELINE_16x16_MULT_REG1 = "0b0";
    defparam mult_72.PIPELINE_16x16_MULT_REG2 = "0b0";
    defparam mult_72.TOPOUTPUT_SELECT = "0b11";
    defparam mult_72.TOPADDSUB_LOWERINPUT = "0b00";
    defparam mult_72.TOPADDSUB_UPPERINPUT = "0b0";
    defparam mult_72.TOPADDSUB_CARRYSELECT = "0b00";
    defparam mult_72.BOTOUTPUT_SELECT = "0b11";
    defparam mult_72.BOTADDSUB_LOWERINPUT = "0b00";
    defparam mult_72.BOTADDSUB_UPPERINPUT = "0b0";
    defparam mult_72.BOTADDSUB_CARRYSELECT = "0b00";
    defparam mult_72.MODE_8x8 = "0b0";
    defparam mult_72.A_SIGNED = "0b1";
    defparam mult_72.B_SIGNED = "0b1";
    (* lut_function="(!(A))", lineinfo="@3(261[51],261[65])" *) LUT4 unary_minus_11_inv_0_i13_1_lut (.A(cross_product[12]), 
            .Z(n1[12]));
    defparam unary_minus_11_inv_0_i13_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@3(261[51],261[65])" *) LUT4 unary_minus_11_inv_0_i14_1_lut (.A(cross_product[13]), 
            .Z(n1[13]));
    defparam unary_minus_11_inv_0_i14_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@3(261[51],261[65])" *) LUT4 unary_minus_11_inv_0_i4_1_lut (.A(cross_product[3]), 
            .Z(n1[3]));
    defparam unary_minus_11_inv_0_i4_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@3(261[51],261[65])" *) LUT4 unary_minus_11_inv_0_i17_1_lut (.A(cross_product[16]), 
            .Z(n1[16]));
    defparam unary_minus_11_inv_0_i17_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@3(261[51],261[65])" *) LUT4 unary_minus_11_inv_0_i18_1_lut (.A(cross_product[17]), 
            .Z(n1[17]));
    defparam unary_minus_11_inv_0_i18_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@3(261[51],261[65])" *) LUT4 unary_minus_11_inv_0_i9_1_lut (.A(cross_product[8]), 
            .Z(n1[8]));
    defparam unary_minus_11_inv_0_i9_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 i201_1_lut (.A(cross_product[9]), .Z(n352));
    defparam i201_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 i202_1_lut (.A(cross_product[10]), .Z(n353));
    defparam i202_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@3(261[51],261[65])" *) LUT4 unary_minus_11_inv_0_i12_1_lut (.A(cross_product[11]), 
            .Z(n1[11]));
    defparam unary_minus_11_inv_0_i12_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@3(261[51],261[65])" *) LUT4 unary_minus_11_inv_0_i16_1_lut (.A(cross_product[15]), 
            .Z(n1[15]));
    defparam unary_minus_11_inv_0_i16_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@3(261[51],261[65])" *) LUT4 unary_minus_11_inv_0_i15_1_lut (.A(cross_product[14]), 
            .Z(n1[14]));
    defparam unary_minus_11_inv_0_i15_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 sub_75_inv_0_i4_1_lut (.A(n73[6]), .Z(cross_product_21__N_40[3]));
    defparam sub_75_inv_0_i4_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 sub_75_inv_0_i3_1_lut (.A(n73[5]), .Z(cross_product_21__N_40[2]));
    defparam sub_75_inv_0_i3_1_lut.INIT = "0x5555";
    FA2 cross_product_21__I_0_2_2 (.A0(GND_net), .B0(cross_product_21__N_21[3]), 
        .C0(cross_product_21__N_40[0]), .D0(VCC_net), .A1(GND_net), .B1(cross_product_21__N_21[4]), 
        .C1(cross_product_21__N_40[1]), .D1(n1720), .CI1(n1720), .CO0(n1720), 
        .CO1(n721), .S0(cross_product[3]), .S1(cross_product[4]));
    defparam cross_product_21__I_0_2_2.INIT0 = "0xc33c";
    defparam cross_product_21__I_0_2_2.INIT1 = "0xc33c";
    (* lineinfo="@3(261[51],261[65])" *) FA2 unary_minus_11_add_3_add_5_5 (.A0(GND_net), 
            .B0(GND_net), .C0(n403), .D0(n692), .CI0(n692), .A1(GND_net), 
            .B1(GND_net), .C1(n1[7]), .D1(n1753), .CI1(n1753), .CO0(n1753), 
            .CO1(n694), .S0(abs_cross_product_21__N_743[6]), .S1(abs_cross_product_21__N_743[7]));
    defparam unary_minus_11_add_3_add_5_5.INIT0 = "0xc33c";
    defparam unary_minus_11_add_3_add_5_5.INIT1 = "0xc33c";
    FA2 cross_product_21__I_0_2_20 (.A0(GND_net), .B0(cross_product_21__N_21[21]), 
        .C0(cross_product_21__N_40[18]), .D0(n737), .CI0(n737), .A1(GND_net), 
        .B1(GND_net), .C1(GND_net), .D1(n1777), .CI1(n1777), .CO0(n1777), 
        .S0(cross_product[21]));
    defparam cross_product_21__I_0_2_20.INIT0 = "0xc33c";
    defparam cross_product_21__I_0_2_20.INIT1 = "0xc33c";
    (* lut_function="(!(A))" *) LUT4 sub_75_inv_0_i19_1_lut (.A(n73[21]), 
            .Z(cross_product_21__N_40[18]));
    defparam sub_75_inv_0_i19_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@3(261[51],261[65])" *) LUT4 unary_minus_11_inv_0_i8_1_lut (.A(cross_product[7]), 
            .Z(n1[7]));
    defparam unary_minus_11_inv_0_i8_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 i252_1_lut (.A(cross_product[6]), .Z(n403));
    defparam i252_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 sub_75_inv_0_i2_1_lut (.A(n73[4]), .Z(cross_product_21__N_40[1]));
    defparam sub_75_inv_0_i2_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 sub_75_inv_0_i1_1_lut (.A(n73[3]), .Z(cross_product_21__N_40[0]));
    defparam sub_75_inv_0_i1_1_lut.INIT = "0x5555";
    (* lut_function="(A+(B))" *) LUT4 i812_2_lut (.A(cross_product[12]), .B(cross_product[15]), 
            .Z(n1123));
    defparam i812_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i830_4_lut (.A(cross_product[14]), 
            .B(cross_product[18]), .C(cross_product[11]), .D(cross_product[19]), 
            .Z(n1141));
    defparam i830_4_lut.INIT = "0xfffe";
    (* lineinfo="@3(261[51],261[65])" *) FA2 unary_minus_11_add_3_add_5_19 (.A0(GND_net), 
            .B0(GND_net), .C0(n2_adj_781), .D0(n706), .CI0(n706), .A1(GND_net), 
            .B1(GND_net), .C1(n1[21]), .D1(n1774), .CI1(n1774), .CO0(n1774), 
            .S0(abs_cross_product_21__N_743[20]), .S1(abs_cross_product_21__N_743[21]));
    defparam unary_minus_11_add_3_add_5_19.INIT0 = "0xc33c";
    defparam unary_minus_11_add_3_add_5_19.INIT1 = "0xc33c";
    (* lineinfo="@3(261[51],261[65])" *) FA2 unary_minus_11_add_3_add_5_17 (.A0(GND_net), 
            .B0(GND_net), .C0(n1[18]), .D0(n704), .CI0(n704), .A1(GND_net), 
            .B1(GND_net), .C1(n1[19]), .D1(n1771), .CI1(n1771), .CO0(n1771), 
            .CO1(n706), .S0(abs_cross_product_21__N_743[18]), .S1(abs_cross_product_21__N_743[19]));
    defparam unary_minus_11_add_3_add_5_17.INIT0 = "0xc33c";
    defparam unary_minus_11_add_3_add_5_17.INIT1 = "0xc33c";
    FA2 cross_product_21__I_0_2_18 (.A0(GND_net), .B0(cross_product_21__N_21[19]), 
        .C0(cross_product_21__N_40[16]), .D0(n735), .CI0(n735), .A1(GND_net), 
        .B1(cross_product_21__N_21[20]), .C1(cross_product_21__N_40[17]), 
        .D1(n1744), .CI1(n1744), .CO0(n1744), .CO1(n737), .S0(cross_product[19]), 
        .S1(cross_product[20]));
    defparam cross_product_21__I_0_2_18.INIT0 = "0xc33c";
    defparam cross_product_21__I_0_2_18.INIT1 = "0xc33c";
    (* lineinfo="@3(261[51],261[65])" *) FA2 unary_minus_11_add_3_add_5_3 (.A0(GND_net), 
            .B0(GND_net), .C0(n1[4]), .D0(n690), .CI0(n690), .A1(GND_net), 
            .B1(GND_net), .C1(n1[5]), .D1(n1750), .CI1(n1750), .CO0(n1750), 
            .CO1(n692), .S0(abs_cross_product_21__N_743[4]), .S1(abs_cross_product_21__N_743[5]));
    defparam unary_minus_11_add_3_add_5_3.INIT0 = "0xc33c";
    defparam unary_minus_11_add_3_add_5_3.INIT1 = "0xc33c";
    FA2 cross_product_21__I_0_2_16 (.A0(GND_net), .B0(cross_product_21__N_21[17]), 
        .C0(cross_product_21__N_40[14]), .D0(n733), .CI0(n733), .A1(GND_net), 
        .B1(cross_product_21__N_21[18]), .C1(cross_product_21__N_40[15]), 
        .D1(n1741), .CI1(n1741), .CO0(n1741), .CO1(n735), .S0(cross_product[17]), 
        .S1(cross_product[18]));
    defparam cross_product_21__I_0_2_16.INIT0 = "0xc33c";
    defparam cross_product_21__I_0_2_16.INIT1 = "0xc33c";
    (* lineinfo="@3(261[51],261[65])" *) FA2 unary_minus_11_add_3_add_5_11 (.A0(GND_net), 
            .B0(GND_net), .C0(n1[12]), .D0(n698), .CI0(n698), .A1(GND_net), 
            .B1(GND_net), .C1(n1[13]), .D1(n1762), .CI1(n1762), .CO0(n1762), 
            .CO1(n700), .S0(abs_cross_product_21__N_743[12]), .S1(abs_cross_product_21__N_743[13]));
    defparam unary_minus_11_add_3_add_5_11.INIT0 = "0xc33c";
    defparam unary_minus_11_add_3_add_5_11.INIT1 = "0xc33c";
    (* lineinfo="@3(261[51],261[65])" *) FA2 unary_minus_11_add_3_add_5_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(n1[3]), .D1(n1747), .CI1(n1747), .CO0(n1747), .CO1(n690), 
            .S1(abs_cross_product_21__N_743[3]));
    defparam unary_minus_11_add_3_add_5_1.INIT0 = "0xc33c";
    defparam unary_minus_11_add_3_add_5_1.INIT1 = "0xc33c";
    (* lineinfo="@3(261[51],261[65])" *) FA2 unary_minus_11_add_3_add_5_15 (.A0(GND_net), 
            .B0(GND_net), .C0(n1[16]), .D0(n702), .CI0(n702), .A1(GND_net), 
            .B1(GND_net), .C1(n1[17]), .D1(n1768), .CI1(n1768), .CO0(n1768), 
            .CO1(n704), .S0(abs_cross_product_21__N_743[16]), .S1(abs_cross_product_21__N_743[17]));
    defparam unary_minus_11_add_3_add_5_15.INIT0 = "0xc33c";
    defparam unary_minus_11_add_3_add_5_15.INIT1 = "0xc33c";
    (* lineinfo="@3(261[51],261[65])" *) FA2 unary_minus_11_add_3_add_5_7 (.A0(GND_net), 
            .B0(GND_net), .C0(n1[8]), .D0(n694), .CI0(n694), .A1(GND_net), 
            .B1(GND_net), .C1(n352), .D1(n1756), .CI1(n1756), .CO0(n1756), 
            .CO1(n696), .S0(abs_cross_product_21__N_743[8]), .S1(abs_cross_product_21__N_743[9]));
    defparam unary_minus_11_add_3_add_5_7.INIT0 = "0xc33c";
    defparam unary_minus_11_add_3_add_5_7.INIT1 = "0xc33c";
    (* lineinfo="@3(261[51],261[65])" *) FA2 unary_minus_11_add_3_add_5_9 (.A0(GND_net), 
            .B0(GND_net), .C0(n353), .D0(n696), .CI0(n696), .A1(GND_net), 
            .B1(GND_net), .C1(n1[11]), .D1(n1759), .CI1(n1759), .CO0(n1759), 
            .CO1(n698), .S0(abs_cross_product_21__N_743[10]), .S1(abs_cross_product_21__N_743[11]));
    defparam unary_minus_11_add_3_add_5_9.INIT0 = "0xc33c";
    defparam unary_minus_11_add_3_add_5_9.INIT1 = "0xc33c";
    FA2 cross_product_21__I_0_2_14 (.A0(GND_net), .B0(cross_product_21__N_21[15]), 
        .C0(cross_product_21__N_40[12]), .D0(n731), .CI0(n731), .A1(GND_net), 
        .B1(cross_product_21__N_21[16]), .C1(cross_product_21__N_40[13]), 
        .D1(n1738), .CI1(n1738), .CO0(n1738), .CO1(n733), .S0(cross_product[15]), 
        .S1(cross_product[16]));
    defparam cross_product_21__I_0_2_14.INIT0 = "0xc33c";
    defparam cross_product_21__I_0_2_14.INIT1 = "0xc33c";
    FA2 cross_product_21__I_0_2_12 (.A0(GND_net), .B0(cross_product_21__N_21[13]), 
        .C0(cross_product_21__N_40[10]), .D0(n729), .CI0(n729), .A1(GND_net), 
        .B1(cross_product_21__N_21[14]), .C1(cross_product_21__N_40[11]), 
        .D1(n1735), .CI1(n1735), .CO0(n1735), .CO1(n731), .S0(cross_product[13]), 
        .S1(cross_product[14]));
    defparam cross_product_21__I_0_2_12.INIT0 = "0xc33c";
    defparam cross_product_21__I_0_2_12.INIT1 = "0xc33c";
    FA2 cross_product_21__I_0_2_10 (.A0(GND_net), .B0(cross_product_21__N_21[11]), 
        .C0(cross_product_21__N_40[8]), .D0(n727), .CI0(n727), .A1(GND_net), 
        .B1(cross_product_21__N_21[12]), .C1(cross_product_21__N_40[9]), 
        .D1(n1732), .CI1(n1732), .CO0(n1732), .CO1(n729), .S0(cross_product[11]), 
        .S1(cross_product[12]));
    defparam cross_product_21__I_0_2_10.INIT0 = "0xc33c";
    defparam cross_product_21__I_0_2_10.INIT1 = "0xc33c";
    FA2 cross_product_21__I_0_2_8 (.A0(GND_net), .B0(cross_product_21__N_21[9]), 
        .C0(cross_product_21__N_40[6]), .D0(n725), .CI0(n725), .A1(GND_net), 
        .B1(cross_product_21__N_21[10]), .C1(cross_product_21__N_40[7]), 
        .D1(n1729), .CI1(n1729), .CO0(n1729), .CO1(n727), .S0(cross_product[9]), 
        .S1(cross_product[10]));
    defparam cross_product_21__I_0_2_8.INIT0 = "0xc33c";
    defparam cross_product_21__I_0_2_8.INIT1 = "0xc33c";
    FA2 cross_product_21__I_0_2_6 (.A0(GND_net), .B0(cross_product_21__N_21[7]), 
        .C0(cross_product_21__N_40[4]), .D0(n723), .CI0(n723), .A1(GND_net), 
        .B1(cross_product_21__N_21[8]), .C1(cross_product_21__N_40[5]), 
        .D1(n1726), .CI1(n1726), .CO0(n1726), .CO1(n725), .S0(cross_product[7]), 
        .S1(cross_product[8]));
    defparam cross_product_21__I_0_2_6.INIT0 = "0xc33c";
    defparam cross_product_21__I_0_2_6.INIT1 = "0xc33c";
    (* lut_function="(!(A))" *) LUT4 sub_75_inv_0_i18_1_lut (.A(n73[20]), 
            .Z(cross_product_21__N_40[17]));
    defparam sub_75_inv_0_i18_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 sub_75_inv_0_i13_1_lut (.A(n73[15]), 
            .Z(cross_product_21__N_40[12]));
    defparam sub_75_inv_0_i13_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 sub_75_inv_0_i14_1_lut (.A(n73[16]), 
            .Z(cross_product_21__N_40[13]));
    defparam sub_75_inv_0_i14_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 sub_75_inv_0_i11_1_lut (.A(n73[13]), 
            .Z(cross_product_21__N_40[10]));
    defparam sub_75_inv_0_i11_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 sub_75_inv_0_i12_1_lut (.A(n73[14]), 
            .Z(cross_product_21__N_40[11]));
    defparam sub_75_inv_0_i12_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 sub_75_inv_0_i9_1_lut (.A(n73[11]), .Z(cross_product_21__N_40[8]));
    defparam sub_75_inv_0_i9_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 sub_75_inv_0_i10_1_lut (.A(n73[12]), 
            .Z(cross_product_21__N_40[9]));
    defparam sub_75_inv_0_i10_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 sub_75_inv_0_i7_1_lut (.A(n73[9]), .Z(cross_product_21__N_40[6]));
    defparam sub_75_inv_0_i7_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 sub_75_inv_0_i8_1_lut (.A(n73[10]), .Z(cross_product_21__N_40[7]));
    defparam sub_75_inv_0_i8_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 sub_75_inv_0_i5_1_lut (.A(n73[7]), .Z(cross_product_21__N_40[4]));
    defparam sub_75_inv_0_i5_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))" *) LUT4 sub_75_inv_0_i6_1_lut (.A(n73[8]), .Z(cross_product_21__N_40[5]));
    defparam sub_75_inv_0_i6_1_lut.INIT = "0x5555";
    VHI i2 (.Z(VCC_net));
    VLO i1 (.Z(GND_net));
    
endmodule

//
// Verilog Description of module vgaController
//

module vgaController (output [9:0]y, output [9:0]x, input vgaclk_c, input reset_c, 
            output blank_b_c, output hsync_c, output vsync_c);
    
    (* is_clock=1, lineinfo="@3(3[19],3[25])" *) wire vgaclk_c;
    
    wire n46, n712, n1717, GND_net, n714;
    wire [9:0]n45;
    wire [9:0]n35;
    
    wire n19;
    wire [9:0]n46_2;
    
    wire n19_adj_768;
    wire [9:0]x_9__N_1;
    
    wire n710, n1714, n4, n68, n1131, n1693, n679, n1696, n681, 
        n13, n12, n685, n1705, n687, n648, n50_adj_776, n11, 
        n8, n1129, n1711, n683, n1702, n1699, n718, n1786, n716, 
        n1783, n1780, n1789, VCC_net;
    
    (* lut_function="(A (B (C (D))))" *) LUT4 i2_3_lut_4_lut (.A(y[7]), .B(y[8]), 
            .C(y[5]), .D(y[6]), .Z(n46));
    defparam i2_3_lut_4_lut.INIT = "0x8000";
    (* lineinfo="@3(74[15],74[23])" *) FA2 hcnt_23_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(x[3]), .D0(n712), .CI0(n712), .A1(GND_net), 
            .B1(GND_net), .C1(x[4]), .D1(n1717), .CI1(n1717), .CO0(n1717), 
            .CO1(n714), .S0(n45[3]), .S1(n45[4]));
    defparam hcnt_23_add_4_5.INIT0 = "0xc33c";
    defparam hcnt_23_add_4_5.INIT1 = "0xc33c";
    (* lut_function="(A (B))", lineinfo="@3(77[17],77[25])" *) LUT4 i411_2_lut (.A(n35[9]), 
            .B(n19), .Z(n46_2[9]));
    defparam i411_2_lut.INIT = "0x8888";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut (.A(n19_adj_768), .B(n45[0]), 
            .Z(x_9__N_1[0]));
    defparam i1_2_lut.INIT = "0x4444";
    (* lineinfo="@3(74[15],74[23])" *) FA2 hcnt_23_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(x[1]), .D0(n710), .CI0(n710), .A1(GND_net), 
            .B1(GND_net), .C1(x[2]), .D1(n1714), .CI1(n1714), .CO0(n1714), 
            .CO1(n712), .S0(n45[1]), .S1(n45[2]));
    defparam hcnt_23_add_4_3.INIT0 = "0xc33c";
    defparam hcnt_23_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_1 (.A(n19), .B(n35[3]), 
            .Z(n46_2[3]));
    defparam i1_2_lut_adj_1.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_2 (.A(n19), .B(n35[4]), 
            .Z(n46_2[4]));
    defparam i1_2_lut_adj_2.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_3 (.A(n19), .B(n35[5]), 
            .Z(n46_2[5]));
    defparam i1_2_lut_adj_3.INIT = "0x8888";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_4 (.A(n19_adj_768), 
            .B(n45[3]), .Z(x_9__N_1[3]));
    defparam i1_2_lut_adj_4.INIT = "0x4444";
    (* syn_use_carry_chain=1, lineinfo="@3(77[17],77[25])" *) FD1P3XZ vcnt_22__i7 (.D(n46_2[7]), 
            .SP(n19_adj_768), .CK(vgaclk_c), .SR(reset_c), .Q(y[7]));
    defparam vcnt_22__i7.REGSET = "RESET";
    defparam vcnt_22__i7.SRMODE = "ASYNC";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_5 (.A(n19), .B(n35[6]), 
            .Z(n46_2[6]));
    defparam i1_2_lut_adj_5.INIT = "0x8888";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_6 (.A(x[8]), .B(x[7]), 
            .Z(n4));
    defparam i1_2_lut_adj_6.INIT = "0xeeee";
    (* syn_use_carry_chain=1, lineinfo="@3(77[17],77[25])" *) FD1P3XZ vcnt_22__i6 (.D(n46_2[6]), 
            .SP(n19_adj_768), .CK(vgaclk_c), .SR(reset_c), .Q(y[6]));
    defparam vcnt_22__i6.REGSET = "RESET";
    defparam vcnt_22__i6.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(74[15],74[23])" *) FD1P3XZ hcnt_23__i3 (.D(x_9__N_1[3]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[3]));
    defparam hcnt_23__i3.REGSET = "RESET";
    defparam hcnt_23__i3.SRMODE = "ASYNC";
    (* lut_function="(!(A+!(B)))", lineinfo="@3(8[14],8[15])" *) LUT4 i1_2_lut_adj_7 (.A(n19_adj_768), 
            .B(n45[4]), .Z(x_9__N_1[4]));
    defparam i1_2_lut_adj_7.INIT = "0x4444";
    (* lut_function="(!((B)+!A))", lineinfo="@3(74[15],74[23])" *) LUT4 i410_2_lut (.A(n45[5]), 
            .B(n19_adj_768), .Z(x_9__N_1[5]));
    defparam i410_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))", lineinfo="@3(74[15],74[23])" *) LUT4 i409_2_lut (.A(n45[6]), 
            .B(n19_adj_768), .Z(x_9__N_1[6]));
    defparam i409_2_lut.INIT = "0x2222";
    (* lut_function="(!(A+(B (C+(D))+!B (C))))" *) LUT4 i1014_4_lut (.A(y[9]), 
            .B(x[9]), .C(n46), .D(n4), .Z(blank_b_c));
    defparam i1014_4_lut.INIT = "0x0105";
    (* syn_use_carry_chain=1, lineinfo="@3(77[17],77[25])" *) FD1P3XZ vcnt_22__i5 (.D(n46_2[5]), 
            .SP(n19_adj_768), .CK(vgaclk_c), .SR(reset_c), .Q(y[5]));
    defparam vcnt_22__i5.REGSET = "RESET";
    defparam vcnt_22__i5.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(77[17],77[25])" *) FD1P3XZ vcnt_22__i4 (.D(n46_2[4]), 
            .SP(n19_adj_768), .CK(vgaclk_c), .SR(reset_c), .Q(y[4]));
    defparam vcnt_22__i4.REGSET = "RESET";
    defparam vcnt_22__i4.SRMODE = "ASYNC";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_8 (.A(n19), .B(n35[7]), 
            .Z(n46_2[7]));
    defparam i1_2_lut_adj_8.INIT = "0x8888";
    (* syn_use_carry_chain=1, lineinfo="@3(77[17],77[25])" *) FD1P3XZ vcnt_22__i3 (.D(n46_2[3]), 
            .SP(n19_adj_768), .CK(vgaclk_c), .SR(reset_c), .Q(y[3]));
    defparam vcnt_22__i3.REGSET = "RESET";
    defparam vcnt_22__i3.SRMODE = "ASYNC";
    (* lut_function="((B)+!A)", lineinfo="@3(77[17],77[25])" *) LUT4 i1_2_lut_adj_9 (.A(y[3]), 
            .B(y[4]), .Z(n68));
    defparam i1_2_lut_adj_9.INIT = "0xdddd";
    (* syn_use_carry_chain=1, lineinfo="@3(74[15],74[23])" *) FD1P3XZ hcnt_23__i0 (.D(x_9__N_1[0]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[0]));
    defparam hcnt_23__i0.REGSET = "RESET";
    defparam hcnt_23__i0.SRMODE = "ASYNC";
    (* lut_function="(A (B (C)))" *) LUT4 i820_3_lut (.A(y[0]), .B(y[9]), 
            .C(y[2]), .Z(n1131));
    defparam i820_3_lut.INIT = "0x8080";
    (* syn_use_carry_chain=1, lineinfo="@3(77[17],77[25])" *) FD1P3XZ vcnt_22__i2 (.D(n46_2[2]), 
            .SP(n19_adj_768), .CK(vgaclk_c), .SR(reset_c), .Q(y[2]));
    defparam vcnt_22__i2.REGSET = "RESET";
    defparam vcnt_22__i2.SRMODE = "ASYNC";
    (* lineinfo="@3(77[17],77[25])" *) FA2 vcnt_22_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(y[0]), .D1(n1693), .CI1(n1693), .CO0(n1693), .CO1(n679), 
            .S1(n35[0]));
    defparam vcnt_22_add_4_1.INIT0 = "0xc33c";
    defparam vcnt_22_add_4_1.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))", lineinfo="@3(74[15],74[23])" *) LUT4 i408_2_lut (.A(n45[7]), 
            .B(n19_adj_768), .Z(x_9__N_1[7]));
    defparam i408_2_lut.INIT = "0x2222";
    (* lineinfo="@3(77[17],77[25])" *) FA2 vcnt_22_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(y[1]), .D0(n679), .CI0(n679), .A1(GND_net), 
            .B1(GND_net), .C1(y[2]), .D1(n1696), .CI1(n1696), .CO0(n1696), 
            .CO1(n681), .S0(n35[1]), .S1(n35[2]));
    defparam vcnt_22_add_4_3.INIT0 = "0xc33c";
    defparam vcnt_22_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i5_4_lut (.A(n68), .B(y[5]), 
            .C(y[7]), .D(y[1]), .Z(n13));
    defparam i5_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+((D)+!C)))" *) LUT4 i7_4_lut (.A(n13), .B(y[8]), 
            .C(n1131), .D(y[6]), .Z(n19));
    defparam i7_4_lut.INIT = "0xffef";
    (* lut_function="((B+(C+(D)))+!A)", lineinfo="@3(8[14],8[15])" *) LUT4 i5_4_lut_adj_10 (.A(x[9]), 
            .B(x[7]), .C(x[1]), .D(x[3]), .Z(n12));
    defparam i5_4_lut_adj_10.INIT = "0xfffd";
    (* syn_use_carry_chain=1, lineinfo="@3(77[17],77[25])" *) FD1P3XZ vcnt_22__i1 (.D(n50_adj_776), 
            .SP(n19_adj_768), .CK(vgaclk_c), .SR(reset_c), .Q(y[1]));
    defparam vcnt_22__i1.REGSET = "RESET";
    defparam vcnt_22__i1.SRMODE = "ASYNC";
    (* lineinfo="@3(77[17],77[25])" *) FA2 vcnt_22_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(y[7]), .D0(n685), .CI0(n685), .A1(GND_net), 
            .B1(GND_net), .C1(y[8]), .D1(n1705), .CI1(n1705), .CO0(n1705), 
            .CO1(n687), .S0(n35[7]), .S1(n35[8]));
    defparam vcnt_22_add_4_9.INIT0 = "0xc33c";
    defparam vcnt_22_add_4_9.INIT1 = "0xc33c";
    (* lut_function="(A+(((D)+!C)+!B))" *) LUT4 i3_4_lut (.A(n648), .B(x[7]), 
            .C(x[9]), .D(x[8]), .Z(hsync_c));
    defparam i3_4_lut.INIT = "0xffbf";
    (* syn_use_carry_chain=1, lineinfo="@3(74[15],74[23])" *) FD1P3XZ hcnt_23__i2 (.D(x_9__N_1[2]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[2]));
    defparam hcnt_23__i2.REGSET = "RESET";
    defparam hcnt_23__i2.SRMODE = "ASYNC";
    (* lut_function="((B+((D)+!C))+!A)", lineinfo="@3(8[14],8[15])" *) LUT4 i4_4_lut (.A(x[8]), 
            .B(x[2]), .C(x[5]), .D(x[0]), .Z(n11));
    defparam i4_4_lut.INIT = "0xffdf";
    (* lut_function="(A (B))", lineinfo="@3(77[17],77[25])" *) LUT4 i412_2_lut (.A(n35[8]), 
            .B(n19), .Z(n46_2[8]));
    defparam i412_2_lut.INIT = "0x8888";
    (* lut_function="(!((B)+!A))", lineinfo="@3(74[15],74[23])" *) LUT4 i407_2_lut (.A(n45[8]), 
            .B(n19_adj_768), .Z(x_9__N_1[8]));
    defparam i407_2_lut.INIT = "0x2222";
    (* lut_function="(!(A (B+!(C))+!A ((C)+!B)))", lineinfo="@3(8[17],8[18])" *) LUT4 i19_3_lut (.A(y[0]), 
            .B(y[2]), .C(y[1]), .Z(n8));
    defparam i19_3_lut.INIT = "0x2424";
    (* lut_function="((B+((D)+!C))+!A)" *) LUT4 i2_4_lut (.A(y[6]), .B(n68), 
            .C(n1129), .D(y[9]), .Z(vsync_c));
    defparam i2_4_lut.INIT = "0xffdf";
    (* lineinfo="@3(74[15],74[23])" *) FA2 hcnt_23_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(x[0]), .D1(n1711), .CI1(n1711), .CO0(n1711), .CO1(n710), 
            .S1(n45[0]));
    defparam hcnt_23_add_4_1.INIT0 = "0xc33c";
    defparam hcnt_23_add_4_1.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@3(74[15],74[23])" *) FD1P3XZ hcnt_23__i1 (.D(x_9__N_1[1]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[1]));
    defparam hcnt_23__i1.REGSET = "RESET";
    defparam hcnt_23__i1.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(77[17],77[25])" *) FD1P3XZ vcnt_22__i0 (.D(n46_2[0]), 
            .SP(n19_adj_768), .CK(vgaclk_c), .SR(reset_c), .Q(y[0]));
    defparam vcnt_22__i0.REGSET = "RESET";
    defparam vcnt_22__i0.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(74[15],74[23])" *) FD1P3XZ hcnt_23__i9 (.D(x_9__N_1[9]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[9]));
    defparam hcnt_23__i9.REGSET = "RESET";
    defparam hcnt_23__i9.SRMODE = "ASYNC";
    (* lut_function="(!((B)+!A))", lineinfo="@3(74[15],74[23])" *) LUT4 i406_2_lut (.A(n45[9]), 
            .B(n19_adj_768), .Z(x_9__N_1[9]));
    defparam i406_2_lut.INIT = "0x2222";
    (* lineinfo="@3(77[17],77[25])" *) FA2 vcnt_22_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(y[5]), .D0(n683), .CI0(n683), .A1(GND_net), 
            .B1(GND_net), .C1(y[6]), .D1(n1702), .CI1(n1702), .CO0(n1702), 
            .CO1(n685), .S0(n35[5]), .S1(n35[6]));
    defparam vcnt_22_add_4_7.INIT0 = "0xc33c";
    defparam vcnt_22_add_4_7.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_11 (.A(n19), .B(n35[0]), 
            .Z(n46_2[0]));
    defparam i1_2_lut_adj_11.INIT = "0x8888";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_12 (.A(n19_adj_768), 
            .B(n45[1]), .Z(x_9__N_1[1]));
    defparam i1_2_lut_adj_12.INIT = "0x4444";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_13 (.A(n19_adj_768), 
            .B(n45[2]), .Z(x_9__N_1[2]));
    defparam i1_2_lut_adj_13.INIT = "0x4444";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_14 (.A(n19), .B(n35[1]), 
            .Z(n50_adj_776));
    defparam i1_2_lut_adj_14.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_15 (.A(n19), .B(n35[2]), 
            .Z(n46_2[2]));
    defparam i1_2_lut_adj_15.INIT = "0x8888";
    (* syn_use_carry_chain=1, lineinfo="@3(74[15],74[23])" *) FD1P3XZ hcnt_23__i8 (.D(x_9__N_1[8]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[8]));
    defparam hcnt_23__i8.REGSET = "RESET";
    defparam hcnt_23__i8.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(74[15],74[23])" *) FD1P3XZ hcnt_23__i7 (.D(x_9__N_1[7]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[7]));
    defparam hcnt_23__i7.REGSET = "RESET";
    defparam hcnt_23__i7.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(74[15],74[23])" *) FD1P3XZ hcnt_23__i6 (.D(x_9__N_1[6]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[6]));
    defparam hcnt_23__i6.REGSET = "RESET";
    defparam hcnt_23__i6.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(74[15],74[23])" *) FD1P3XZ hcnt_23__i5 (.D(x_9__N_1[5]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[5]));
    defparam hcnt_23__i5.REGSET = "RESET";
    defparam hcnt_23__i5.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(74[15],74[23])" *) FD1P3XZ hcnt_23__i4 (.D(x_9__N_1[4]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[4]));
    defparam hcnt_23__i4.REGSET = "RESET";
    defparam hcnt_23__i4.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(77[17],77[25])" *) FD1P3XZ vcnt_22__i9 (.D(n46_2[9]), 
            .SP(n19_adj_768), .CK(vgaclk_c), .SR(reset_c), .Q(y[9]));
    defparam vcnt_22__i9.REGSET = "RESET";
    defparam vcnt_22__i9.SRMODE = "ASYNC";
    (* lineinfo="@3(77[17],77[25])" *) FA2 vcnt_22_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(y[3]), .D0(n681), .CI0(n681), .A1(GND_net), 
            .B1(GND_net), .C1(y[4]), .D1(n1699), .CI1(n1699), .CO0(n1699), 
            .CO1(n683), .S0(n35[3]), .S1(n35[4]));
    defparam vcnt_22_add_4_5.INIT0 = "0xc33c";
    defparam vcnt_22_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@3(74[15],74[23])" *) FA2 hcnt_23_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(x[9]), .D0(n718), .CI0(n718), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n1786), .CI1(n1786), .CO0(n1786), 
            .S0(n45[9]));
    defparam hcnt_23_add_4_11.INIT0 = "0xc33c";
    defparam hcnt_23_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@3(74[15],74[23])" *) FA2 hcnt_23_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(x[7]), .D0(n716), .CI0(n716), .A1(GND_net), 
            .B1(GND_net), .C1(x[8]), .D1(n1783), .CI1(n1783), .CO0(n1783), 
            .CO1(n718), .S0(n45[7]), .S1(n45[8]));
    defparam hcnt_23_add_4_9.INIT0 = "0xc33c";
    defparam hcnt_23_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@3(74[15],74[23])" *) FA2 hcnt_23_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(x[5]), .D0(n714), .CI0(n714), .A1(GND_net), 
            .B1(GND_net), .C1(x[6]), .D1(n1780), .CI1(n1780), .CO0(n1780), 
            .CO1(n716), .S0(n45[5]), .S1(n45[6]));
    defparam hcnt_23_add_4_7.INIT0 = "0xc33c";
    defparam hcnt_23_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@3(77[17],77[25])" *) FA2 vcnt_22_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(y[9]), .D0(n687), .CI0(n687), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n1789), .CI1(n1789), .CO0(n1789), 
            .S0(n35[9]));
    defparam vcnt_22_add_4_11.INIT0 = "0xc33c";
    defparam vcnt_22_add_4_11.INIT1 = "0xc33c";
    (* lut_function="(A (B (C))+!A !(B+(C)))", lineinfo="@3(74[15],74[23])" *) LUT4 i497_4_lut_3_lut (.A(x[4]), 
            .B(x[6]), .C(x[5]), .Z(n648));
    defparam i497_4_lut_3_lut.INIT = "0x8181";
    (* lut_function="(!(A+(B+(C+(D)))))", lineinfo="@3(74[15],74[23])" *) LUT4 i1011_3_lut_4_lut (.A(x[4]), 
            .B(x[6]), .C(n12), .D(n11), .Z(n19_adj_768));
    defparam i1011_3_lut_4_lut.INIT = "0x0001";
    (* lut_function="(A (B (C (D))))" *) LUT4 i818_3_lut_4_lut (.A(y[7]), 
            .B(y[8]), .C(y[5]), .D(n8), .Z(n1129));
    defparam i818_3_lut_4_lut.INIT = "0x8000";
    VHI i2 (.Z(VCC_net));
    (* syn_use_carry_chain=1, lineinfo="@3(77[17],77[25])" *) FD1P3XZ vcnt_22__i8 (.D(n46_2[8]), 
            .SP(n19_adj_768), .CK(vgaclk_c), .SR(reset_c), .Q(y[8]));
    defparam vcnt_22__i8.REGSET = "RESET";
    defparam vcnt_22__i8.SRMODE = "ASYNC";
    VLO i1 (.Z(GND_net));
    
endmodule

//
// Verilog Description of module no_lock_pll
//

(* ORIG_MODULE_NAME="no_lock_pll", LATTICE_IP_GENERATED="1" *) module no_lock_pll (input int_osc, 
            input reset_c_N_767, output vgaclk_c);
    
    (* is_clock=1, lineinfo="@3(10[8],10[15])" *) wire int_osc;
    (* is_clock=1, lineinfo="@3(3[19],3[25])" *) wire vgaclk_c;
    
    (* lineinfo="@2(35[41],48[26])" *) \no_lock_pll_ipgen_lscc_pll(DIVR="3",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="48.000000") lscc_pll_inst (int_osc, 
            reset_c_N_767, vgaclk_c);
    
endmodule

//
// Verilog Description of module \no_lock_pll_ipgen_lscc_pll(DIVR="3",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="48.000000") 
//

module \no_lock_pll_ipgen_lscc_pll(DIVR="3",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="48.000000") (input int_osc, 
            input reset_c_N_767, output vgaclk_c);
    
    (* is_clock=1, lineinfo="@3(10[8],10[15])" *) wire int_osc;
    (* is_clock=1, lineinfo="@3(3[19],3[25])" *) wire vgaclk_c;
    
    wire GND_net, feedback_w;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=74, LSE_LCOL=41, LSE_RCOL=26, LSE_LLINE=35, LSE_RLINE=48, lineinfo="@2(35[41],48[26])" *) PLL_B u_PLL_B (.REFERENCECLK(int_osc), 
            .FEEDBACK(feedback_w), .DYNAMICDELAY7(GND_net), .DYNAMICDELAY6(GND_net), 
            .DYNAMICDELAY5(GND_net), .DYNAMICDELAY4(GND_net), .DYNAMICDELAY3(GND_net), 
            .DYNAMICDELAY2(GND_net), .DYNAMICDELAY1(GND_net), .DYNAMICDELAY0(GND_net), 
            .BYPASS(GND_net), .RESET_N(reset_c_N_767), .SCLK(GND_net), 
            .SDI(GND_net), .LATCH(GND_net), .INTFBOUT(feedback_w), .OUTCORE(vgaclk_c));
    defparam u_PLL_B.FEEDBACK_PATH = "SIMPLE";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_FEEDBACK = "FIXED";
    defparam u_PLL_B.FDA_FEEDBACK = "0";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_RELATIVE = "FIXED";
    defparam u_PLL_B.FDA_RELATIVE = "0";
    defparam u_PLL_B.SHIFTREG_DIV_MODE = "0";
    defparam u_PLL_B.PLLOUT_SELECT_PORTA = "GENCLK";
    defparam u_PLL_B.PLLOUT_SELECT_PORTB = "GENCLK";
    defparam u_PLL_B.DIVR = "3";
    defparam u_PLL_B.DIVF = "66";
    defparam u_PLL_B.DIVQ = "5";
    defparam u_PLL_B.FILTER_RANGE = "1";
    defparam u_PLL_B.EXTERNAL_DIVIDE_FACTOR = "NONE";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTA = "0";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTB = "0";
    defparam u_PLL_B.TEST_MODE = "0";
    defparam u_PLL_B.FREQUENCY_PIN_REFERENCECLK = "48.000000";
    VLO i1 (.Z(GND_net));
    
endmodule
