// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.1.0.34.2
// Netlist written on Fri Dec  6 04:39:07 2024
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/kethollingsworth/desktop/repositories/microps/squat-hero/fpga/squat_hero/actual_pll/rtl/actual_pll.v"
// file 1 "c:/users/kethollingsworth/desktop/repositories/microps/squat-hero/fpga/squat_hero/my_pll/rtl/my_pll.v"
// file 2 "c:/users/kethollingsworth/desktop/repositories/microps/squat-hero/fpga/squat_hero/no_lock_pll/rtl/no_lock_pll.v"
// file 3 "c:/users/kethollingsworth/desktop/repositories/microps/squat-hero/fpga/squat_hero/source/test_1/vga.sv"
// file 4 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ice40up.v"
// file 5 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ice40up.vhd"
// file 6 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 7 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 8 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 9 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 10 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 11 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 12 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 13 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 14 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 15 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 16 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 17 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 18 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 19 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 20 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 21 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 22 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 23 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 24 "c:/lscc/radiant/2024.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 25 "c:/lscc/radiant/2024.1/ip/common/adder/rtl/lscc_adder.v"
// file 26 "c:/lscc/radiant/2024.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 27 "c:/lscc/radiant/2024.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 28 "c:/lscc/radiant/2024.1/ip/common/counter/rtl/lscc_cntr.v"
// file 29 "c:/lscc/radiant/2024.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 30 "c:/lscc/radiant/2024.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 31 "c:/lscc/radiant/2024.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 32 "c:/lscc/radiant/2024.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 33 "c:/lscc/radiant/2024.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 34 "c:/lscc/radiant/2024.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 35 "c:/lscc/radiant/2024.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 36 "c:/lscc/radiant/2024.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 37 "c:/lscc/radiant/2024.1/ip/common/rom/rtl/lscc_rom.v"
// file 38 "c:/lscc/radiant/2024.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 39 "c:/lscc/radiant/2024.1/ip/pmi/pmi_add.v"
// file 40 "c:/lscc/radiant/2024.1/ip/pmi/pmi_addsub.v"
// file 41 "c:/lscc/radiant/2024.1/ip/pmi/pmi_complex_mult.v"
// file 42 "c:/lscc/radiant/2024.1/ip/pmi/pmi_counter.v"
// file 43 "c:/lscc/radiant/2024.1/ip/pmi/pmi_dsp.v"
// file 44 "c:/lscc/radiant/2024.1/ip/pmi/pmi_fifo.v"
// file 45 "c:/lscc/radiant/2024.1/ip/pmi/pmi_fifo_dc.v"
// file 46 "c:/lscc/radiant/2024.1/ip/pmi/pmi_mac.v"
// file 47 "c:/lscc/radiant/2024.1/ip/pmi/pmi_mult.v"
// file 48 "c:/lscc/radiant/2024.1/ip/pmi/pmi_multaddsub.v"
// file 49 "c:/lscc/radiant/2024.1/ip/pmi/pmi_multaddsubsum.v"
// file 50 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dp.v"
// file 51 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dp_be.v"
// file 52 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dq.v"
// file 53 "c:/lscc/radiant/2024.1/ip/pmi/pmi_ram_dq_be.v"
// file 54 "c:/lscc/radiant/2024.1/ip/pmi/pmi_rom.v"
// file 55 "c:/lscc/radiant/2024.1/ip/pmi/pmi_sub.v"

//
// Verilog Description of module vga
//

module vga (input reset, input [2:0]frame_switch, output vgaclk, output hsync, 
            output vsync, output sync_b, output blank_b, output test, 
            output test1, output [3:0]r, output [3:0]g, output [3:0]b);
    
    (* is_clock=1, lineinfo="@3(3[19],3[25])" *) wire vgaclk_c;
    (* is_clock=1, lineinfo="@3(13[8],13[15])" *) wire int_osc;
    
    wire GND_net, VCC_net, reset_c, frame_switch_c_2, frame_switch_c_1, 
        frame_switch_c_0, hsync_c, vsync_c, blank_b_c;
    (* lineinfo="@3(10[14],10[15])" *) wire [9:0]x;
    (* lineinfo="@3(10[17],10[18])" *) wire [9:0]y;
    
    wire reset_c_N_145, n105, n2976, n2990, n1348, n113, n12, 
        n3071, n14, n18, n16, n3006, n942, n53, n4, b_0, n694, 
        n115, n155;
    
    VHI i2 (.Z(VCC_net));
    (* syn_instantiated=1 *) HSOSC_CORE hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .TRIM9(GND_net), .TRIM8(GND_net), .TRIM7(GND_net), .TRIM6(GND_net), 
            .TRIM5(GND_net), .TRIM4(GND_net), .TRIM3(GND_net), .TRIM2(GND_net), 
            .TRIM1(GND_net), .TRIM0(GND_net), .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b00";
    defparam hf_osc.FABRIC_TRIME = "DISABLE";
    (* lineinfo="@3(6[19],6[23])" *) OB test_pad (.I(GND_net), .O(test));
    (* lineinfo="@3(37[11],47[3])" *) videoGen videoGen (y[8], frame_switch_c_1, 
            frame_switch_c_2, y[6], y[7], n694, {x}, n115, n16, 
            y[9], n4, n942, n3071, n113, n2976, n1348, b_0, 
            y[2], y[3], y[4], y[5], n18, y[1], n2990, n14, frame_switch_c_0, 
            n53, n105, n155, n3006, n12);
    (* lineinfo="@3(5[27],5[34])" *) OB blank_b_pad (.I(blank_b_c), .O(blank_b));
    (* lineinfo="@3(5[19],5[25])" *) OB sync_b_pad (.I(GND_net), .O(sync_b));
    (* lineinfo="@3(4[26],4[31])" *) OB vsync_pad (.I(vsync_c), .O(vsync));
    (* lineinfo="@3(4[19],4[24])" *) OB hsync_pad (.I(hsync_c), .O(hsync));
    (* lineinfo="@3(3[19],3[25])" *) OB vgaclk_pad (.I(vgaclk_c), .O(vgaclk));
    (* lut_function="(!(A))", lineinfo="@3(24[18],24[24])" *) LUT4 reset_c_I_0_1_lut (.A(reset_c), 
            .Z(reset_c_N_145));
    defparam reset_c_I_0_1_lut.INIT = "0x5555";
    VLO i1 (.Z(GND_net));
    (* lineinfo="@3(31[16],31[75])" *) vgaController vgaCont (y[5], {x}, 
            n155, n115, y[7], y[8], y[6], y[3], y[4], n113, 
            n942, n4, y[1], y[2], n2976, hsync_c, vgaclk_c, reset_c, 
            y[9], n16, vsync_c, n1348, n2990, blank_b_c, n53, 
            n18, n694, n14, n12, n105, n3006, n3071);
    (* lineinfo="@3(7[19],7[24])" *) OB test1_pad (.I(VCC_net), .O(test1));
    (* lineinfo="@3(8[25],8[26])" *) OB \r_pad[3]  (.I(b_0), .O(r[3]));
    (* lineinfo="@3(8[25],8[26])" *) OB \r_pad[2]  (.I(b_0), .O(r[2]));
    (* lineinfo="@3(8[25],8[26])" *) OB \r_pad[1]  (.I(b_0), .O(r[1]));
    (* lineinfo="@3(8[25],8[26])" *) OB \r_pad[0]  (.I(b_0), .O(r[0]));
    (* lineinfo="@3(8[28],8[29])" *) OB \g_pad[3]  (.I(b_0), .O(g[3]));
    (* lineinfo="@3(8[28],8[29])" *) OB \g_pad[2]  (.I(b_0), .O(g[2]));
    (* lineinfo="@3(8[28],8[29])" *) OB \g_pad[1]  (.I(b_0), .O(g[1]));
    (* lineinfo="@3(8[28],8[29])" *) OB \g_pad[0]  (.I(b_0), .O(g[0]));
    (* lineinfo="@3(8[31],8[32])" *) OB \b_pad[3]  (.I(b_0), .O(b[3]));
    (* lineinfo="@3(8[31],8[32])" *) OB \b_pad[2]  (.I(b_0), .O(b[2]));
    (* lineinfo="@3(8[31],8[32])" *) OB \b_pad[1]  (.I(b_0), .O(b[1]));
    (* lineinfo="@3(8[31],8[32])" *) OB \b_pad[0]  (.I(b_0), .O(b[0]));
    (* lineinfo="@3(1[24],1[29])" *) IB reset_pad (.I(reset), .O(reset_c));
    (* lineinfo="@3(2[24],2[36])" *) IB \frame_switch_pad[2]  (.I(frame_switch[2]), 
            .O(frame_switch_c_2));
    (* lineinfo="@3(2[24],2[36])" *) IB \frame_switch_pad[1]  (.I(frame_switch[1]), 
            .O(frame_switch_c_1));
    (* lineinfo="@3(2[24],2[36])" *) IB \frame_switch_pad[0]  (.I(frame_switch[0]), 
            .O(frame_switch_c_0));
    (* ORIG_MODULE_NAME="no_lock_pll", LATTICE_IP_GENERATED="1", lineinfo="@3(22[17],28[6])" *) no_lock_pll pll_inst (int_osc, 
            reset_c_N_145, vgaclk_c);
    
endmodule

//
// Verilog Description of module videoGen
//

module videoGen (input \y[8] , input frame_switch_c_1, input frame_switch_c_2, 
            input \y[6] , input \y[7] , input n694, input [9:0]x, input n115, 
            input n16, input \y[9] , input n4, input n942, input n3071, 
            input n113, input n2976, input n1348, output b_0, input \y[2] , 
            input \y[3] , input \y[4] , input \y[5] , output n18, input \y[1] , 
            output n2990, output n14, input frame_switch_c_0, output n53, 
            input n105, input n155, output n3006, input n12);
    
    
    wire n12_c, \selected_rects_1_.top_6__N_89 , n12_adj_203;
    (* lineinfo="@3(480[19],480[33])" *) wire [9:0]\selected_rects[2].top ;
    (* lineinfo="@3(480[19],480[33])" *) wire [9:0]\selected_rects[2].bot ;
    
    wire n1059;
    (* lineinfo="@3(480[19],480[33])" *) wire [9:0]\selected_rects[0].bot ;
    (* lineinfo="@3(480[19],480[33])" *) wire [9:0]\selected_rects[1].top ;
    (* lineinfo="@3(480[19],480[33])" *) wire [9:0]\selected_rects[0].top ;
    (* lineinfo="@3(480[19],480[33])" *) wire [9:0]\selected_rects[4].top ;
    (* lineinfo="@3(480[19],480[33])" *) wire [9:0]\selected_rects[6].top ;
    
    wire n10, n10_adj_205;
    
    (* lineinfo="@3(579[21],584[6])" *) rect_struct_gen rect_struct_gen_inst (\y[8] , 
            frame_switch_c_1, frame_switch_c_2, n12_c, \selected_rects_1_.top_6__N_89 , 
            \y[6] , \y[7] , n694, {x}, n115, n16, \y[9] , n4, 
            n942, n12_adj_203, n3071, n113, n2976, n1348, b_0, 
            \y[2] , \y[3] , \selected_rects[2].top [3], \y[4] , \selected_rects[2].top [4], 
            \y[5] , \selected_rects[2].top [5], \selected_rects[2].bot [3], 
            n1059, \selected_rects[2].bot [5], \selected_rects[2].bot [8], 
            n18, \selected_rects[0].bot [2], \y[1] , n2990, \selected_rects[0].bot [4], 
            \selected_rects[1].top [5], \selected_rects[0].bot [3], n14, 
            frame_switch_c_0, \selected_rects[0].top [3], \selected_rects[2].top [6], 
            n53, \selected_rects[0].top [4], \selected_rects[4].top [3], 
            \selected_rects[4].top [4], \selected_rects[6].top [4], n10, 
            n105, n155, n3006, n12, n10_adj_205);
    (* lineinfo="@3(519[15],530[6])" *) frame_mux frame_mux_inst (frame_switch_c_0, 
            frame_switch_c_1, frame_switch_c_2, \selected_rects[2].bot [3], 
            \selected_rects[2].bot [8], n1059, \selected_rects[0].top [4], 
            \selected_rects[0].bot [4], \selected_rects[4].top [3], \selected_rects[2].top [4], 
            \selected_rects[6].top [4], \selected_rects[0].bot [3], \selected_rects[2].top [5], 
            \selected_rects[2].top [6], \selected_rects_1_.top_6__N_89 , 
            \selected_rects[4].top [4], \y[5] , n10, n12_adj_203, n10_adj_205, 
            n12_c, \selected_rects[2].top [3], \selected_rects[1].top [5], 
            \selected_rects[0].top [3], \selected_rects[0].bot [2], \selected_rects[2].bot [5]);
    
endmodule

//
// Verilog Description of module rect_struct_gen
//

module rect_struct_gen (input \y[8] , input frame_switch_c_1, input frame_switch_c_2, 
            input n12, input \selected_rects_1_.top_6__N_89 , input \y[6] , 
            input \y[7] , input n694, input [9:0]x, input n115, input n16, 
            input \y[9] , input n4, input n942, input n12_adj_3, input n3071, 
            input n113, input n2976, input n1348, output b_0, input \y[2] , 
            input \y[3] , input \selected_rects[2].top[3] , input \y[4] , 
            input \selected_rects[2].top[4] , input \y[5] , input \selected_rects[2].top[5] , 
            input \selected_rects[2].bot[3] , input n1059, input \selected_rects[2].bot[5] , 
            input \selected_rects[2].bot[8] , output n18, input \selected_rects[0].bot[2] , 
            input \y[1] , output n2990, input \selected_rects[0].bot[4] , 
            input \selected_rects[1].top[5] , input \selected_rects[0].bot[3] , 
            output n14, input frame_switch_c_0, input \selected_rects[0].top[3] , 
            input \selected_rects[2].top[6] , output n53, input \selected_rects[0].top[4] , 
            input \selected_rects[4].top[3] , input \selected_rects[4].top[4] , 
            input \selected_rects[6].top[4] , output n10, input n105, 
            input n155, output n3006, input n12_adj_4, output n10_adj_5);
    
    
    wire n16_c, n18_c, n14_c, n3000;
    (* lineinfo="@3(696[18],696[24])" *) wire [13:0]inrect;
    
    wire n724, n25, n3117, n23, n14_adj_167, n727, n3011, n7, 
        n4_adj_168, n3005, n10_c, n1, n4_adj_169, n6, n8, n10_adj_170, 
        n12_adj_171, n6_adj_172, n8_adj_173, n10_adj_174, n12_adj_175, 
        n3067;
    (* lineinfo="@3(480[19],480[33])" *) wire [9:0]\selected_rects[1].top ;
    
    wire n6_adj_177, n3296, n10_adj_178, n12_adj_179, n6_adj_180, 
        n8_adj_181, n12_adj_183, n14_adj_184, n3065, n14_adj_185, 
        n8_adj_186, n10_adj_187, n12_adj_188, n6_adj_189, n8_adj_190, 
        n10_adj_191, n12_adj_192, n8_adj_194, n10_adj_195, n12_adj_196, 
        n16_adj_197, n18_adj_198, n10_adj_199, n14_adj_200;
    
    (* lut_function="(A (B+!(C+(D)))+!A !((C+(D))+!B))", lineinfo="@3(702[31],702[57])" *) LUT4 LessThan_34_i18_4_lut (.A(n16_c), 
            .B(\y[8] ), .C(frame_switch_c_1), .D(frame_switch_c_2), .Z(n18_c));
    defparam LessThan_34_i18_4_lut.INIT = "0x888e";
    (* lut_function="(A (B (C+!(D))+!B !(D))+!A !(((D)+!C)+!B))", lineinfo="@3(702[60],702[85])" *) LUT4 LessThan_36_i14_4_lut (.A(n12), 
            .B(frame_switch_c_2), .C(\selected_rects_1_.top_6__N_89 ), .D(\y[6] ), 
            .Z(n14_c));
    defparam LessThan_36_i14_4_lut.INIT = "0x80ea";
    (* lut_function="(!(A ((C (D))+!B)+!A ((C)+!B)))", lineinfo="@3(701[32],702[86])" *) LUT4 i1_4_lut (.A(n14_c), 
            .B(n18_c), .C(\y[8] ), .D(\y[7] ), .Z(n3000));
    defparam i1_4_lut.INIT = "0x0c8c";
    (* lut_function="(A (B (C+(D))+!B (C)))", lineinfo="@3(701[32],702[86])" *) LUT4 i2_4_lut (.A(n694), 
            .B(x[8]), .C(x[9]), .D(n115), .Z(inrect[3]));
    defparam i2_4_lut.INIT = "0xa8a0";
    (* lut_function="(A+!(((D)+!C)+!B))", lineinfo="@3(706[25],706[32])" *) LUT4 i6_4_lut (.A(inrect[3]), 
            .B(n3000), .C(n16), .D(\y[9] ), .Z(n724));
    defparam i6_4_lut.INIT = "0xaaea";
    (* lut_function="(A (B (C)))", lineinfo="@3(706[25],706[32])" *) LUT4 i3013_3_lut (.A(n25), 
            .B(x[5]), .C(x[4]), .Z(n3117));
    defparam i3013_3_lut.INIT = "0x8080";
    (* lut_function="(!(A (B (C (D))+!B (C))+!A (((D)+!C)+!B)))", lineinfo="@3(706[25],706[32])" *) LUT4 i46_4_lut (.A(n3117), 
            .B(n4), .C(x[6]), .D(n942), .Z(n23));
    defparam i46_4_lut.INIT = "0x0aca";
    (* lut_function="(A (B+!(C (D)))+!A !((C (D))+!B))", lineinfo="@3(702[31],702[57])" *) LUT4 LessThan_41_i14_4_lut (.A(n12_adj_3), 
            .B(\y[6] ), .C(frame_switch_c_2), .D(\selected_rects_1_.top_6__N_89 ), 
            .Z(n14_adj_167));
    defparam LessThan_41_i14_4_lut.INIT = "0x8eee";
    (* lut_function="(!((B+(C+!(D)))+!A))", lineinfo="@3(706[25],706[32])" *) LUT4 i3_4_lut (.A(x[8]), 
            .B(x[7]), .C(x[9]), .D(n23), .Z(n727));
    defparam i3_4_lut.INIT = "0x0200";
    (* lut_function="(A (B)+!A (B+(C (D))))", lineinfo="@3(706[25],706[32])" *) LUT4 i1_4_lut_adj_24 (.A(\y[8] ), 
            .B(n3011), .C(n3071), .D(\y[7] ), .Z(n7));
    defparam i1_4_lut_adj_24.INIT = "0xdccc";
    (* lut_function="(A (B (C)+!B (C (D))))", lineinfo="@3(706[25],706[32])" *) LUT4 i1_4_lut_adj_25 (.A(n727), 
            .B(n14_adj_167), .C(\y[8] ), .D(\y[7] ), .Z(n4_adj_168));
    defparam i1_4_lut_adj_25.INIT = "0xa080";
    (* lut_function="(!(A+(B ((D)+!C)+!B !(C))))", lineinfo="@3(706[25],706[32])" *) LUT4 i1_4_lut_adj_26 (.A(x[9]), 
            .B(x[8]), .C(n724), .D(n113), .Z(n3005));
    defparam i1_4_lut_adj_26.INIT = "0x1050";
    (* lut_function="(!(A (B+!(D))+!A !(B (C)+!B (C+(D)))))", lineinfo="@3(706[25],706[32])" *) LUT4 i1_4_lut_adj_27 (.A(n2976), 
            .B(x[9]), .C(n4_adj_168), .D(n7), .Z(n10_c));
    defparam i1_4_lut_adj_27.INIT = "0x7350";
    (* lut_function="(!(A+!(B (C))))", lineinfo="@3(706[25],706[32])" *) LUT4 i2_3_lut (.A(n1348), 
            .B(n694), .C(n16), .Z(n1));
    defparam i2_3_lut.INIT = "0x4040";
    (* lut_function="(A (B+(D))+!A (B+(C+(D))))", lineinfo="@3(706[25],706[32])" *) LUT4 i2_4_lut_adj_28 (.A(\y[9] ), 
            .B(n1), .C(n10_c), .D(n3005), .Z(b_0));
    defparam i2_4_lut_adj_28.INIT = "0xffdc";
    (* lut_function="(A ((C)+!B)+!A !(B+!(C)))", lineinfo="@3(702[31],702[57])" *) LUT4 LessThan_20_i6_3_lut (.A(\y[2] ), 
            .B(n4_adj_169), .C(frame_switch_c_1), .Z(n6));
    defparam LessThan_20_i6_3_lut.INIT = "0xb2b2";
    (* lut_function="(!(A (B+(C (D)))+!A !(B+(C+(D)))))", lineinfo="@3(706[25],706[32])" *) LUT4 i45_4_lut (.A(x[3]), 
            .B(x[2]), .C(x[1]), .D(x[0]), .Z(n25));
    defparam i45_4_lut.INIT = "0x5776";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@3(702[31],702[57])" *) LUT4 LessThan_20_i8_3_lut (.A(n6), 
            .B(\y[3] ), .C(\selected_rects[2].top[3] ), .Z(n8));
    defparam LessThan_20_i8_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@3(702[31],702[57])" *) LUT4 LessThan_20_i10_3_lut (.A(n8), 
            .B(\y[4] ), .C(\selected_rects[2].top[4] ), .Z(n10_adj_170));
    defparam LessThan_20_i10_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@3(702[31],702[57])" *) LUT4 LessThan_20_i12_3_lut (.A(n10_adj_170), 
            .B(\y[5] ), .C(\selected_rects[2].top[5] ), .Z(n12_adj_171));
    defparam LessThan_20_i12_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@3(702[60],702[85])" *) LUT4 LessThan_22_i8_3_lut (.A(n6_adj_172), 
            .B(\selected_rects[2].bot[3] ), .C(\y[3] ), .Z(n8_adj_173));
    defparam LessThan_22_i8_3_lut.INIT = "0x8e8e";
    (* lut_function="(!(A ((C)+!B)+!A !(B+!(C))))", lineinfo="@3(702[60],702[85])" *) LUT4 LessThan_22_i10_3_lut (.A(n1059), 
            .B(n8_adj_173), .C(\y[4] ), .Z(n10_adj_174));
    defparam LessThan_22_i10_3_lut.INIT = "0x4d4d";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@3(702[60],702[85])" *) LUT4 LessThan_22_i12_3_lut (.A(n10_adj_174), 
            .B(\selected_rects[2].bot[5] ), .C(\y[5] ), .Z(n12_adj_175));
    defparam LessThan_22_i12_3_lut.INIT = "0x8e8e";
    (* lut_function="(A ((C (D))+!B)+!A !(B+!(C+!(D))))", lineinfo="@3(702[60],702[85])" *) LUT4 LessThan_22_i18_4_lut (.A(\selected_rects[2].bot[8] ), 
            .B(\y[8] ), .C(n12_adj_175), .D(n3067), .Z(n18));
    defparam LessThan_22_i18_4_lut.INIT = "0xb233";
    (* lut_function="(!(A (B ((D)+!C))+!A (B+((D)+!C))))", lineinfo="@3(702[31],702[57])" *) LUT4 LessThan_8_i6_4_lut_4_lut (.A(\selected_rects[0].bot[2] ), 
            .B(\y[2] ), .C(\selected_rects[1].top [1]), .D(\y[1] ), .Z(n6_adj_177));
    defparam LessThan_8_i6_4_lut_4_lut.INIT = "0x22b2";
    (* lut_function="(A (B (C)))", lineinfo="@3(706[25],706[32])" *) LUT4 i2_3_lut_adj_29 (.A(\y[8] ), 
            .B(\y[7] ), .C(\y[6] ), .Z(n2990));
    defparam i2_3_lut_adj_29.INIT = "0x8080";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@3(702[31],702[57])" *) LUT4 LessThan_13_i10_3_lut (.A(n3296), 
            .B(\y[4] ), .C(\selected_rects[0].bot[4] ), .Z(n10_adj_178));
    defparam LessThan_13_i10_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@3(702[31],702[57])" *) LUT4 LessThan_13_i12_3_lut (.A(n10_adj_178), 
            .B(\y[5] ), .C(\selected_rects[1].top[5] ), .Z(n12_adj_179));
    defparam LessThan_13_i12_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B (C+!(D)))+!A (B+(C+!(D))))", lineinfo="@3(702[31],702[57])" *) LUT4 LessThan_6_i6_4_lut_4_lut (.A(\selected_rects[0].bot[2] ), 
            .B(\y[2] ), .C(\y[1] ), .D(\selected_rects[1].top [1]), .Z(n6_adj_180));
    defparam LessThan_6_i6_4_lut_4_lut.INIT = "0xd4dd";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@3(702[60],702[85])" *) LUT4 LessThan_15_i6_3_lut (.A(n4_adj_169), 
            .B(frame_switch_c_1), .C(\y[2] ), .Z(n6_adj_172));
    defparam LessThan_15_i6_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B (C))+!A (B+(C)))", lineinfo="@3(702[60],702[85])" *) LUT4 LessThan_8_i8_3_lut_3_lut (.A(\y[3] ), 
            .B(\selected_rects[0].bot[3] ), .C(n6_adj_177), .Z(n8_adj_181));
    defparam LessThan_8_i8_3_lut_3_lut.INIT = "0xd4d4";
    (* lut_function="(A ((C)+!B)+!A !(B+!(C)))", lineinfo="@3(702[60],702[85])" *) LUT4 LessThan_13_i8_rep_13_3_lut_3_lut (.A(\y[3] ), 
            .B(\selected_rects[0].bot[3] ), .C(n6_adj_180), .Z(n3296));
    defparam LessThan_13_i8_rep_13_3_lut_3_lut.INIT = "0xb2b2";
    (* lut_function="(A (B (D)+!B ((D)+!C))+!A !(B+(C+!(D))))", lineinfo="@3(702[60],702[85])" *) LUT4 LessThan_13_i14_3_lut_4_lut (.A(\y[6] ), 
            .B(\selected_rects_1_.top_6__N_89 ), .C(frame_switch_c_2), .D(n12_adj_179), 
            .Z(n14));
    defparam LessThan_13_i14_3_lut_4_lut.INIT = "0xab02";
    (* lut_function="(A (B (D)+!B (C (D)))+!A (B+(C+(D))))", lineinfo="@3(702[60],702[85])" *) LUT4 LessThan_8_i14_4_lut_4_lut (.A(\y[6] ), 
            .B(\selected_rects_1_.top_6__N_89 ), .C(frame_switch_c_2), .D(n12_adj_183), 
            .Z(n14_adj_184));
    defparam LessThan_8_i14_4_lut_4_lut.INIT = "0xfd54";
    (* lut_function="(!(A ((C+(D))+!B)+!A (B+!(C+(D)))))" *) LUT4 i2951_4_lut_4_lut (.A(\y[6] ), 
            .B(\y[7] ), .C(frame_switch_c_1), .D(frame_switch_c_2), .Z(n3065));
    defparam i2951_4_lut_4_lut.INIT = "0x1118";
    (* lut_function="(A (B+(C+(D)))+!A (B (C+(D))))", lineinfo="@3(702[31],702[57])" *) LUT4 LessThan_34_i16_3_lut_4_lut (.A(\y[7] ), 
            .B(n14_adj_185), .C(frame_switch_c_1), .D(frame_switch_c_2), 
            .Z(n16_c));
    defparam LessThan_34_i16_3_lut_4_lut.INIT = "0xeee8";
    (* lut_function="(!(A+!(B+(C))))" *) LUT4 i1_2_lut_3_lut (.A(frame_switch_c_0), 
            .B(frame_switch_c_1), .C(frame_switch_c_2), .Z(\selected_rects[1].top [1]));
    defparam i1_2_lut_3_lut.INIT = "0x5454";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@3(702[31],702[57])" *) LUT4 LessThan_6_i8_3_lut (.A(n6_adj_180), 
            .B(\y[3] ), .C(\selected_rects[0].top[3] ), .Z(n8_adj_186));
    defparam LessThan_6_i8_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B (C (D)))+!A (B (D)+!B (C (D))))", lineinfo="@3(702[31],702[57])" *) LUT4 i1_4_lut_4_lut (.A(\selected_rects[2].top[6] ), 
            .B(\y[6] ), .C(n12_adj_171), .D(\y[7] ), .Z(n53));
    defparam i1_4_lut_4_lut.INIT = "0xd400";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@3(702[31],702[57])" *) LUT4 LessThan_6_i10_3_lut (.A(n8_adj_186), 
            .B(\y[4] ), .C(\selected_rects[0].top[4] ), .Z(n10_adj_187));
    defparam LessThan_6_i10_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+(C (D)+!C !(D)))+!A (B (C (D)+!C !(D))))", lineinfo="@3(702[31],702[57])" *) LUT4 LessThan_6_i12_4_lut (.A(n10_adj_187), 
            .B(\y[5] ), .C(frame_switch_c_2), .D(\selected_rects_1_.top_6__N_89 ), 
            .Z(n12_adj_188));
    defparam LessThan_6_i12_4_lut.INIT = "0xe88e";
    (* lut_function="(!(A ((C)+!B)+!A !(B+!(C))))", lineinfo="@3(702[31],702[57])" *) LUT4 LessThan_34_i6_3_lut (.A(n4_adj_169), 
            .B(\y[2] ), .C(frame_switch_c_1), .Z(n6_adj_189));
    defparam LessThan_34_i6_3_lut.INIT = "0x4d4d";
    (* lut_function="(!(A (B)+!A (B+(C+(D)))))", lineinfo="@3(702[60],702[85])" *) LUT4 i909_3_lut_4_lut (.A(frame_switch_c_0), 
            .B(\y[1] ), .C(frame_switch_c_1), .D(frame_switch_c_2), .Z(n4_adj_169));
    defparam i909_3_lut_4_lut.INIT = "0x2223";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@3(702[31],702[57])" *) LUT4 LessThan_34_i8_3_lut (.A(n6_adj_189), 
            .B(\y[3] ), .C(\selected_rects[4].top[3] ), .Z(n8_adj_190));
    defparam LessThan_34_i8_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@3(702[31],702[57])" *) LUT4 LessThan_34_i10_3_lut (.A(n8_adj_190), 
            .B(\y[4] ), .C(\selected_rects[4].top[4] ), .Z(n10_adj_191));
    defparam LessThan_34_i10_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@3(702[31],702[57])" *) LUT4 LessThan_34_i12_3_lut (.A(n10_adj_191), 
            .B(\y[5] ), .C(\selected_rects[2].top[5] ), .Z(n12_adj_192));
    defparam LessThan_34_i12_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+(C+(D)))+!A (B (C+(D))))", lineinfo="@3(702[31],702[57])" *) LUT4 LessThan_34_i14_4_lut (.A(\y[6] ), 
            .B(n12_adj_192), .C(frame_switch_c_1), .D(frame_switch_c_2), 
            .Z(n14_adj_185));
    defparam LessThan_34_i14_4_lut.INIT = "0xeee8";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@3(702[31],702[57])" *) LUT4 LessThan_41_i10_3_lut (.A(n3296), 
            .B(\y[4] ), .C(\selected_rects[6].top[4] ), .Z(n10));
    defparam LessThan_41_i10_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@3(702[60],702[85])" *) LUT4 LessThan_15_i8_3_lut (.A(n6_adj_172), 
            .B(\selected_rects[4].top[3] ), .C(\y[3] ), .Z(n8_adj_194));
    defparam LessThan_15_i8_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@3(702[60],702[85])" *) LUT4 LessThan_15_i10_3_lut (.A(n8_adj_194), 
            .B(\selected_rects[4].top[4] ), .C(\y[4] ), .Z(n10_adj_195));
    defparam LessThan_15_i10_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@3(702[60],702[85])" *) LUT4 LessThan_15_i12_3_lut (.A(n10_adj_195), 
            .B(\selected_rects[2].top[5] ), .C(\y[5] ), .Z(n12_adj_196));
    defparam LessThan_15_i12_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B (C))+!A (B (C+!(D))+!B !(C+(D))))", lineinfo="@3(702[60],702[85])" *) LUT4 i690_4_lut (.A(frame_switch_c_1), 
            .B(n12_adj_196), .C(n3065), .D(frame_switch_c_2), .Z(n16_adj_197));
    defparam i690_4_lut.INIT = "0xc0c5";
    (* lut_function="(A (B+((D)+!C))+!A !(B (C)+!B (C+!(D))))", lineinfo="@3(702[60],702[85])" *) LUT4 LessThan_15_i18_4_lut (.A(n16_adj_197), 
            .B(frame_switch_c_1), .C(\y[8] ), .D(frame_switch_c_2), .Z(n18_adj_198));
    defparam LessThan_15_i18_4_lut.INIT = "0xaf8e";
    (* lut_function="(!(A ((C (D))+!B)+!A (B+!(C (D)))))" *) LUT4 i2953_3_lut_4_lut (.A(\y[6] ), 
            .B(\y[7] ), .C(frame_switch_c_1), .D(frame_switch_c_2), .Z(n3067));
    defparam i2953_3_lut_4_lut.INIT = "0x1888";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@3(702[60],702[85])" *) LUT4 LessThan_8_i10_3_lut (.A(n8_adj_181), 
            .B(\selected_rects[0].bot[4] ), .C(\y[4] ), .Z(n10_adj_199));
    defparam LessThan_8_i10_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@3(702[60],702[85])" *) LUT4 LessThan_8_i12_3_lut (.A(n10_adj_199), 
            .B(\selected_rects[1].top[5] ), .C(\y[5] ), .Z(n12_adj_183));
    defparam LessThan_8_i12_3_lut.INIT = "0x8e8e";
    (* lut_function="(A (B+!(C (D)))+!A !((C (D))+!B))", lineinfo="@3(702[31],702[57])" *) LUT4 LessThan_6_i14_4_lut (.A(n12_adj_188), 
            .B(\y[6] ), .C(frame_switch_c_2), .D(\selected_rects_1_.top_6__N_89 ), 
            .Z(n14_adj_200));
    defparam LessThan_6_i14_4_lut.INIT = "0x8eee";
    (* lut_function="(A (B (D))+!A (B (C (D))))", lineinfo="@3(702[31],702[57])" *) LUT4 i2_4_lut_adj_30 (.A(n105), 
            .B(n14_adj_184), .C(n155), .D(n14_adj_200), .Z(n3006));
    defparam i2_4_lut_adj_30.INIT = "0xc800";
    (* lut_function="(A (B (C)))", lineinfo="@3(706[25],706[32])" *) LUT4 i1_3_lut (.A(n1348), 
            .B(n18_adj_198), .C(n12_adj_4), .Z(n3011));
    defparam i1_3_lut.INIT = "0x8080";
    (* lut_function="(A (B+!(C))+!A !((C)+!B))", lineinfo="@3(702[60],702[85])" *) LUT4 LessThan_36_i10_3_lut (.A(n8_adj_181), 
            .B(\selected_rects[6].top[4] ), .C(\y[4] ), .Z(n10_adj_5));
    defparam LessThan_36_i10_3_lut.INIT = "0x8e8e";
    
endmodule

//
// Verilog Description of module frame_mux
//

module frame_mux (input frame_switch_c_0, input frame_switch_c_1, input frame_switch_c_2, 
            output \selected_rects[2].bot[3] , output \selected_rects[2].bot[8] , 
            output n1059, output \selected_rects[0].top[4] , output \selected_rects[0].bot[4] , 
            output \selected_rects[4].top[3] , output \selected_rects[2].top[4] , 
            output \selected_rects[6].top[4] , output \selected_rects[0].bot[3] , 
            output \selected_rects[2].top[5] , output \selected_rects[2].top[6] , 
            output \selected_rects_1_.top_6__N_89 , output \selected_rects[4].top[4] , 
            input \y[5] , input n10, output n12, input n10_adj_1, output n12_adj_2, 
            output \selected_rects[2].top[3] , output \selected_rects[1].top[5] , 
            output \selected_rects[0].top[3] , output \selected_rects[0].bot[2] , 
            output \selected_rects[2].bot[5] );
    
    
    (* lut_function="(A (C)+!A !((C)+!B))", lineinfo="@3(301[9],311[16])" *) LUT4 frame_switch_c_2_I_0_49_3_lut_3_lut (.A(frame_switch_c_0), 
            .B(frame_switch_c_1), .C(frame_switch_c_2), .Z(\selected_rects[2].bot[3] ));
    defparam frame_switch_c_2_I_0_49_3_lut_3_lut.INIT = "0xa4a4";
    (* lut_function="(A (B))" *) LUT4 i982_2_lut (.A(frame_switch_c_1), .B(frame_switch_c_2), 
            .Z(\selected_rects[2].bot[8] ));
    defparam i982_2_lut.INIT = "0x8888";
    (* lut_function="(A (B)+!A (B (C)))" *) LUT4 i1004_3_lut (.A(frame_switch_c_2), 
            .B(frame_switch_c_1), .C(frame_switch_c_0), .Z(n1059));
    defparam i1004_3_lut.INIT = "0xc8c8";
    (* lut_function="(!(A (B+!(C))+!A !(B)))", lineinfo="@3(301[9],311[16])" *) LUT4 frame_switch_c_2_I_0_66_3_lut_4_lut_3_lut (.A(frame_switch_c_0), 
            .B(frame_switch_c_1), .C(frame_switch_c_2), .Z(\selected_rects[0].top[4] ));
    defparam frame_switch_c_2_I_0_66_3_lut_4_lut_3_lut.INIT = "0x6464";
    (* lut_function="(A ((C)+!B)+!A !(B (C)))", lineinfo="@3(301[9],311[16])" *) LUT4 i922_3_lut (.A(frame_switch_c_0), 
            .B(frame_switch_c_1), .C(frame_switch_c_2), .Z(\selected_rects[0].bot[4] ));
    defparam i922_3_lut.INIT = "0xb7b7";
    (* lut_function="(!(A (C)+!A !((C)+!B)))", lineinfo="@3(301[9],311[16])" *) LUT4 frame_switch_c_2_I_0_19_3_lut_3_lut (.A(frame_switch_c_0), 
            .B(frame_switch_c_1), .C(frame_switch_c_2), .Z(\selected_rects[4].top[3] ));
    defparam frame_switch_c_2_I_0_19_3_lut_3_lut.INIT = "0x5b5b";
    (* lut_function="(A (B+!(C))+!A ((C)+!B))", lineinfo="@3(301[9],311[16])" *) LUT4 frame_switch_c_2_I_0_41_3_lut_4_lut_3_lut (.A(frame_switch_c_0), 
            .B(frame_switch_c_1), .C(frame_switch_c_2), .Z(\selected_rects[2].top[4] ));
    defparam frame_switch_c_2_I_0_41_3_lut_4_lut_3_lut.INIT = "0xdbdb";
    (* lut_function="(!(A ((C)+!B)+!A !(B (C))))", lineinfo="@3(301[9],311[16])" *) LUT4 i946_3_lut (.A(frame_switch_c_0), 
            .B(frame_switch_c_1), .C(frame_switch_c_2), .Z(\selected_rects[6].top[4] ));
    defparam i946_3_lut.INIT = "0x4848";
    (* lut_function="(!(A (B)+!A !(B (C))))", lineinfo="@3(301[9],311[16])" *) LUT4 frame_switch_c_2_I_0_73_3_lut (.A(frame_switch_c_1), 
            .B(frame_switch_c_2), .C(frame_switch_c_0), .Z(\selected_rects[0].bot[3] ));
    defparam frame_switch_c_2_I_0_73_3_lut.INIT = "0x6262";
    (* lut_function="(A (C)+!A (B+!(C)))", lineinfo="@3(301[9],311[16])" *) LUT4 frame_switch_c_2_I_0_40_3_lut (.A(frame_switch_c_1), 
            .B(frame_switch_c_0), .C(frame_switch_c_2), .Z(\selected_rects[2].top[5] ));
    defparam frame_switch_c_2_I_0_40_3_lut.INIT = "0xe5e5";
    (* lut_function="(A+(B))", lineinfo="@3(301[9],311[16])" *) LUT4 i959_2_lut (.A(frame_switch_c_1), 
            .B(frame_switch_c_2), .Z(\selected_rects[2].top[6] ));
    defparam i959_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B))", lineinfo="@3(301[9],311[16])" *) LUT4 i884_2_lut (.A(frame_switch_c_0), 
            .B(frame_switch_c_1), .Z(\selected_rects_1_.top_6__N_89 ));
    defparam i884_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C)+!B !(C))+!A !(B))", lineinfo="@3(301[9],311[16])" *) LUT4 frame_switch_c_2_I_0_18_3_lut_3_lut (.A(frame_switch_c_0), 
            .B(frame_switch_c_1), .C(frame_switch_c_2), .Z(\selected_rects[4].top[4] ));
    defparam frame_switch_c_2_I_0_18_3_lut_3_lut.INIT = "0x9393";
    (* lut_function="(A (C+(D))+!A (B (C (D))+!B (C+(D))))", lineinfo="@3(301[9],311[16])" *) LUT4 LessThan_41_i12_3_lut_4_lut (.A(\selected_rects_1_.top_6__N_89 ), 
            .B(frame_switch_c_2), .C(\y[5] ), .D(n10), .Z(n12));
    defparam LessThan_41_i12_3_lut_4_lut.INIT = "0xfbb0";
    (* lut_function="(!(A (C+!(D))+!A !(B ((D)+!C)+!B !(C+!(D)))))", lineinfo="@3(301[9],311[16])" *) LUT4 LessThan_36_i12_3_lut_4_lut (.A(\selected_rects_1_.top_6__N_89 ), 
            .B(frame_switch_c_2), .C(\y[5] ), .D(n10_adj_1), .Z(n12_adj_2));
    defparam LessThan_36_i12_3_lut_4_lut.INIT = "0x4f04";
    (* lut_function="(A (B (C)+!B !(C))+!A !(B (C)))", lineinfo="@3(301[9],311[16])" *) LUT4 frame_switch_c_2_I_0_42_3_lut_4_lut_3_lut (.A(frame_switch_c_0), 
            .B(frame_switch_c_1), .C(frame_switch_c_2), .Z(\selected_rects[2].top[3] ));
    defparam frame_switch_c_2_I_0_42_3_lut_4_lut_3_lut.INIT = "0x9797";
    (* lut_function="(A (B (C)+!B !(C))+!A (B+!(C)))", lineinfo="@3(301[9],311[16])" *) LUT4 frame_switch_c_2_I_0_52_3_lut_3_lut (.A(frame_switch_c_0), 
            .B(frame_switch_c_1), .C(frame_switch_c_2), .Z(\selected_rects[1].top[5] ));
    defparam frame_switch_c_2_I_0_52_3_lut_3_lut.INIT = "0xc7c7";
    (* lut_function="(A (B (C)+!B !(C))+!A ((C)+!B))", lineinfo="@3(301[9],311[16])" *) LUT4 frame_switch_c_2_I_0_67_3_lut_3_lut (.A(frame_switch_c_0), 
            .B(frame_switch_c_1), .C(frame_switch_c_2), .Z(\selected_rects[0].top[3] ));
    defparam frame_switch_c_2_I_0_67_3_lut_3_lut.INIT = "0xd3d3";
    (* lut_function="(!(A (B)+!A !(B+!(C))))", lineinfo="@3(301[9],311[16])" *) LUT4 frame_switch_c_2_I_0_55_3_lut_4_lut_3_lut (.A(frame_switch_c_0), 
            .B(frame_switch_c_1), .C(frame_switch_c_2), .Z(\selected_rects[0].bot[2] ));
    defparam frame_switch_c_2_I_0_55_3_lut_4_lut_3_lut.INIT = "0x6767";
    (* lut_function="(!(A (B (C)+!B !(C))+!A (B+!(C))))", lineinfo="@3(301[9],311[16])" *) LUT4 frame_switch_c_2_I_0_47_3_lut_3_lut (.A(frame_switch_c_0), 
            .B(frame_switch_c_1), .C(frame_switch_c_2), .Z(\selected_rects[2].bot[5] ));
    defparam frame_switch_c_2_I_0_47_3_lut_3_lut.INIT = "0x3838";
    
endmodule

//
// Verilog Description of module vgaController
//

module vgaController (output \y[5] , output [9:0]x, output n155, output n115, 
            output \y[7] , output \y[8] , output \y[6] , output \y[3] , 
            output \y[4] , output n113, output n942, output n4, output \y[1] , 
            output \y[2] , output n2976, output hsync_c, input vgaclk_c, 
            input reset_c, output \y[9] , output n16, output vsync_c, 
            output n1348, input n2990, output blank_b_c, input n53, 
            input n18, output n694, input n14, output n12, output n105, 
            input n3006, output n3071);
    
    (* is_clock=1, lineinfo="@3(3[19],3[25])" *) wire vgaclk_c;
    
    wire n11;
    (* lineinfo="@3(10[17],10[18])" *) wire [9:0]y;
    
    wire n12_c, n881, n4_c, n3311, n103;
    wire [9:0]n45;
    
    wire n19;
    wire [9:0]x_9__N_1;
    
    wire n2558, n3404, GND_net, n2560;
    wire [9:0]n35;
    
    wire n2556, n3401, n2554, n3398, n130, n8;
    wire [9:0]n46;
    
    wire n2541, n3410, n2543, n141, n140, n2552, n3395, n3392, 
        n3072, n5, n2549, n3422, n14_c, n2547, n3419, n3008, 
        n1296, n2545, n3416, n7, n4_adj_154, n1065, n3413, n3407, 
        n57, n3425, n54_adj_160, n3076, n3059, VCC_net;
    
    (* lut_function="(A+((C+(D))+!B))", lineinfo="@3(80[17],80[25])" *) LUT4 i1_4_lut (.A(n11), 
            .B(y[0]), .C(n12_c), .D(\y[5] ), .Z(n881));
    defparam i1_4_lut.INIT = "0xfffb";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut (.A(x[6]), .B(x[7]), .Z(n155));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B))", lineinfo="@3(77[15],77[23])" *) LUT4 i1_2_lut_adj_1 (.A(x[5]), 
            .B(x[8]), .Z(n4_c));
    defparam i1_2_lut_adj_1.INIT = "0x8888";
    (* lut_function="(A+(B))", lineinfo="@3(77[15],77[23])" *) LUT4 i1_rep_28_2_lut (.A(x[5]), 
            .B(x[4]), .Z(n3311));
    defparam i1_rep_28_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B+(C+(D)))+!A (B))" *) LUT4 i1_4_lut_adj_2 (.A(x[6]), 
            .B(x[7]), .C(n103), .D(n3311), .Z(n115));
    defparam i1_4_lut_adj_2.INIT = "0xeeec";
    (* lut_function="(!((B)+!A))", lineinfo="@3(77[15],77[23])" *) LUT4 i969_2_lut (.A(n45[6]), 
            .B(n19), .Z(x_9__N_1[6]));
    defparam i969_2_lut.INIT = "0x2222";
    (* lineinfo="@3(80[17],80[25])" *) FA2 vcnt_18_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(\y[7] ), .D0(n2558), .CI0(n2558), .A1(GND_net), 
            .B1(GND_net), .C1(\y[8] ), .D1(n3404), .CI1(n3404), .CO0(n3404), 
            .CO1(n2560), .S0(n35[7]), .S1(n35[8]));
    defparam vcnt_18_add_4_9.INIT0 = "0xc33c";
    defparam vcnt_18_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@3(80[17],80[25])" *) FA2 vcnt_18_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(\y[5] ), .D0(n2556), .CI0(n2556), .A1(GND_net), 
            .B1(GND_net), .C1(\y[6] ), .D1(n3401), .CI1(n3401), .CO0(n3401), 
            .CO1(n2558), .S0(n35[5]), .S1(n35[6]));
    defparam vcnt_18_add_4_7.INIT0 = "0xc33c";
    defparam vcnt_18_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@3(80[17],80[25])" *) FA2 vcnt_18_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(\y[3] ), .D0(n2554), .CI0(n2554), .A1(GND_net), 
            .B1(GND_net), .C1(\y[4] ), .D1(n3398), .CI1(n3398), .CO0(n3398), 
            .CO1(n2556), .S0(n35[3]), .S1(n35[4]));
    defparam vcnt_18_add_4_5.INIT0 = "0xc33c";
    defparam vcnt_18_add_4_5.INIT1 = "0xc33c";
    (* lut_function="(!((B)+!A))", lineinfo="@3(77[15],77[23])" *) LUT4 i968_2_lut (.A(n45[7]), 
            .B(n19), .Z(x_9__N_1[7]));
    defparam i968_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))", lineinfo="@3(77[15],77[23])" *) LUT4 i965_2_lut (.A(n45[8]), 
            .B(n19), .Z(x_9__N_1[8]));
    defparam i965_2_lut.INIT = "0x2222";
    (* lut_function="(A+(B))" *) LUT4 i2_2_lut (.A(n130), .B(x[0]), .Z(n8));
    defparam i2_2_lut.INIT = "0xeeee";
    (* lut_function="(!(((C+(D))+!B)+!A))", lineinfo="@3(78[10],78[22])" *) LUT4 i3065_4_lut (.A(n4_c), 
            .B(x[9]), .C(n8), .D(n155), .Z(n19));
    defparam i3065_4_lut.INIT = "0x0008";
    (* lut_function="(!((B)+!A))", lineinfo="@3(77[15],77[23])" *) LUT4 i964_2_lut (.A(n45[9]), 
            .B(n19), .Z(x_9__N_1[9]));
    defparam i964_2_lut.INIT = "0x2222";
    (* lut_function="(A (B))", lineinfo="@3(80[17],80[25])" *) LUT4 i1_2_lut_adj_3 (.A(n881), 
            .B(n35[0]), .Z(n46[0]));
    defparam i1_2_lut_adj_3.INIT = "0x8888";
    (* lut_function="(!((B)+!A))", lineinfo="@3(77[15],77[23])" *) LUT4 i977_2_lut (.A(n45[0]), 
            .B(n19), .Z(x_9__N_1[0]));
    defparam i977_2_lut.INIT = "0x2222";
    (* lineinfo="@3(77[15],77[23])" *) FA2 hcnt_19_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(x[1]), .D0(n2541), .CI0(n2541), .A1(GND_net), 
            .B1(GND_net), .C1(x[2]), .D1(n3410), .CI1(n3410), .CO0(n3410), 
            .CO1(n2543), .S0(n45[1]), .S1(n45[2]));
    defparam hcnt_19_add_4_3.INIT0 = "0xc33c";
    defparam hcnt_19_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(A (B+(C+(D)))+!A (B))" *) LUT4 i1_4_lut_adj_4 (.A(x[6]), 
            .B(x[7]), .C(n141), .D(x[5]), .Z(n113));
    defparam i1_4_lut_adj_4.INIT = "0xeeec";
    (* lut_function="(A (B))", lineinfo="@3(80[17],80[25])" *) LUT4 i1_2_lut_adj_5 (.A(n881), 
            .B(n35[1]), .Z(n46[1]));
    defparam i1_2_lut_adj_5.INIT = "0x8888";
    (* lut_function="(A (B))", lineinfo="@3(80[17],80[25])" *) LUT4 i1_2_lut_adj_6 (.A(n881), 
            .B(n35[2]), .Z(n46[2]));
    defparam i1_2_lut_adj_6.INIT = "0x8888";
    (* lut_function="(A (B))", lineinfo="@3(80[17],80[25])" *) LUT4 i1_2_lut_adj_7 (.A(n881), 
            .B(n35[3]), .Z(n46[3]));
    defparam i1_2_lut_adj_7.INIT = "0x8888";
    (* lut_function="(A (B))", lineinfo="@3(80[17],80[25])" *) LUT4 i1_2_lut_adj_8 (.A(n881), 
            .B(n35[4]), .Z(n46[4]));
    defparam i1_2_lut_adj_8.INIT = "0x8888";
    (* lut_function="(A (B+(C+(D)))+!A (B+(D)))", lineinfo="@3(77[15],77[23])" *) LUT4 i1_4_lut_adj_9 (.A(n140), 
            .B(x[5]), .C(x[0]), .D(x[4]), .Z(n942));
    defparam i1_4_lut_adj_9.INIT = "0xffec";
    (* lut_function="(A (B))", lineinfo="@3(80[17],80[25])" *) LUT4 i1_2_lut_adj_10 (.A(n881), 
            .B(n35[5]), .Z(n46[5]));
    defparam i1_2_lut_adj_10.INIT = "0x8888";
    (* lut_function="(A+(B (C)+!B (C (D))))", lineinfo="@3(10[14],10[15])" *) LUT4 i1324_4_lut (.A(x[3]), 
            .B(x[0]), .C(x[2]), .D(x[1]), .Z(n4));
    defparam i1324_4_lut.INIT = "0xfaea";
    (* lut_function="(A (B))", lineinfo="@3(80[17],80[25])" *) LUT4 i1_2_lut_adj_11 (.A(n881), 
            .B(n35[6]), .Z(n46[6]));
    defparam i1_2_lut_adj_11.INIT = "0x8888";
    (* lineinfo="@3(80[17],80[25])" *) FA2 vcnt_18_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(\y[1] ), .D0(n2552), .CI0(n2552), .A1(GND_net), 
            .B1(GND_net), .C1(\y[2] ), .D1(n3395), .CI1(n3395), .CO0(n3395), 
            .CO1(n2554), .S0(n35[1]), .S1(n35[2]));
    defparam vcnt_18_add_4_3.INIT0 = "0xc33c";
    defparam vcnt_18_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@3(80[17],80[25])" *) FA2 vcnt_18_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(y[0]), .D1(n3392), .CI1(n3392), .CO0(n3392), .CO1(n2552), 
            .S1(n35[0]));
    defparam vcnt_18_add_4_1.INIT0 = "0xc33c";
    defparam vcnt_18_add_4_1.INIT1 = "0xc33c";
    (* lut_function="(A (B))", lineinfo="@3(80[17],80[25])" *) LUT4 i1_2_lut_adj_12 (.A(n881), 
            .B(n35[7]), .Z(n46[7]));
    defparam i1_2_lut_adj_12.INIT = "0x8888";
    (* lut_function="(A (B+(C (D)))+!A (B))", lineinfo="@3(10[17],10[18])" *) LUT4 i1_4_lut_adj_13 (.A(\y[4] ), 
            .B(\y[5] ), .C(n3072), .D(\y[1] ), .Z(n5));
    defparam i1_4_lut_adj_13.INIT = "0xeccc";
    (* lineinfo="@3(77[15],77[23])" *) FA2 hcnt_19_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(x[9]), .D0(n2549), .CI0(n2549), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n3422), .CI1(n3422), .CO0(n3422), 
            .S0(n45[9]));
    defparam hcnt_19_add_4_11.INIT0 = "0xc33c";
    defparam hcnt_19_add_4_11.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i2958_2_lut (.A(\y[3] ), .B(\y[2] ), 
            .Z(n3072));
    defparam i2958_2_lut.INIT = "0x8888";
    (* lut_function="(!(A (B (C))+!A !(B+(C))))", lineinfo="@3(87[18],87[81])" *) LUT4 i29_3_lut (.A(x[6]), 
            .B(x[4]), .C(x[5]), .Z(n14_c));
    defparam i29_3_lut.INIT = "0x7e7e";
    (* lut_function="(A (B+(C (D))))", lineinfo="@3(10[17],10[18])" *) LUT4 i1_4_lut_adj_14 (.A(\y[8] ), 
            .B(\y[7] ), .C(\y[6] ), .D(n5), .Z(n2976));
    defparam i1_4_lut_adj_14.INIT = "0xa888";
    (* lut_function="(((C+!(D))+!B)+!A)", lineinfo="@3(87[17],87[81])" *) LUT4 i3047_4_lut (.A(x[9]), 
            .B(x[7]), .C(x[8]), .D(n14_c), .Z(hsync_c));
    defparam i3047_4_lut.INIT = "0xf7ff";
    (* syn_use_carry_chain=1, lineinfo="@3(80[17],80[25])" *) FD1P3XZ vcnt_18__i6 (.D(n46[6]), 
            .SP(n19), .CK(vgaclk_c), .SR(reset_c), .Q(\y[6] ));
    defparam vcnt_18__i6.REGSET = "RESET";
    defparam vcnt_18__i6.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(80[17],80[25])" *) FD1P3XZ vcnt_18__i5 (.D(n46[5]), 
            .SP(n19), .CK(vgaclk_c), .SR(reset_c), .Q(\y[5] ));
    defparam vcnt_18__i5.REGSET = "RESET";
    defparam vcnt_18__i5.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(80[17],80[25])" *) FD1P3XZ vcnt_18__i4 (.D(n46[4]), 
            .SP(n19), .CK(vgaclk_c), .SR(reset_c), .Q(\y[4] ));
    defparam vcnt_18__i4.REGSET = "RESET";
    defparam vcnt_18__i4.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(80[17],80[25])" *) FD1P3XZ vcnt_18__i3 (.D(n46[3]), 
            .SP(n19), .CK(vgaclk_c), .SR(reset_c), .Q(\y[3] ));
    defparam vcnt_18__i3.REGSET = "RESET";
    defparam vcnt_18__i3.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(80[17],80[25])" *) FD1P3XZ vcnt_18__i2 (.D(n46[2]), 
            .SP(n19), .CK(vgaclk_c), .SR(reset_c), .Q(\y[2] ));
    defparam vcnt_18__i2.REGSET = "RESET";
    defparam vcnt_18__i2.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(80[17],80[25])" *) FD1P3XZ vcnt_18__i1 (.D(n46[1]), 
            .SP(n19), .CK(vgaclk_c), .SR(reset_c), .Q(\y[1] ));
    defparam vcnt_18__i1.REGSET = "RESET";
    defparam vcnt_18__i1.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(77[15],77[23])" *) FD1P3XZ hcnt_19__i0 (.D(x_9__N_1[0]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[0]));
    defparam hcnt_19__i0.REGSET = "RESET";
    defparam hcnt_19__i0.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(80[17],80[25])" *) FD1P3XZ vcnt_18__i0 (.D(n46[0]), 
            .SP(n19), .CK(vgaclk_c), .SR(reset_c), .Q(y[0]));
    defparam vcnt_18__i0.REGSET = "RESET";
    defparam vcnt_18__i0.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(77[15],77[23])" *) FD1P3XZ hcnt_19__i9 (.D(x_9__N_1[9]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[9]));
    defparam hcnt_19__i9.REGSET = "RESET";
    defparam hcnt_19__i9.SRMODE = "ASYNC";
    (* lut_function="(A+(B+((D)+!C)))", lineinfo="@3(10[17],10[18])" *) LUT4 i5_4_lut (.A(\y[7] ), 
            .B(\y[8] ), .C(\y[9] ), .D(\y[1] ), .Z(n12_c));
    defparam i5_4_lut.INIT = "0xffef";
    (* lineinfo="@3(77[15],77[23])" *) FA2 hcnt_19_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(x[7]), .D0(n2547), .CI0(n2547), .A1(GND_net), 
            .B1(GND_net), .C1(x[8]), .D1(n3419), .CI1(n3419), .CO0(n3419), 
            .CO1(n2549), .S0(n45[7]), .S1(n45[8]));
    defparam hcnt_19_add_4_9.INIT0 = "0xc33c";
    defparam hcnt_19_add_4_9.INIT1 = "0xc33c";
    (* lut_function="(!(A+(B (C+!(D))+!B ((D)+!C))))" *) LUT4 i1_4_lut_adj_15 (.A(\y[4] ), 
            .B(y[0]), .C(\y[2] ), .D(\y[1] ), .Z(n3008));
    defparam i1_4_lut_adj_15.INIT = "0x0410";
    (* lut_function="(A (B+(C))+!A (B))", lineinfo="@3(10[14],10[15])" *) LUT4 i1_3_lut (.A(n130), 
            .B(n1296), .C(n4_c), .Z(n16));
    defparam i1_3_lut.INIT = "0xecec";
    (* lineinfo="@3(77[15],77[23])" *) FA2 hcnt_19_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(x[5]), .D0(n2545), .CI0(n2545), .A1(GND_net), 
            .B1(GND_net), .C1(x[6]), .D1(n3416), .CI1(n3416), .CO0(n3416), 
            .CO1(n2547), .S0(n45[5]), .S1(n45[6]));
    defparam hcnt_19_add_4_7.INIT0 = "0xc33c";
    defparam hcnt_19_add_4_7.INIT1 = "0xc33c";
    (* lut_function="(((C+!(D))+!B)+!A)", lineinfo="@3(88[17],88[81])" *) LUT4 i3050_4_lut (.A(n7), 
            .B(n3008), .C(\y[9] ), .D(\y[5] ), .Z(vsync_c));
    defparam i3050_4_lut.INIT = "0xf7ff";
    (* lut_function="(A (B+(C (D)))+!A (B))", lineinfo="@3(10[14],10[15])" *) LUT4 i1_4_lut_adj_16 (.A(x[5]), 
            .B(n1296), .C(n4_adj_154), .D(x[4]), .Z(n1348));
    defparam i1_4_lut_adj_16.INIT = "0xeccc";
    (* lut_function="(A (B)+!A (B (C)))" *) LUT4 i1010_3_lut (.A(x[7]), .B(x[9]), 
            .C(x[8]), .Z(n1065));
    defparam i1010_3_lut.INIT = "0xc8c8";
    (* lut_function="(!(A+(B+(C (D)))))" *) LUT4 i3053_4_lut (.A(\y[9] ), 
            .B(n1065), .C(\y[5] ), .D(n2990), .Z(blank_b_c));
    defparam i3053_4_lut.INIT = "0x0111";
    (* lineinfo="@3(77[15],77[23])" *) FA2 hcnt_19_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(x[3]), .D0(n2543), .CI0(n2543), .A1(GND_net), 
            .B1(GND_net), .C1(x[4]), .D1(n3413), .CI1(n3413), .CO0(n3413), 
            .CO1(n2545), .S0(n45[3]), .S1(n45[4]));
    defparam hcnt_19_add_4_5.INIT0 = "0xc33c";
    defparam hcnt_19_add_4_5.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@3(77[15],77[23])" *) FD1P3XZ hcnt_19__i8 (.D(x_9__N_1[8]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[8]));
    defparam hcnt_19__i8.REGSET = "RESET";
    defparam hcnt_19__i8.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(77[15],77[23])" *) FD1P3XZ hcnt_19__i7 (.D(x_9__N_1[7]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[7]));
    defparam hcnt_19__i7.REGSET = "RESET";
    defparam hcnt_19__i7.SRMODE = "ASYNC";
    (* lineinfo="@3(77[15],77[23])" *) FA2 hcnt_19_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(x[0]), .D1(n3407), .CI1(n3407), .CO0(n3407), .CO1(n2541), 
            .S1(n45[0]));
    defparam hcnt_19_add_4_1.INIT0 = "0xc33c";
    defparam hcnt_19_add_4_1.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@3(77[15],77[23])" *) FD1P3XZ hcnt_19__i6 (.D(x_9__N_1[6]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[6]));
    defparam hcnt_19__i6.REGSET = "RESET";
    defparam hcnt_19__i6.SRMODE = "ASYNC";
    (* lut_function="(!(A (B+!(D))+!A (B+!(C (D)))))", lineinfo="@3(10[17],10[18])" *) LUT4 i1_4_lut_4_lut (.A(\y[8] ), 
            .B(\y[9] ), .C(n53), .D(n18), .Z(n694));
    defparam i1_4_lut_4_lut.INIT = "0x3200";
    (* lut_function="(A+(B+(C (D))))", lineinfo="@3(10[17],10[18])" *) LUT4 i1_3_lut_4_lut (.A(\y[8] ), 
            .B(\y[9] ), .C(n14), .D(\y[7] ), .Z(n57));
    defparam i1_3_lut_4_lut.INIT = "0xfeee";
    (* syn_use_carry_chain=1, lineinfo="@3(77[15],77[23])" *) FD1P3XZ hcnt_19__i5 (.D(x_9__N_1[5]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[5]));
    defparam hcnt_19__i5.REGSET = "RESET";
    defparam hcnt_19__i5.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(77[15],77[23])" *) FD1P3XZ hcnt_19__i4 (.D(x_9__N_1[4]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[4]));
    defparam hcnt_19__i4.REGSET = "RESET";
    defparam hcnt_19__i4.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(77[15],77[23])" *) FD1P3XZ hcnt_19__i3 (.D(x_9__N_1[3]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[3]));
    defparam hcnt_19__i3.REGSET = "RESET";
    defparam hcnt_19__i3.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(77[15],77[23])" *) FD1P3XZ hcnt_19__i2 (.D(x_9__N_1[2]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[2]));
    defparam hcnt_19__i2.REGSET = "RESET";
    defparam hcnt_19__i2.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(77[15],77[23])" *) FD1P3XZ hcnt_19__i1 (.D(x_9__N_1[1]), 
            .SP(VCC_net), .CK(vgaclk_c), .SR(reset_c), .Q(x[1]));
    defparam hcnt_19__i1.REGSET = "RESET";
    defparam hcnt_19__i1.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(80[17],80[25])" *) FD1P3XZ vcnt_18__i9 (.D(n46[9]), 
            .SP(n19), .CK(vgaclk_c), .SR(reset_c), .Q(\y[9] ));
    defparam vcnt_18__i9.REGSET = "RESET";
    defparam vcnt_18__i9.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@3(80[17],80[25])" *) FD1P3XZ vcnt_18__i8 (.D(n46[8]), 
            .SP(n19), .CK(vgaclk_c), .SR(reset_c), .Q(\y[8] ));
    defparam vcnt_18__i8.REGSET = "RESET";
    defparam vcnt_18__i8.SRMODE = "ASYNC";
    (* lut_function="(A (B (C)))", lineinfo="@3(10[14],10[15])" *) LUT4 i1_2_lut_3_lut (.A(x[2]), 
            .B(x[1]), .C(x[3]), .Z(n140));
    defparam i1_2_lut_3_lut.INIT = "0x8080";
    (* lineinfo="@3(80[17],80[25])" *) FA2 vcnt_18_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(\y[9] ), .D0(n2560), .CI0(n2560), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n3425), .CI1(n3425), .CO0(n3425), 
            .S0(n35[9]));
    defparam vcnt_18_add_4_11.INIT0 = "0xc33c";
    defparam vcnt_18_add_4_11.INIT1 = "0xc33c";
    (* lut_function="(A (B (D)+!B (C (D)))+!A (C (D)))", lineinfo="@3(10[14],10[15])" *) LUT4 i1_3_lut_4_lut_adj_17 (.A(x[2]), 
            .B(x[1]), .C(x[3]), .D(x[8]), .Z(n4_adj_154));
    defparam i1_3_lut_4_lut_adj_17.INIT = "0xf800";
    (* lut_function="(A+(B))", lineinfo="@3(10[14],10[15])" *) LUT4 i1_2_lut_adj_18 (.A(x[3]), 
            .B(x[2]), .Z(n54_adj_160));
    defparam i1_2_lut_adj_18.INIT = "0xeeee";
    (* lut_function="(A (C)+!A (B (C)))", lineinfo="@3(10[14],10[15])" *) LUT4 i1_2_lut_3_lut_adj_19 (.A(x[1]), 
            .B(x[2]), .C(x[3]), .Z(n103));
    defparam i1_2_lut_3_lut_adj_19.INIT = "0xe0e0";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@3(10[14],10[15])" *) LUT4 i2_3_lut_4_lut (.A(x[1]), 
            .B(x[2]), .C(x[3]), .D(x[4]), .Z(n130));
    defparam i2_3_lut_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B)+!A (B (C+(D))))" *) LUT4 i2962_4_lut (.A(x[4]), 
            .B(x[6]), .C(n103), .D(x[5]), .Z(n3076));
    defparam i2962_4_lut.INIT = "0xccc8";
    (* lut_function="(A (B+(C+(D)))+!A (B))", lineinfo="@3(10[14],10[15])" *) LUT4 i1_3_lut_4_lut_adj_20 (.A(x[8]), 
            .B(x[9]), .C(x[6]), .D(x[7]), .Z(n1296));
    defparam i1_3_lut_4_lut_adj_20.INIT = "0xeeec";
    (* lut_function="(A (B))", lineinfo="@3(80[17],80[25])" *) LUT4 i1_2_lut_adj_21 (.A(n881), 
            .B(n35[8]), .Z(n46[8]));
    defparam i1_2_lut_adj_21.INIT = "0x8888";
    (* lut_function="(!((B (C)+!B (C (D)))+!A))", lineinfo="@3(10[14],10[15])" *) LUT4 i1282_4_lut (.A(n57), 
            .B(n3076), .C(x[8]), .D(x[7]), .Z(n12));
    defparam i1282_4_lut.INIT = "0x0a2a";
    (* lut_function="(A (B))", lineinfo="@3(10[17],10[18])" *) LUT4 i1_2_lut_adj_22 (.A(n881), 
            .B(n35[9]), .Z(n46[9]));
    defparam i1_2_lut_adj_22.INIT = "0x8888";
    (* lut_function="(!((B)+!A))", lineinfo="@3(77[15],77[23])" *) LUT4 i976_2_lut (.A(n45[1]), 
            .B(n19), .Z(x_9__N_1[1]));
    defparam i976_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))", lineinfo="@3(77[15],77[23])" *) LUT4 i975_2_lut (.A(n45[2]), 
            .B(n19), .Z(x_9__N_1[2]));
    defparam i975_2_lut.INIT = "0x2222";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i1_4_lut_adj_23 (.A(x[3]), 
            .B(x[5]), .C(x[4]), .D(x[2]), .Z(n105));
    defparam i1_4_lut_adj_23.INIT = "0xc8c0";
    (* lut_function="(A (B (C+(D))+!B (C)))" *) LUT4 i2945_4_lut (.A(x[6]), 
            .B(n54_adj_160), .C(x[5]), .D(x[4]), .Z(n3059));
    defparam i2945_4_lut.INIT = "0xa8a0";
    (* lut_function="(!((B+(C+!(D)))+!A))", lineinfo="@3(10[14],10[15])" *) LUT4 i2957_4_lut (.A(x[8]), 
            .B(n3059), .C(x[7]), .D(n3006), .Z(n3071));
    defparam i2957_4_lut.INIT = "0x0200";
    (* lut_function="(((C+(D))+!B)+!A)", lineinfo="@3(10[17],10[18])" *) LUT4 i4_3_lut_4_lut (.A(\y[3] ), 
            .B(\y[2] ), .C(\y[4] ), .D(\y[6] ), .Z(n11));
    defparam i4_3_lut_4_lut.INIT = "0xfff7";
    (* lut_function="(A (B (C (D))))" *) LUT4 i2_2_lut_4_lut (.A(\y[8] ), 
            .B(\y[7] ), .C(\y[6] ), .D(\y[3] ), .Z(n7));
    defparam i2_2_lut_4_lut.INIT = "0x8000";
    (* lut_function="(!((B)+!A))", lineinfo="@3(77[15],77[23])" *) LUT4 i972_2_lut (.A(n45[3]), 
            .B(n19), .Z(x_9__N_1[3]));
    defparam i972_2_lut.INIT = "0x2222";
    (* lut_function="(A (B (C (D))))", lineinfo="@3(10[14],10[15])" *) LUT4 i1_2_lut_4_lut (.A(x[2]), 
            .B(x[1]), .C(x[3]), .D(x[4]), .Z(n141));
    defparam i1_2_lut_4_lut.INIT = "0x8000";
    (* lut_function="(!((B)+!A))", lineinfo="@3(77[15],77[23])" *) LUT4 i971_2_lut (.A(n45[4]), 
            .B(n19), .Z(x_9__N_1[4]));
    defparam i971_2_lut.INIT = "0x2222";
    (* lut_function="(!((B)+!A))", lineinfo="@3(77[15],77[23])" *) LUT4 i970_2_lut (.A(n45[5]), 
            .B(n19), .Z(x_9__N_1[5]));
    defparam i970_2_lut.INIT = "0x2222";
    VHI i2 (.Z(VCC_net));
    (* syn_use_carry_chain=1, lineinfo="@3(80[17],80[25])" *) FD1P3XZ vcnt_18__i7 (.D(n46[7]), 
            .SP(n19), .CK(vgaclk_c), .SR(reset_c), .Q(\y[7] ));
    defparam vcnt_18__i7.REGSET = "RESET";
    defparam vcnt_18__i7.SRMODE = "ASYNC";
    VLO i1 (.Z(GND_net));
    
endmodule

//
// Verilog Description of module no_lock_pll
//

(* ORIG_MODULE_NAME="no_lock_pll", LATTICE_IP_GENERATED="1" *) module no_lock_pll (input int_osc, 
            input reset_c_N_145, output vgaclk_c);
    
    (* is_clock=1, lineinfo="@3(13[8],13[15])" *) wire int_osc;
    (* is_clock=1, lineinfo="@3(3[19],3[25])" *) wire vgaclk_c;
    
    (* lineinfo="@2(35[41],48[26])" *) \no_lock_pll_ipgen_lscc_pll(DIVR="3",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="48.000000") lscc_pll_inst (int_osc, 
            reset_c_N_145, vgaclk_c);
    
endmodule

//
// Verilog Description of module \no_lock_pll_ipgen_lscc_pll(DIVR="3",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="48.000000") 
//

module \no_lock_pll_ipgen_lscc_pll(DIVR="3",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="48.000000") (input int_osc, 
            input reset_c_N_145, output vgaclk_c);
    
    (* is_clock=1, lineinfo="@3(13[8],13[15])" *) wire int_osc;
    (* is_clock=1, lineinfo="@3(3[19],3[25])" *) wire vgaclk_c;
    
    wire GND_net, feedback_w;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=74, LSE_LCOL=41, LSE_RCOL=26, LSE_LLINE=35, LSE_RLINE=48, lineinfo="@2(35[41],48[26])" *) PLL_B u_PLL_B (.REFERENCECLK(int_osc), 
            .FEEDBACK(feedback_w), .DYNAMICDELAY7(GND_net), .DYNAMICDELAY6(GND_net), 
            .DYNAMICDELAY5(GND_net), .DYNAMICDELAY4(GND_net), .DYNAMICDELAY3(GND_net), 
            .DYNAMICDELAY2(GND_net), .DYNAMICDELAY1(GND_net), .DYNAMICDELAY0(GND_net), 
            .BYPASS(GND_net), .RESET_N(reset_c_N_145), .SCLK(GND_net), 
            .SDI(GND_net), .LATCH(GND_net), .INTFBOUT(feedback_w), .OUTCORE(vgaclk_c));
    defparam u_PLL_B.FEEDBACK_PATH = "SIMPLE";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_FEEDBACK = "FIXED";
    defparam u_PLL_B.FDA_FEEDBACK = "0";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_RELATIVE = "FIXED";
    defparam u_PLL_B.FDA_RELATIVE = "0";
    defparam u_PLL_B.SHIFTREG_DIV_MODE = "0";
    defparam u_PLL_B.PLLOUT_SELECT_PORTA = "GENCLK";
    defparam u_PLL_B.PLLOUT_SELECT_PORTB = "GENCLK";
    defparam u_PLL_B.DIVR = "3";
    defparam u_PLL_B.DIVF = "66";
    defparam u_PLL_B.DIVQ = "5";
    defparam u_PLL_B.FILTER_RANGE = "1";
    defparam u_PLL_B.EXTERNAL_DIVIDE_FACTOR = "NONE";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTA = "0";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTB = "0";
    defparam u_PLL_B.TEST_MODE = "0";
    defparam u_PLL_B.FREQUENCY_PIN_REFERENCECLK = "48.000000";
    VLO i1 (.Z(GND_net));
    
endmodule
